footer {
    &.storylead-2017 {
        background-color: hubl("$footerBlack");
        color: #fff;
        padding-top: 50px;
        @media (max-width: 767px) {
            padding-top: 30px;
        }
        h3,
        h4,
        h5,
        p {
            color: #fff;
        }
        p {
            margin-bottom: 30px;
            letter-spacing: .4px;
        }
        p,
        h4 {
            font-size: 16px;
            line-height: 1.2;
        }
        h4 {
            color: #fff;
            font-weight: 600;
            margin-bottom: 20px;
            margin-top: 0;
        }
        .footer-upper {
            padding-bottom: 45px;
            h3, .h3 {
                font-size: 20px;
                margin-top: 0;
                margin-bottom: 20px;
                text-transform: uppercase;
                font-weight: 600;
                letter-spacing: .4px;
                display: block;
            }
        }
        .willkommen-box,
        .shortlinks-box,
        .kontakt-box,
        .folgen-box {
            .content {
                margin-top: 5px;
            }
            @media (max-width: 767px) {
                margin-top: 20px;
            }
        }
        .willkommen-box {
            a {
                color: #fff;
                font-size: 16px;
                line-height: 1.2;
            }
        }
        .shortlinks-box {
            .content {
                margin-top: 2px;
            }
            @media (max-width: 767px) {
                .menus-wrapper {
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                }
            }
            @media (max-width: 450px) {
                .menus-wrapper {
                    flex-wrap: wrap;
                    ul {
                        margin-bottom: 20px !important;
                    }
                }
            }
            .widget-type-simple_menu {
                ul {
                    margin-bottom: 50px !important;
                }
            }
            ul {
                display: flex;
                flex-direction: column;
                li {
                    float: none !important;
                    display: inherit;
                    font-size: 16px;
                    line-height: 27px;
                    a {
                        display: inline-block;
                        color: #fff;
                        padding: 0;
                        font-size: 16px; // line-height: 27px;
                        &:before {
                            content: '»';
                            margin-right: .2em;
                            font-size: 1.2em;
                        }
                    }
                }
            }
        }
        .kontakt-box {
            h3 {
                &.form-title {
                    display: none;
                }
            }
        }
        .folgen-box {
            ul {
                &.socials {
                    display: flex;
                    flex-wrap: wrap;
                    padding: 0;
                    list-style-type: none;
                    li {
                        margin-right: 20px;
                        margin-bottom: 20px;
                        .circle {
                            width: 40px;
                            height: 40px;
                            border-radius: 3px;
                            border: 1px solid #fff;
                            position: relative;
                            transition: .3s all linear;
                            i {
                                position: absolute;
                                transition: inherit;
                                color: #fff;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                            }
                        }
                        &:hover {
                            .circle {
                                background-color: #fff;
                                i {
                                    color: hubl("$footerBlack");
                                }
                            }
                        }
                    }
                }
            }
        } // form styling - start
        form {
            .hs-form-required {
                display: none;
            }
            .hs-form-field {
                margin-bottom: 40px;
                &.hs_blog_spitzenruf_blog_subscription, &.hs_anrede {
                    margin-bottom: 20px;
                }
                .input {
                    .inputs-list.multi-container {
                        display: flex;
                        >li {
                            width: 50%;
                            font-size: 16px;
                            line-height: 24px;
                        }
                    }
                    input,
                    textarea {
                        background-color: transparent;
                        color: #fff;
                        border: none;
                        border-bottom: 1px solid #fff;
                        font-size: 16px;
                        line-height: 1.5;
                        letter-spacing: .4px;
                        padding: 0 2px;
                        border-radius: 0px;
                        -webkit-appearance: none;
                    }
                    textarea {
                        resize: horizontal;
                        min-height: 100px;
                    }
                }
                &.hs_message {
                    margin-bottom: 20px;
                }
            }
            ul {
                &.hs-error-msgs {
                    li {
                        font-size: 16px;
                        line-height: 24px;
                        margin-top: 5px;
                    }
                }
            }
            .hs_submit {
                input {
                    @extend .cta--white;
                }
            }
            select {
                display: none;
            }
            .dropdown-header,
            .dropdown-list {
                background-color: transparent;
                color: #fff;
                border: none;
                border-bottom: 1px solid #fff;
                font-size: 16px;
                line-height: 1.5;
                letter-spacing: .4px;
                padding: 0 2px;
            }
            .dropdown-header {
                padding-right: 40px;
                position: relative;
                transition: .2s linear all;
                &:after,
                &:before {
                    transition: inherit;
                    font-family: FontAwesome;
                    position: absolute;
                    bottom: 15px;
                    right: 10px;
                    width: 20px;
                    height: 20px;
                }
                &:before {
                    content: '\f106';
                    opacity: 0;
                }
                &:after {
                    content: '\f107';
                    opacity: 1;
                }
                &.slide-down {
                    &:after {
                        opacity: 0;
                    }
                    &:before {
                        opacity: 1;
                    }
                }
            }
            .dropdown-list {
                list-style-type: none;
                li {
                    display: block;
                    border-bottom: 1px solid rgba(#fff, .4);
                    &:last-of-type {
                        border-bottom: 0px;
                    }
                    &:before {
                        content: '»';
                        margin-right: .2em;
                        font-size: 1.2em;
                    }
                }
            }
             ::-webkit-input-placeholder {
                /* Chrome/Opera/Safari */
                color: #fff;
            }
             ::-moz-placeholder {
                /* Firefox 19+ */
                color: #fff;
            }
             :-ms-input-placeholder {
                /* IE 10+ */
                color: #fff;
            }
             :-moz-placeholder {
                /* Firefox 18- */
                color: #fff;
            }

            .legal-consent-container {

                a {
                    color: #fff;
                    text-decoration: underline;
                }
            }
        } // form styling - end        
        .popup-wrapper {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(hubl("$footerBlack"), 0.9);
            display: none;
            z-index: 100000;
            overflow: auto;
            .content-wrapper {
                padding: 25px;
                width: 100%;
                max-width: 530px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                form {
                    overflow-y: auto;
                }
                @media (max-width: 600px) {
                    top: 0;
                    transform: translateX(-50%);
                }
            }
            .exit {
                position: absolute;
                right: 50px;
                top: 50px;
                width: 20px;
                height: 20px;
                color: #fff;
                font-size: 40px;
                background-image: url(https://www.storylead.com/hubfs/STORYLEAD%202017/Icons/exit-btn-diamond.png);
                background-size: cover;
                background-repeat: no-repeat;
                z-index: 88;
                &:hover {
                    cursor: pointer;
                }
                @media (max-width: 580px){
                    right: 10px;
                    top: 10px;
                }
            }
        }
        .footer-bottom {
            background-color: hubl("$grey");
            padding: 25px 55px 25px 0;
            position: relative;
            p, a {
                font-size: 13px;
                text-align: left;
                color: #fff;
                margin: 0;
                span {
                    text-transform: uppercase;
                }
            }
            .arrow-up-module {
                position: absolute;
                right: 0;
                top: 0;
                height: 100%;
                width: 65px;
                background-color: #4a4949;
                transition: .1s linear all;
                .arr-up {
                    transition: inherit;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    i {
                        font-size: 30px;
                    }
                }
                &:hover {
                    cursor: pointer;
                    .arr-up {
                        top: calc(50% - 5px);
                    }
                }
            }
        }
    }
}
