form.hs-form {
    .inputs-list {
        list-style: none!important;
        li {
            label {
                position: relative;
            }
        }
    }
    .hs-form-field .input input[type="checkbox"].hs-input {
        height: 25px;
        visibility: hidden;
        +span {
            padding-left: 9px;
            &:before {
                content: "";
                position: absolute;
                top: 50%;
                left: 1px;
                display: block;
                width: 14px;
                height: 14px;
                font-family: "FontAwesome";
                background-color: transaprent;
                transform: translateY(-50%);
                border-radius: 5px;
            }
            &:after {
                content: "\f096";
                position: absolute;
                top: 50%;
                left: 1px;
                display: block;
                color: #e0e0e0;
                width: 16px;
                height: 20px;
                font-family: "FontAwesome";
                transform: translateY(-50%);
            }
        }
        &:checked {
            +span {
                &:after {
                    content: "\f14a";
                    color: #fff;
                }
            }
        }
    }
    .hs-form-field .input input[type="radio"].hs-input {
        position: relative;
        height: 15px;
        width: 15px;
        top: -6px;
        margin-right: 8px;
        visibility: hidden;
        +span {
            &:before,
            &:after {
                content: '';
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                border-radius: 50%;
            }
            &:before {
                color: #fff;
                left: 0px;
                height: 16px;
                width: 16px;
                border: 1px solid #fff;
            }
            &:after {
                width: 6px;
                height: 6px;
                left: 8px;
                transform: translate(-50%, -50%);
            }
        }
        &:checked {
            +span {
                &:before {
                    color: #fff;
                }
                &:after {
                    background-color: #fff;
                }
            }
        }
    }
    a{
      text-decoration: underline;
      font-size:12px;
      color:#fff;
    }
    .hs-error-msg{
      color:#F2545A !important;
    }
}

// NEW GDPR STUFF
form.hs-form,
form.new-select-custom, 
form#email-prefs-form {

  .legal-consent-container {
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 0px 2px;
    text-align: left;

    .hs-form-field {
      margin-top: 0px !important;
      margin-bottom: 0px !important;;

      .inputs-list {

        li {
          margin-top: 0 !important;
          padding-left: 0;

          label {
            display: block;
            font-size: 12px;
            padding-left: 14px;
          }
        }
      }

      .hs-error-msgs.inputs-list {

        li {
          padding-left: 8px;

          label {
            font-size: 12px !important;
          }
        }
      }

      .input {

        input[type="checkbox"].hs-input {
          position: absolute;
          margin-top: 0;
          top: 0;
          height: auto;

          + span {
            display: inline-block;
            padding-left: 9px;
            margin-top: 0;
            font-size: 12px;

            &:before {
              width: 8px;
              height: 10px;
              border-radius: 0px;
              top: 3px;
              left: 1px;
              transform: translateY(0);
            }

            &:after {
              width: 12px;
              height: 12px;
              top: 2px;
              left: 0;
              transform: translateY(0);
            }
          }

          &:checked {

            + span {

              &:after {
                width: 12px;
                height: 12px;
              }
            }
          }
        }
      }
    }

    .hs-richtext, li, p, span {
      margin-bottom: 0;
      font-size: 12px;
      line-height: 1.2 !important;
    }

    .hs-richtext {
      margin-top: 10px;
      margin-bottom: 3px;

      a {
        font-size: inherit;
        line-height: inherit;
        color: inherit;
        text-decoration: underline;
      }
    }
  }
}