.header {
    &--main {
        position: fixed;
        width: 100%;
        height: 70px;
        z-index: 99999;
        background-color: #fff;
        transition: all 0s linear;
        background-color: #fff;
        height: 100px;
        transform: translateZ(0);
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.24);
        &>div {
            position: relative;
            max-width: 1200px;
            padding: 0 15px;
            width: 100%;
            margin: 0 auto!important;
            float: none!important;
            display: flex!important;
            height: 100%;
            justify-content: space-between;
            align-items: center;
            .logo {
                max-width: 175px;
                img {
                    image-rendering: -webkit-optimize-contrast;
                }
            }
            .main-menu {
                ul {
                    height: 100px;
                    display: block;
                    li {
                        height: 100%;
                        display: inline-block;
                        a {
                            display: block;
                            height: 100%;
                            padding: 52px 20px 0px 20px;
                            font-size: 16px;
                            color: hubl("$first_color");
                            @media (max-width: 1400px) {
                                padding: 52px 15px 0px 15px;
                            }
                            @media (max-width: 1200px) {
                                padding: 52px 10px 0px 10px;
                            }
                            transition: all 0s linear!important;
                        }
                        &:hover {
                            a {
                                background-color: hubl("$first_color");
                                color: #fff;
                            }
                        }
                        ul.hs-menu-children-wrapper {
                            background-color: hubl("$first_color");
                            width: 100%;
                            left: 0px;
                            top: 100px;
                            position: fixed!important;
                            transition: all 0s linear!important;
                            .container {
                                background-color: transparent;
                                display: flex; 
                                justify-content: space-between;
                                height: 100%;
                                @media (min-width: 1140px) {
                                    &.centered {
                                        justify-content: center;
                                    }
                                }
                                li {
                                    background-color: transparent;
                                    a {
                                        padding-top: 40px;
                                        color: #fff;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// SLICK 
header {
    .slicknav_menu {
        display: none;
    }
    &.mobile-menu {
        height: 70px;
        .main-menu {
            display: none!important;
        }
        .widget-type-logo {
            z-index: 9999999;
            position: fixed;
            img {
                margin-top: 10px;
                max-width: 150px;
            }
        }
        .slicknav_menu {
            display: block;
            width: 100%;
            background-color: #fff;
            padding: 0px;
            .slicknav_btn {
                margin: 25px 15px;
                padding: 0px;
            }
            .slicknav_nav {
                background-color: hubl("$first_color");
                max-height: calc(100vh - 70px);
                height: 100%;
                width: 100%;
                overflow-y: auto;
                li {
                    display: block;
                    >a {
                        margin: 0px;
                        padding: 15px 10px;
                        text-align: left;
                        font-size: 16px;
                        text-transform: uppercase;
                        >a {
                            font-size: 16px;
                        }
                    }
                    a:hover {
                        border-radius: 0px;
                        background: none;
                        color: #fff;
                    }
                    .hs-menu-children-wrapper {
                        margin-left: 0px;
                        background-color: #fff;
                        .container {
                            padding: 0px;
                        }
                        a {
                            color: hubl("$first_color");
                        }
                        &>li {
                            display: block;
                        }
                        .hs-menu-children-wrapper {
                            background-color: hubl("$first_color");
                        }
                    }
                }
            }
            .slicknav_arrow {
                float: right;
                position: relative;
                color: transparent;
                height: 0px;
                width: 0;
                &:before {
                    position: absolute;
                    content: "\f105";
                    display: block;
                    font-family: FontAwesome;
                    color: #fff;
                    font-size: 28px;
                    line-height: 36px;
                    left: -30px;
                    top: -8px;
                    transition: 0.3s all linear;
                    background: none;
                }
                &:after {
                    display: none;
                }
            }
            .slicknav_open>a .slicknav_arrow:before {
                transform: rotate(90deg);
            }
        }
        .hs-form {
            padding-top: 0px;
            margin-left: 0px;
            input {
                width: 90%;
            }
        }
        &>div {
            display: block!important;
        }
    }
}

// SEARCH 
header .hs_cos_wrapper_type_google_search {
    .hs-form {
        padding-top: 48px;
        margin-left: 10px;
        width: auto;
        height: 100px;
        .input {
            position: relative;
            &:after {
                font-family: FontAwesome;
                content: "\f002";
                font-size: 20px;
                background: none;
                box-shadow: none;
                font-size: 14px;
                cursor: pointer;
                position: absolute;
                top: 5px;
                right: 12px;
                z-index: 4;
                transition: all 0.3s linear;
                pointer-events: none;
                color: hubl("$first_color");
            }
            input[type="text"] {
                border: 0;
                position: relative;
                z-index: 3;
                right: 0;
                height: 30px;
                padding-left: 15px;
                font-size: 16px;
                box-shadow: none;
                background: hubl("$cta_background");
                color: #fff;
                padding-right: 35px;
                border-radius: 20px;
                width: 0px;
                opacity: 0;
                transition: all 0.3s linear;
                &:focus {
                    opacity: 1;
                    width: 140px;
                }
            }
            a.hs-button {
                position: absolute;
                padding: 0px;
                top: 0px;
                right: 0px;
                height: 30px;
                width: 30px;
                display: block;
                z-index: 1;
                background: transparent;
            }
            &.active {
                &:after {
                    color: #fff;
                }
                a.hs-button {
                    z-index: 6;
                    cursor: pointer;
                }
            }
        }
    }
}

// SEARCH SLICK NAV 
.slicknav_menu .hs_cos_wrapper_type_google_search {
    .hs-form {
        padding-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        padding-bottom: 30px;
        height: auto;
        @media only screen and (max-width: 400px) {
            padding-bottom: 60px;
        }
        .input {
            input[type="text"] {
                background: #fff;
                color: hubl("$first_color");
                width: 100%;
                opacity: 1;
                &:focus {
                    opacity: 1;
                    width: 100%;
                    color: hubl("$first_color");
                }
            }
            a.hs-button {
                z-index: 6;
                cursor: pointer;
            }
            &.active {
                &:after {
                    color: hubl("$first_color");
                }
                a.hs-button {
                    z-index: 6;
                    background: transparent;
                }
            }
        }
    }
}