.slicknav_menu {
	display: none;
    position: fixed;
    top: 0px;
    z-index: 1000;
    right: 0px;
    background-color: transparent;
    width: 100%;
    margin: 0px;
    padding: 0px;

}

.slicknav_nav{
    width: 100%;
    max-height: calc( 100vh - 57px );
    overflow-y: auto;
}

.slicknav_btn{
    background-color:transparent;
}
.slicknav_menu .slicknav_icon-bar{
    width: 1.7em;
    height: 0.15em;
}
.slicknav_btn .slicknav_icon-bar+.slicknav_icon-bar {
    margin-top: .35em;
}