
@media (max-width:1080px) and (min-width: 767px) {
     .hs_cos_wrapper_type_custom_widget{
        .span4 {
            width: 45%;
        }
    } 
    header.header{
        #menu{
            ul{
                li{
                    &.hs-menu-depth-1{
                        a {
                            padding: 0 10px;
                        }
                    }
                }
            }
        } 
    } 
}

/* Landscape tablets and medium desktops */
@media (min-width: 1200px) and (max-width: 1300px) {
    .links{
        a{
            &:last-child{
                margin-right: 67px;
            }
        }
    }
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
    
}

@media (max-width: 1200px) {
    header.header .hs-form {
        margin-right: -20px;
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .social-footer{
        ul{
            li{
                margin:0px 55px;
            }
        }
    } 
    .links{
        a{
            &:last-child{
                margin-right: 50px;
            }
        }
    }
    .team{
        .slick-prev{
            left: 0px;
            top:27%;
        }
        .slick-next{
            right: 0px;
           top: 27%;
        }
    }    /* #menu is the original menu */

}

@media (min-width: 768px) and (max-width: 1059px) {
    .individual-project-page{
        .project-highlights{
            .social{
                width:130px;
                li{
                    padding-bottom:10px;
                }
            }
        }

    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  

    .social-footer{
        ul{
            li{
                margin:0px 35px;
            }
        }
    } 
    .links{
        a{
            &:last-child{
                margin-right: 50px;
            }
        }
    }
    .search-form{
        display: none;
    }
    .team{
        .slick-prev{
            left: 0px;
            top:26%;
        }
        .slick-next{
            right: 0px;
            top: 27%;
        }
    }
}
@media (max-width: 971px) {

        header.header .search{
        display:none;
    }
        header{
            &.header{
                #menu{
                    ul {
                        display:none;
                    }
                }
                .hs-form {
                    line-height: normal;
                    margin: 22px 15px 0 0;
                    .field{
                        a{
                            float:right;
                            margin-top:-7px;
                            font-size:20px;
                            z-index:1000;
                            &:after{
                                z-index:1000;
                            }
                        }
                    }
                }
            } 
        }
    
    .slicknav_menu {
        display:block;
        z-index: 1;
    }
    
}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .footer-info{
        >.container{
            >.span12{
                >.row-fluid-wrapper{
                    >.row-fluid{
                        display:flex;
                        flex-direction:column;
                        >.span4:last-of-type{
                            order:-1;
                        }
                    }
                }
            }
        }
    }
    .social-footer{
        .text{
            min-height:auto;
            text-align:center;
            .hs_cos_wrapper_type_text {
                position: relative;
                margin-top: -10px;
                font-weight: 400;
                max-width:350px;
                width:100%;
                text-align:center;
            }
        }
    }
    .homepage{
        .product-cta{
            .product{
                .row-fluid{
                    display:flex;
                    flex-direction: column;
                    .span5{
                        position:relative;
                        img{
                            position:relative;
                            bottom:0;
                            left:50%;
                            transform:translateX(-50%);
                        }
                    }
                }
            }
        }
        .homeslider{
            .slide{
                .content{
                    p{
                        font-size:15px;
                    }
                }
            }
        }
        .portfolio{
            .row-fluid{
                .span3 {
                    width: 100%;
                    margin: 0px;
                }
            }
        }

    } 

     .hs_cos_wrapper_type_custom_widget{
        .span4 {
            margin-right: 0;
        }
    }
    .faq{
        .questions{
            .question {
                position: static !important;
            }
        }
    }
    .our-capabilities-page{
        .our-certifications{
            padding-bottom:0px;
        }
    }
    .our-capabilities-page{
        .our-certifications{
            img{
                margin:0 auto;
                margin-bottom:50px;
                display:block;
            }
        }
        .features{
            .feature-image{
                img{
                    margin-bottom:15px;
                }
            }
        }

    .individual-project-page{
        .project-highlights{
            .project-highlights-left{
                padding:0;
                h1,h2,h3,h4{
                    margin-bottom:5px;
                }
            }
            .project-highlights-right{
                padding:0;
            }
        }
        .project-summary{
           .project-summary-left{
                    padding:0;
                    img{
                        display:block;
                        margin-left:auto;
                        margin-right:auto;
                    }
                }
           .project-summary-right{
                  padding:0
               }
        }
    }

    #hs-link-logo{
        img{
            width:188px!important;
        }
    }
    header{
        &.header{
            h1{
                &.logo{
                    a{
                        img{
                            width:188px!important;
                        }
                    }
                }
            }
            .hs-form{
                display:none;
            }
            &.fixed {
                .slicknav_nav {
                    ul{
                        padding-bottom: 17px;
                    }
                }
            }
        }
    }
    .faq{
        ul{
            &.filters{
                li{
                    margin-top:25px;
                }
            }
        }
    }
    .history{
        .dashed-line{
            text-align:center;
        }
    }
    .process-line{
        display:none!important;
    }
    .process_text{
        position:relative;
    }
    .process{
        padding-bottom: 25px;
        h3{
            margin-left:110px;
        }
        p{
            margin-left:10px;
            margin-right:10px;
            margin-top:30px;
        }
        h2{
            margin-bottom:34px;
        }
     }   
    .progress_bars{
        margin-left: -15px!important;
        background-color: white;
    }
    .about-me-skills{
        p{
            margin-bottom:65px;
        }
    }
    .see-more{
        .cta_button{
            margin:0 auto;
        }
    }
    .header-landing{
        .row-fluid{
            .span10 {
                width: 82.905982906% !important;
                float: left!important;
            }
            .span2 {
                width: 14.529914530000001% !important;
                float: left!important;
            }
        }
    }
    .social-footer{
        .triangle{
            display: none;
        }
    }
    .hs-menu-wrapper{
        &.hs-menu-flow-horizontal
            >ul{
                li{
                    &.hs-menu-depth-1{
                        float: none;
                    }
                }
           }
        }
    }
    .active-branch{
        width: 100%;
    }
    
    .expertise{
         text-align: center;   
    }
    .history{
        .dashed-line{
            width: 35%;
            float:left;
        }
        .slick-history {
            width: 65%;
            float: left;
        }
    }
    .features{
        .feature{
            text-align:center;
            i {
                margin-bottom: 15px;   
            }
        }
    }
    .faq{
        .questions {
            min-height: 420px;
            margin-top: 25px;
            border-top: 1px solid #393939;
        }
    }
    .faq-main{
        h2{
            font-size: 50px;
            color: #fff;
        }
    }
    .listing-blog{
        .single-post{
            h3{
                margin-top: 10px;
            }
        }
    }
    .team{
        .slick-prev{
            left: 0px;
            top:27%;
        }
        .slick-next{
            right: 0px;
            top: 27%;
        }
    }
    .recent{
        img{
            margin-top: 35px;
            max-width: 300px;
            margin-left: auto;
            margin-right: auto;
            float:none;
            width:100%!important;
        }
    }
    .expertise{
        .col-sm-4{
            &:before {
                background:none;
            }
        }
    }
    .flex{
        display:initial;
    }
    .what-i-do{
        ul{
            &.social{
                li{
                    a{
                       margin-right: 10px;
                    }
               }
           }
        }
    }
    .see-more{
        h2{
            text-align: center;
            padding-top: 0px;
        }
    }

    .about-me-skills{
        &:before{
            display:none;
        }
        .change-color{
            position: relative;
        }
    }
    .what-i-do{
        &:before{
          display:none;
        }
    }
    #menu{
        display:none;
    }
    
    .slicknav_menu{
        display:block;
    }
    .portfolio{
        .boxes{
            a{
                &.box{
                  height: 325px;
                  h3{
                    top:360px;
                    }
                }
            }
        }
    }
    .product{
        .iphone{
          display: none;
        }
    }
    .social-footer{
        ul{
            li{
                margin:0px 4px;
                a{ 
                    i{
                        font-size: 35px;
                    }
                }
            }
        }
        .text{
            margin-bottom: 15px;
            font-size: 21px;
        }
    }
    .slick-next{
        right: 5px;
    }
    .slick-prev{
        left: 5px;
    }
    .slick-prev, .slick-next{
        top:40%;
    }
    h1{
        font-size: 47px;
    }
    .skills{
        h3{
            &.circle-title {
               margin: 0px 0px 55px 0px;
           }
        }
    }
    .links{
        a{
            &:last-child{
              margin-right: 67px;
          }
        }
    }
    .footer {
        height: initial;
        line-height: 34px;
        overflow-x: hidden;
        .links {
            text-align: left;
            white-space: nowrap;
            a {
               line-height: inherit;
               &:first-child{
                   padding-left: 0px;
                }
            }
        }   
        .copy {
            line-height: inherit;
        }
        .scroll-top{
            height: 100%;
            width: 60px;
            i {
            }
        }
        &.footer--landing{
            .scroll-top{
                height: 60px;
                width: 60px;
                display:none;
                i {
                    line-height:60px;
                }
                &:hover i{
                    line-height:45px;
                }
            }

        }
    }

    .search-form{
        display: none;
    }    
    .mouse_scroll{
        display:none!important;
    }

}

/* Portrait phones and smaller */
@media (max-width: 415px) {
    .services-main {
        h1 {
            margin-top: 200px;
            font-size: 38px;
        }
    }
    .recent{
        img{
            max-width: 200px;
        }
    }
    
    .expertise{
        img {
            width: 100px;
            padding: 25px 0;
        }
        .span10{
            &.text {
                padding: 0;
                p {
                    padding-bottom: 20px;
                }
            }
        }
    }
    .our-capabilities-page{
        h1 {
            font-size: 40px;
        }
    }
        
    #counter{
        .cta_button {
            margin: 0 auto !important;
        }
    }
    .see-more-cta {
        width: 170px;
        padding: 10px 21px;
    }
    
    .faq-main{
        h2 {
            margin-top: 100px;
            padding: 15px;
        }
    }
    
    .our-certifications{
        img {
            width: 70px !important;
        }
    }
    .testimonials{
        .person-container{
            .person-left {
                text-align: center;
            }
            .person-right {
                text-align: center;
                padding-left: 10px;
                height: 100px;
                p{  
                    padding-top: 15px;
                }
            }
            img {
                display: inline-block;
                border-radius: 50%;
            }
            div {
                width: 100%;
                float: none;
            }
        }
    }

    .history{
        .dashed-line{
            width: 50%;
            float:left;
            margin-top: 150px;
        }
        .slick-history {
            width: 50%;
            float: left;
        }
    }
    .portfolio-blog{
        .portfolio-header{
            h2{
                font-size: 10vw;
            }
        }
    }
}
/* iphone 6S plus */
@media (max-width: 415px) and (max-height: 764px) and (min-width: 410px){
    .services-main{
        h1 {
            margin-top: 250px;
        }
    }
}
@media (max-width: 321px){
    h1 {
        font-size: 37px;
    }   
}
@media (max-width: 768px){
    .hs-menu-wrapper{
        &.hs-menu-flow-horizontal{
            >ul{
                li{
                    a{
                        display: inline-block;
                        max-width: initial;
                        width: initial;
                    }
                    &.hs-item-has-children{
                        ul{
                            &.hs-menu-children-wrapper{
                                li{
                                    a{
                                        display: inline-block;
                                        max-width: initial;
                                        width: initial;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &.hs-menu-show-active-branch{
                >ul{
                    li{
                        &.hs-item-has-children{
                            &.active-branch{
                                >ul{
                                    &.hs-menu-children-wrapper{
                                        li{
                                            a{
                                                display: inline-block;
                                                max-width: initial;
                                                width: initial;   
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }  
}