// font
@font-face {
    font-family: 'Avenir Next';
      src: url('http://cdn2.hubspot.net/hubfs/299528/WEBFONTS/2D4E4F_6_0.eot');
      src: url('http://cdn2.hubspot.net/hubfs/299528/WEBFONTS/2D4E4F_6_0.eot?#iefix') format('embedded-opentype'), url('http://cdn2.hubspot.net/hubfs/299528/WEBFONTS/2D4E4F_6_0.woff2') format('woff2'), url('http://cdn2.hubspot.net/hubfs/299528/WEBFONTS/2D4E4F_6_0.woff') format('woff'), url('http://cdn2.hubspot.net/hubfs/299528/WEBFONTS/2D4E4F_6_0.ttf') format('truetype');
  	font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next';
      src: url('http://cdn2.hubspot.net/hubfs/299528/WEBFONTS/2D4E4F_0_0.eot');
      src: url('http://cdn2.hubspot.net/hubfs/299528/WEBFONTS/2D4E4F_0_0.eot?#iefix') format('embedded-opentype'), url('http://cdn2.hubspot.net/hubfs/299528/WEBFONTS/2D4E4F_0_0.woff2') format('woff2'), url('http://cdn2.hubspot.net/hubfs/299528/WEBFONTS/2D4E4F_0_0.woff') format('woff'), url('http://cdn2.hubspot.net/hubfs/299528/WEBFONTS/2D4E4F_0_0.ttf') format('truetype');
  	font-weight: 400;
    font-style: normal;
}

// @font-face {
//     font-family: 'Avenir Next';
//       src: url('http://cdn2.hubspot.net/hubfs/299528/WEBFONTS/2D4E4F_9_0.eot');
//       src: url('http://cdn2.hubspot.net/hubfs/299528/WEBFONTS/2D4E4F_9_0.eot?#iefix') format('embedded-opentype'),url('http://cdn2.hubspot.net/hubfs/299528/WEBFONTS/2D4E4F_9_0.woff2') format('woff2'), url('http://cdn2.hubspot.net/hubfs/299528/WEBFONTS/2D4E4F_9_0.woff') format('woff'), url('http://cdn2.hubspot.net/hubfs/299528/WEBFONTS/2D4E4F_9_0.ttf') format('truetype');
//   	font-weight: normal;
//     font-style: normal;
// }

@font-face {
    font-family: 'Avenir Next';
      src: url('http://cdn2.hubspot.net/hubfs/299528/WEBFONTS/2D4E4F_3_0.eot');
      src: url('http://cdn2.hubspot.net/hubfs/299528/WEBFONTS/2D4E4F_3_0.eot?#iefix') format('embedded-opentype'), url('http://cdn2.hubspot.net/hubfs/299528/WEBFONTS/2D4E4F_3_0.woff2') format('woff2'), url('http://cdn2.hubspot.net/hubfs/299528/WEBFONTS/2D4E4F_3_0.woff') format('woff'), url('http://cdn2.hubspot.net/hubfs/299528/WEBFONTS/2D4E4F_3_0.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next';
      src: url('http://cdn2.hubspot.net/hubfs/299528/WEBFONTS/2D4E4F_B_0.eot');
	  src: url('http://cdn2.hubspot.net/hubfs/299528/WEBFONTS/2D4E4F_B_0.eot?#iefix') format('embedded-opentype'), url('http://cdn2.hubspot.net/hubfs/299528/WEBFONTS/2D4E4F_B_0.woff2') format('woff2'), url('http://cdn2.hubspot.net/hubfs/299528/WEBFONTS/2D4E4F_B_0.woff') format('woff'), url('http://cdn2.hubspot.net/hubfs/299528/WEBFONTS/2D4E4F_B_0.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next';
       src: url('http://cdn2.hubspot.net/hubfs/299528/WEBFONTS/2D4E4F_5_0.eot');
       src: url('http://cdn2.hubspot.net/hubfs/299528/WEBFONTS/2D4E4F_5_0.eot?#iefix') format('embedded-opentype'), url('http://cdn2.hubspot.net/hubfs/299528/WEBFONTS/2D4E4F_5_0.woff2') format('woff2'), url('http://cdn2.hubspot.net/hubfs/299528/WEBFONTS/2D4E4F_5_0.woff') format('woff'), url('http://cdn2.hubspot.net/hubfs/299528/WEBFONTS/2D4E4F_5_0.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}



$dev_version : true;

$mainColor: #ffc400;
$secondaryTextColor: #626262;
$font_family : 'Avenir Next',sans-serif;

@function hubl_var($var,$dev){
	@if $dev_version == false {
  		@return unquote('/*=={{ '+$var+' }}==*/');
	} @else { 
		@return $dev;
	}
}

$variables : (
			  "$first_color": #005171, 			// 1 hubl("$first_color")
			  "$second_color": #4a4949,			// 2 hubl("$second_color")
			  "$cta_background": #005171,		// 3 hubl("$cta_background")
			  "$cta_color": #ffffff,			// 4 hubl("$cta_color")
				"$cta_hover_background": #ffffff,	// 5 hubl("$cta_hover_background")
			  "$cta_hover_color": #005171,		// 6 hubl("$cta_hover_color")
			  "$main_font_color": #626262,		// 7 hubl("$main_font_color")
			  "$font": "Avenir Next",				//   hubl("$font")
			  "$footerBlack":#1c1c1c ,
				"$grey":#888888,
				"$white":#ffffff,						// white color for download page
				"$d_grey": #c3d6de,					// grey color for download page
				"$d_blue": #c1d8f9,					// blue color for download page
				"$font_d_grey": #7f9cad
			  );

// $variables : (
// 			  "$first_color": #003da8, 			// 1 hubl("$first_color")
// 			  "$second_color": #d457f2,			// 2 hubl("$second_color")
// 			  "$cta_background": #08991c,		// 3 hubl("$cta_background")
// 			  "$cta_color": #ea7500,			// 4 hubl("$cta_color")
// 			  "$cta_hover_background": #09d3ac,	// 5 hubl("$cta_hover_background")
// 			  "$cta_hover_color": #500993,		// 6 hubl("$cta_hover_color")
// 			  "$main_font_color": fuchsia,		// 7 hubl("$main_font_color")
// 			  "$font": "Palanquin"				//   hubl("$font")
// 			  );
// Pętla dodająca zmienne 'habowe' //

@if $dev_version == false {
	@each $var-name, $var-value in $variables {
		/*== {% set #{$var_name} = "#{$var_value}" %} ==*/;	
	}
}

// Metoda zmieniajace zmienne habowe na sass i odwrotnie, zależne od zmiennej dev_version //


@function hubl($var){
	@if $dev_version == false {
  		@return unquote('/*=={{ '+$var+' }}==*/');
	} @else {
		@return map-get($variables,$var);
	}
}

@function hubl_rgba($var,$alpha){
	@if $dev_version == false {
		@return unquote('/*==rgba({{ '+$var+'|convert_rgb }},'+$alpha+')==*/');
	} @else {
		@return rgba(map-get($variables,$var),$alpha);
	}
}