.counter-box-stl-wrapper>span {
    display: flex;
    justify-content: space-between;
    @media (max-width: 500px) {
        flex-wrap: wrap;
        & > div{
        	width: 100%;
        	margin: 10px 0px;
        }
    }
}

.counter-box-stl {
    text-align: center;
    @media (max-width: 1024px){
        margin: 0 7.5px;
    }
    .count-to {
        font-size: 51px;
        font-weight: 900;
        line-height: 61px;
        color: hubl("$first_color");
    }
    span {
        font-size: 51px;
        font-weight: 900;
        line-height: 61px;
        color: hubl("$first_color");
    }
    h5 {
        margin-top: 0px;
        font-size: 24px;
        color: hubl("$first_color");
        font-weight: 400;
        letter-spacing: 0.04em;
    }
    &--icon{
        img{
            margin-bottom: 20px;
        }
        h5{
            font-size: 20px;
            font-weight: 900;
            text-transform: uppercase;
        }
        .count-to{
            font-size: 72px;
            font-weight: 200;
            letter-spacing: 0.04em;
        }
    }
}