.cta-banner-stl {
    min-height: 305px;
    width: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center; // IE 11
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        height: 305px;
    } // EDGE
    @supports (-ms-ime-align:auto) {
        height: 305px;
    }
    .mask {
        z-index: 2;
        background: #000;
    }
    .content {
        position: relative;
        z-index: 3;
        color: #fff;
        padding: 20px 15px;
        text-align: center;
        p {
            font-size: 40px;
            &:first-child {
                margin-top: 0px;
            }
            &:last-child {
                margin-bottom: 0px;
            }
		}

    }
}

// iOS
.ios {
    .cta-banner-stl {
        background-attachment: scroll!important;
    }
}