.hero-banner-stl {
    min-height: 400px;
    width: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; // IE 11
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        height: 400px;
    } // EDGE
    @supports (-ms-ime-align:auto) {
        height: 400px;
    }
    .mask {
        z-index: 2;
        background: #000;
    }
    .content {
        position: relative;
        z-index: 3;
        color: #fff;
        padding: 20px 15px;
        text-align: center;
        h1,
        h2 {
            margin-top: 0px;
            font-weight: 200;
            font-size: 58px;
            color: #fff;
            @media (max-width: 767px) {
                font-size: 58px;
            }
            @media (max-width: 450px) {
                font-size: 48px;
            }
        }
        p {
            font-size: 23px;
            &:last-child {
                margin-bottom: 0px;
            }
        }
    }
}

// iOS
.ios {
    .hero-banner-stl {
        background-attachment: scroll!important;
    }
}