.stl-homepage {
	.top-section {
		margin-top: 80px;
	}
}


// SLIDER 
.main .homeslider {
	height: 750px;

	@media (max-width: 767px) {
		height: 500px;
	}

	.slide {
		position: relative;
		height: 750px;
		background-position: center;
		background-size: cover;

		@media (max-width: 767px) {
			height: 500px;
		}

		.mask {
			background-color: #000;
		}

		.content {
			padding: 0 15px;

			h1,
			h2 {

				font-size: 58px;
				color: #fff;
				text-transform: uppercase;
				text-align: center;
				width: 100%;
				display: block;
				margin: 10px auto 0px auto;
				font-weight: 400;

				span {
					font-weight: 700;
				}

				@media(min-width: 501px) and (max-width: 767px) {
					font-size: 40px;
				}
				@media (max-width: 500px) {
					font-size: 28px;
				}
			}
		}

		p {
			margin-top: 30px !important;
		}

		.cta-wrapper {
			margin-top: 55px;
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			@media (max-width: 768px) {
				margin-top: 15px;
			}

			a {
				margin: 0 22.5px 20px 22.5px;
			}
		}
	}

	.slick-dots {

		li {
			margin: 0;

			button {
				&:before {
					font-size: 30px;
					color: #fff;
				}
			}
		}
	}
}

// FEATURE BOX  SETION 
.services-box-wrapper > span {
	display: flex;
	justify-content: center;
	margin: 50px 0px 73px 0px;
	flex-wrap: nowrap;
	@media (max-width: 1024px) {
		flex-wrap: wrap;
	}

	.box-services {
		max-width: 290px;
		padding: 0 5px;
		margin: 20px 25px;
		text-align: center;

		.feature-image {
			text-align: center;

		}

		h3 {
			font-size: 20px;
			text-transform: uppercase;
			font-weight: 600;
			color: hubl("$first_color");
			margin: 30px 0px 20px 0px;

		}

		.desc {
			font-size: 20px;
		}
	}
}


// CHECK AWSOME PORTFOLIO
.homepage .portfolio {
	padding-bottom: 0px;

	h2 {
		letter-spacing: 0px;
		text-align: left;
		@media (max-width: 1024px) {
			text-align: center;
		}
	}

	.flex-wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: 1024px) {
			flex-direction: column;
		}

		a {
			@media (max-width: 1024px) {
				margin-bottom: 45px;
			}
		}
	}
}


//FEATURES 
.features-flex-wrap > span {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	& > div {
		width: 48%;
		@media (max-width: 767px) {
			width: 100%;
		}

	}
}

.features {
	margin-top: 20px;

	h2 {
		margin-bottom: 50px;
	}

	h3, p, span {
		@media (max-width: 767px) {
			text-align: center !important;
		}

	}

	img {
		@media (max-width: 767px) {
			margin-bottom: 40px !important;
		}
	}
}

// UNSERE REFERENZEN
.homepage {
	.unsere-referenzen-section {
		background-color: hubl("$first_color");

		h2 {
			color: #fff;
			text-transform: none;
			font-weight: 200;
			margin: 45px 0px;
		}
	}
}


.homepage {
	.bottom-section {
		margin-top: 115px;
		margin-bottom: 85px;

		.widget-type-rich_text {
			text-align: center;

			p {
				font-size: 36px;
			}

			img {
				margin-top: 40px;
			}

			@media (max-width: 1170px) {
				br {
					display: none;
				}
			}
		}
	}
}











