.job-offer-box-wrapper>span {
    display: flex;
   flex-wrap:wrap;
    &>div {
        width: 25%;
        height: 395px;
         @media (max-width: 1300px){
    		width: 50%;
	    }

	    @media (max-width: 676px){
	    	width: 100%;
	    }
    }

}

.job-offerbox-stl {
    width: 100%;
    height: 100%;
    padding: 30px 25px;
    background-size: cover;
    .description {
        background-color: hubl("$first_color");
        color: #fff;
        width: 285px;
        // height: 335px;
        height: 100%;
        padding: 55px 20px;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: space-between;
		border-radius: 5px;
		 @media (max-width: 425px){
	    	width: 100%;
	    }
        h4 {
        	margin-top: 0px;
            color: #fff;
        }
        span {
            color: #fff;
            text-align: left;
        }
        a{
        	display: block;
			width: 56px;
			height: 56px;
			border-radius: 50%;
			border: 2px solid #fff;
			text-align: center;
			i{
				line-height: 52px;
				font-size: 35px;
				color: #fff;
				text-indent: 3px;
			}
			&:hover{
				opacity: 0.6;
			}
        }
    }
}