.latest-posts-stl {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
    &>div {
        width: 25%;
        @media (max-width: 1300px) {
            width: 50%;
        }
        @media (max-width: 767px) {
            width: 100%;
        }
    } // SINGLE POST 
    .item {
        background-size: cover;
        position: relative;
        height: 420px;
        overflow: hidden;
        @media (max-width: 1650px) {
             height: 450px;
        }
        @media (max-width: 1450px) {
             height: 480px;
        }
        @media (max-width: 1390px) {
             height: 530px;
        }
        @media (max-width: 1300px) {
             height: 420px;
        }
        .content {
            background-color: rgba(0, 81, 113, .8);
            color: #fff;
            padding: 20px 20px;
            height: 100%;
            position: absolute;
            transition: 0.3s all linear;
            top: 275px;
            left: 0px; // cursor: pointer;
            @media (max-width: 1650px) {
                  top: 305px;
            }
            @media (max-width: 1450px) {
                  top: 335px;
            }
            @media (max-width: 1390px) {
                  top: 385px;
            }
            @media (max-width: 1300px) {
                top: 275px;
            }
            @media (max-width: 800px) {
                top: 270px;
            }
            .arr-mobile {
                display: block;
                position: absolute;
                right: 10px;
                font-size: 20px;
                top: 20px;
                @media (min-width: 768px){
                    display: none;
                }
            }
            small {
                display: block;
                font-size: 18px;
            }
            h3 {
                color: #fff;
                font-size: 24px;
                font-weight: 600;
                margin-top: 10px;
                margin-bottom: 35px;
                min-height: 55px;
                transition: 0.3s all linear;
                @media (max-width: 1360px) {
                    margin-bottom: 40px;
                    min-height: 50px;
                }
                @media (max-width: 450px) {
                    font-size: 20px;
                }
            }
            p {
                font-weight: 400;
            }
            a {
                color: #fff;
                text-align: right;
                margin-right: 0px;
                margin-left: auto;
                display: block;
                line-height: 33px;
                position: relative;
                padding-right: 35px;
                font-weight: 600;
                &:after {
                    content: '';
                    width: 17px;
                    height: 33px;
                    background-image: url('https://www.storylead.com/hubfs/STORYLEAD%202017/Icons/arrow-read-more.png');
                    background-repeat: no-repeat;
                    position: absolute;
                    right: 0px;
                    top: 0px;
                    display: block;
                    transition: 0.3s all linear;
                }
                &:hover {
                    padding-right: 40px;
                    &:after {
                        right: -5px;
                    }
                }
            }
            &:hover {
                padding: 30px 20px;
                top: 0px;
                @media (max-width: 420px) {
                    padding: 20px 20px;
                }
                h3 {
                    margin: 25px 0px 35px 0px;
                    @media (max-width: 1550px) {
                        margin: 15px 0px 15px 0px;
                    }
                    @media (max-width: 1550px) {
                        margin: 25px 0px 35px 0px;
                    }
                    @media (max-width: 835px) {
                        margin: 15px 0px 15px 0px;
                    }
                    @media (max-width: 420px) {
                        margin-top: 10px;
                        margin-bottom: 30px;
                    }
                }
                p {
                    @media (max-width: 1550px) {
                        margin: 10px 0px 10px 0px;
                    }
                    @media (max-width: 1550px) {
                        margin: 25px 0px 35px 0px;
                    }
                    @media (max-width: 835px) {
                        margin: 10px 0px 10px 0px;
                    }
                    @media (max-width: 420px) {
                        margin: 20px 0px;
                    }
                }
            }
        }
    }
}