.process-box-wrapper {
    &>span {
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: 0 auto;
        flex-wrap: wrap;
        @media (max-width: 1200px){
        	max-width: 1200px;
        	width: 100%;
        	padding: 0 15px;
        }
        &>div {
            width: 30%;
            @media (max-width: 767px) {
                width: 100%;
                margin-bottom: 20px;
            }
        }
    }
    &:before {
        content: '';
        position: relative;
        width: 60%;
        height: 1px;
        background-image: url(https://www.storylead.com/hubfs/STORYLEAD%202017/Produkte/dotted-custom_03.png);
        top: 51px;
        left: 0px;
        display: block;
        margin: 0 auto;
        animation-duration: 2s ;
        animation-name: progrss;
        animation-timing-function: ease-in-out;
        @media (max-width: 767px) {
            display: none;
        }
    }
}

.process-box {
    .icon-wrapper {
        text-align: center;
        margin-bottom: 30px;
        img {
            // margin: 0 auto;
        }
    }
    h3 {
        span {
            font-size: 40px;
            margin-right: 10px;
        }
    }
}




@keyframes progrss {
	0%{
       
        width: 0%;
    }

    100%{
                width: 60%;
    }
}