.referenzen-logo-wrapper>span {
    margin-top: 40px;
    padding-bottom: 65px;
    display: flex;
    flex-wrap: wrap;
    &>div {
        width: 25%;
        @media (max-width: 930px) {
            width: 33.33%;
        }
        @media (max-width: 686px) {
            width: 50%;
        }
        @media (max-width: 486px) {
            width: 100%;
        }
    }
}



.referenze-logo {
    max-width: 220px;
    padding: 10px;
    width: 100%;
    height: 200px;
    text-align: center;
    margin: 0 auto 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    img {
        margin: auto;
    }
    a {
        box-sizing: border-box!important;
        cursor: pointer;
        display: inline-block;
        background-color: #005171;
        border: 1px solid #005171;
        color: #fff;
        font-size: 14px;
        font-weight: 200;
        text-align: center;
        text-decoration: none;
        padding: 10px 0px;
        border-radius: 3px;
        min-width: 200px;
        -webkit-appearance: none;
        transition: all .3s linear;

        &:hover {
            background-color: #fff;

            color: #005171;
        }
    }
}