.referenzen-slider-wrapper {
	margin-top: 40px;
    padding-bottom: 65px;
    .slick-dots {
    	bottom: -60px;
        li{
            margin: 0;
            button {
                &:before {
                    font-size: 30px;
                    color: #fff;
                }
            }
        }
    }
}



.referenze-logo-slide {
    max-width: 220px;
    padding: 10px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
    img {
        margin: auto;
    }
    a {
        box-sizing: border-box!important;
        cursor: pointer;
        display: inline-block;
        background-color: transparent;
        border: 1px solid #fff;
        color: #fff;
        font-size: 14px;
        font-weight: 200;
        text-align: center;
        text-decoration: none;
        // margin-top: 10px;
        padding: 10px 0px;
        border-radius: 3px;
        min-width: 200px;
        -webkit-appearance: none;
        transition: all .3s linear;

        &:hover {
            background-color: #fff;

            color: #005171;
        }
    }
}