.single-person-stl-wrapper>span {
    display: flex;
    flex-wrap: wrap;
    &>div {
        width: 25%;
        margin-bottom: 25px;
        @media (max-width: 1024px) {
            width: 33%;
        }
        @media (max-width: 750px) {
            width: 50%;
        }
        @media (max-width: 565px) {
            width: 100%;
        }
    }
}


.single-person-stl {
    width: 215px;
    margin: 0 auto;
    .avatar {
        width: 215px;
        height: 215px;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        &:hover {
            .content {
                top: 0px;
            }
        }
        .content {
            position: absolute;
            top: 250px;
            left: 0px;
            width: 100%;
            height: 100%; // border-radius: 50%;
            background-color: hubl("$first_color");
            transition: 0.3s all linear;
            &.hover {
                top: 0px;
            }

            &.join-us {
                top: 0px;
            	background-color: rgba(0, 81, 113,.8);
               a{
               	width: 100%;
               	height: 100%;
               	display: block;
               	display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
               	 h4{
               	 	margin: 0px;
                	color: #fff;
                	font-weight: 900;
                }
                small{
               	 	margin: 0px;
                	color: #fff;
                }
               }

            }
            .social-item {
                width: 26px;
                height: 47px;
                background-color: #fff;
                text-align: center;
                position: absolute;
                transition: 0.3s all linear;
                &:hover {

                    opacity: 0.9;
                }
                a {
                    position: relative;
                    width: 26px;
                    height: 47px;
                    background-color: #fff;
                    display: block;

                    i {
                        color: hubl("$first_color");
                        line-height: 47px;
                        font-size: 25px;
                        position: absolute;
                        z-index: 40;
                        display: block;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                    &:before {
                        position: absolute;
                        top: 0px;
                        left: -14px;
                        content: '';
                        display: block;
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 23.5px 14px 23.5px 0;
                        border-color: transparent #fff transparent transparent;
                    }
                    &:after {
                        position: absolute;
                        top: 0px;
                        right: -14px;
                        content: '';
                        display: block;
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 23.5px 0px 23.5px 14px;
                        border-color: transparent transparent transparent #fff;
                    }
                }
                &.fb {
                    left: 29px;
                    top: 86px;
                }
                &.twitter {
                    left: 72px;
                    top: 61px;
                }
                &.envelope {
                    left: 115px;
                    top: 86px;
                }
                &.movie {
                    left: 158px;
                    top: 61px;
                    a {
                        display: block;
                        width: 100%;
                        height: 100%;
                        i {
                            font-size: 30px;
                            color: #f08700;
                        }
                    }
                }
                &.xing {
                    left: 72px;
                    top: 112px;
                }
                &.gplus {
                    left: 115px;
                    top: 137px;
                }
            }
        }
    }
    h4 {
        color: hubl("$first_color");
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 0px;
    }
    small {
        text-align: center;
        display: block;
    }
}