.single-testimonial-stl {
    color: #fff;
    text-align: center;
    padding: 85px 90px 40px 90px;
    max-width: 1110px;
    width: 100%;
    @media (max-width: 767px) {
        padding: 85px 50px 40px 50px;
    }
    .content p {
        position: relative;
        max-width: 910px;
        margin: 0 auto;
        small {
            position: absolute;
        }
        .start {
            top: -50px;
            left: -70px;
            @media (max-width: 767px) {
                top: -20px;
                left: -50px;
            }
        }
        .end {
            bottom: -50px;
            right: -70px;
            transform: rotate(180deg);
            @media (max-width: 767px) {
                bottom: -20px;
                right: -50px;
            }
        }
    }
    .author-box {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        @media (max-width: 410px) {
                display: block;
                text-align: center;
            }
        .avatar {
            width: 80px;
            height: 80px;
            background-size: cover;
            background-position: center center;
            border-radius: 50%;
            border: 3px solid #fff;
            margin-right: 25px;
            @media (max-width: 410px) {
                display: block;
                margin: 0 auto 20px auto;
            }
        }
        .signature {
            text-align: left;
            span {
                font-weight: 600;
            }
            @media (max-width: 410px) {
                text-align: center;
            }
        }
    }
}