.sitemap-wrapper{
	padding: 40px 0px;
	ul{
		list-style: none;
		li{
			display: block;
			a{
				margin-bottom: 5px;
				color: hubl("$main_font_color");
				display: inline-block;
				&:before{
					content: '»';
				    margin-right: .2em;
				    font-size: 1.2em;
				}
				&:hover{
					color: hubl("$first_color");
				}
			}
			&:last-child{
				display: none;
			}
		}
		ul{
			padding-left: 20px;
			li:last-child{
				display: block;
			}
		}
	}
}