/* HubSpot search feature & result page */
.hs-search-results-page  {

  .search-results-wrapper {
    margin-bottom: 20px; 

    .hs-search-field {
      margin-bottom: 50px;

      &__bar {
        position: relative;
      }

      &__input {
        font-size: 18px;
        border: 1px solid #000;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        padding: 6px 35px 6px 10px;
        height: 100%;
        -webkit-appearance: none;
      }

      &__submit {
        position: absolute;
        display: inline-block;
        font-size: 16px;
        top: 50%;
        right: 10px;
        padding: 5px;
        transform: translateY(-50%);
        -webkit-appearance: none;
        background: transparent;
        border: 0;
        cursor: pointer;
        color: hubl("$first_color");
      }

      &__suggestions {
        padding: 0;

        a {
          color: hubl("$first_color");
        }
      }

      &--open {

        .hs-search-field__suggestions {
          padding: 10px;
        }
      }
    }

    .hs-search-results {
      margin-bottom: 50px;

      &__title {
        font-size: 20px;
        color: hubl("$first_color");
        line-height: 26px;
        font-weight: 400;

        &:hover {
          text-decoration: underline;
        }
      }

      &__description {
        margin-top: 5px;
        margin-bottom: 35px;
      }

      &__prev-page, &__next-page {
        display: inline-block;
        color: hubl("$first_color");
        font-size: 18px;
        font-weight: normal;
        text-decoration: none;
        margin-bottom: 30px;
        cursor: pointer;
        transition: all .3s linear;

        &:hover {
          text-decoration: underline;
        }
      }
    }

  }

}


/* header new hs search input */
header.header {

  &--main {

    .hs-search-field {
      float: right;
      margin-bottom: 0;
      position: relative;
      padding-top: 48px;
      margin-left: 10px;
      width: auto;
      height: 100px;

      &__suggestions {
        display: none !important; 
      }

      &__bar {
        position: relative;
      }

      &__search-button {
        font-family: "FontAwesome";
        content: "\f002";
        font-size: 20px;
        background: none;
        box-shadow: none;
        font-size: 14px;
        cursor: pointer;
        position: absolute;
        right: 15px;
        top: 50%;
        z-index: 4;
        transform: translateY(-50%); 
        transition: all 0.3s linear; 
        color: hubl("$first_color");
        // color: #fff;

        &--active {
          color: #fff;
        }
      }

      form {
        // height: 70px;
        display: flex;
        align-items: center;
      }

      &__input {
        font-size: 16px;
        border: 0;
        position: relative;
        z-index: 3;
        right: 0;
        height: 30px;
        box-shadow: none;
        background: hubl("$first_color");
        color: #fff;
        padding: 0 35px 0 10px;
        border-radius: 20px;
        transition: all 0.3s linear;
        -webkit-appearance: none;
        
        width: 0;
        opacity: 0;
        // width: 140px;
        // opacity: 1;

        &::-webkit-input-placeholder {
          color: #fff;
        }

        &::-moz-placeholder {
          color: #fff;
        }

        &:-ms-input-placeholder {
          color: #fff;
        }

        &:-moz-placeholder {
          color: #fff;
        }
      }

      // &:hover .hs-search-field__input,
      // &__input:hover, &__input:focus, 
      &__input--active {
        width: 140px;
        opacity: 1;
      } 
    }
  }
}

/* mobile search */
header.header--main .slicknav_menu .hs-search-field {
	float: none;
  width: auto;
  padding-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 30px;
  height: auto;

  &__input {
    width: 100%;
    opacity: 1;
    background: #fff;
    color: #000;

    &::-webkit-input-placeholder {
      color: #7b7b7b;
    }

    &::-moz-placeholder {
      color: #7b7b7b;
    }

    &:-ms-input-placeholder {
      color: #7b7b7b;
    }

    &:-moz-placeholder {
      color: #7b7b7b;
    }
  }

  &__search-button {
    color: hubl("$first_color");    
  }
}