.header-uber-uns h2 {
    color: #005171;
    font-size: 36px;
    padding: 20px;
}

.container.filtration-wrapper {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 65px;
}

@media screen and (min--moz-device-pixel-ratio: 0) {
    .single-themen-item {
        display: table;
    }
}


.single-themen-item {
    position: relative;
    padding: 5px;
    display: block;
    @media (max-width: 650px){
        &:not(.person-active){
            display: none;
        }
    }
    a {

        width: 100%;
        height: 100%;
    }
    .hover_section.row {
        flex-direction: row;
        @media (max-width: 767px) {
            flex-direction: column;
        }
        a{  
            display: flex;
            @media (max-width: 767px){
                display: block!important;
            }
        }
        .text {
            width: 50%;
            box-sizing: border-box;
            @media (max-width: 767px) {
                width:100%;
            }
        }
        .about-me_skills-inner {
            width: 50%;
            padding: 20px;
            box-sizing: border-box;
            @media (min-width: 767px) and (max-width: 991px) {
                width: 50%;
                // padding: 10px 10px 0 10px;
            }
            @media (max-width: 767px) {
                width: 100%;
                padding: 0px 10px;
            }
            @media (max-width: 420px) {
                width: 100%;
                padding: 10px 10px 0 10px;
            }
        }
    }
    .hover_section  {
        transition: all .5s ease-in-out;
        transform: scale(0.1, 0.1) rotate(180deg);
        width: 100%;
        height: 100%;
        background: #015273;
        opacity: 0;
        display: flex;
        flex-direction: column;
        overflow: auto;
        &::-webkit-scrollbar {
            width: 3px;
        }
         
        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        }
         
        &::-webkit-scrollbar-thumb {
          background-color: darkgrey;
          outline: 1px solid slategrey;
        }
        @media (max-width: 420px) {
                padding: 10px 0px;
            }

        .text {
            color: #fff;
            padding: 20px;
            @media (min-width: 650px) and (max-width: 991px) {
                padding:10px;
            }
            @media (max-width: 650px) {
                padding: 20px;
            }
            @media (max-width: 420px) {
                padding: 10px;
            }
            h2 {
                color: #fff;
                font-size: 20px;
                padding-bottom: 20px;
                margin: 0;
                text-align: left;
                @media (min-width: 911px) and (max-width: 1200px) {
                    font-size:18px;
                    padding-bottom: 10px;
                }
                @media (min-width: 650px) and (max-width: 991px) {
                    font-size: 16px;
                    padding-bottom: 10px;
                }
                @media (max-width: 650px) {
                    font-size: 20px;
                    padding-bottom: 20px;
                }
                @media (max-width: 420px) {
                    font-size: 16px;
                    padding-bottom: 10px;
                }
            }
            h3 {
                color: #fff;
                font-size: 18px;
                margin: 0;
                @media (min-width: 911px) and (max-width: 1200px) {
                    font-size:16px;
                }
                @media (min-width: 650px) and (max-width: 991px) {
                    font-size: 14px;
                }
                @media (max-width: 650px) {
                    font-size: 18px;
                }
                @media (max-width: 420px) {
                    font-size: 14px;
                }
            }
            p {
                font-size: 16px;
                margin-bottom: 0;
                @media (min-width: 911px) and (max-width: 1200px) {
                    font-size:14px;
                    margin-top: 5px;
                }
                @media (min-width: 650px) and (max-width: 991px) {
                    font-size: 12px;
                    margin-top: 5px;
                }
                @media (max-width: 650px) {
                    font-size: 16px;
                }
                @media (max-width: 420px) {
                    font-size: 12px;
                    margin-top: 5px;
                }
            }
        }
        .about-me_skills-inner {
            padding: 0 20px;
            @media (max-width: 991px) {
                padding:0 20px;
            }
            .progress_bars {
                width: 100%;
                .wrapper-bars {
                    padding: 0;
                    margin: 0;
                    max-width:530px;
                    margin-right:20px!important;
                    h3 {
                        color: #fff;
                        font-size: 18px;
                        margin: 0 0 20px 0;
                        @media (min-width: 911px) and (max-width: 1200px) {
                            font-size:16px;
                        }
                        @media (min-width: 650px) and (max-width: 991px) {
                            font-size: 16px;
                        }
                        @media (max-width: 650px) {
                            font-size: 18px;
                            margin: 0 0 20px 0;
                        }
                        @media (max-width: 420px) {
                            font-size: 16px;
                        }
                    }
                    .wrapper-bar {
                        h4 {
                            position: relative;
                            color: #fff;
                            font-size: 14px;
                            @media (min-width: 911px) and (max-width: 1200px) {
                                font-size:12px;
                            }
                            @media (max-width: 767px) {
                                font-size: 12px;
                                margin: 8px 0;
                            }
                            @media (max-width: 650px) {
                                font-size: 14px;
                                margin: 10px 0;
                            }
                            @media (max-width: 420px) {
                                font-size: 12px;
                                margin: 8px 0;
                            }
                        }
                    }
                    .bar {
                        background-color: #80a9bc;
                        height: 6px;
                        .loading-bar {
                            height: 6px;
                            background-color: #80a9bc;
                            .circle {
                                width: 11px;
                                height: 11px;
                                background-color: #fff;
                                top: -2px;
                                span {
                                    font-size: 14px;
                                    color: #fff;
                                    @media (min-width: 911px) and (max-width: 1200px) {
                                        font-size:12px;
                                    }
                                     @media (min-width: 768px) and (max-width: 1024px) {
                                            top:10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    } // }
    h4 {
        position: absolute;
        color: #000;
        bottom: 0px;
        left: 5px;
        margin-bottom: 30px;
        font-size: 18px;
        font-weight: bold;
    }
    .thumb {
        position: absolute;
        background-size: cover;
        background-position: center center;
        width: calc(100% - 10px);
        height: calc(100% - 10px);
        border-radius: 3px;
        overflow: hidden;
        .label {
            padding: 5px 15px;
            position: absolute;
            display: inline-block;
            right: 0;
            top: 0;
            opacity: 1;
            color: #fff;
            background-color: #015273;
            &:first-child {
                margin-bottom: 3px;
                transition: .3s;
            }
        }
    }
    &:hover {
        // a {
            .hover_section {
                opacity: 1;
                transform: scale(1, 1) rotate(360deg);
            }
        // }
        .thumb {
            .label {
                opacity: 0;
                position: absolute;
            }
        }
    }
}

@media (max-width: 1024px) {
    .single-themen-item h4 {
        font-size: 16px;
    }
}

.single-themen-item.one-to-one {
    width: 25%;
    padding-bottom: calc(25%);
}

@media (max-width: 767px) {
    .wrapper-bars{
        max-width:90%!important;
        margin:auto!important;

    }
    .single-themen-item.one-to-one {
        width: 50%;
        padding-bottom: calc(50%);
    }
}

@media (max-width: 650px) {
    .single-themen-item.one-to-one {
        width: 100%;
        padding-bottom: calc(100%);
    }
}

.single-themen-item.one-to-two {
    width: 25%;
    padding-bottom: calc(50% + 5px);
}

@media (max-width: 767px) {
    .single-themen-item.one-to-two {
        width: 50%;
        padding-bottom: calc(50%);
    }
}

@media (max-width: 650px) {
    .single-themen-item.one-to-two {
        width: 100%;
        padding-bottom: calc(100%);
    }
}

.single-themen-item.two-to-two {
    width: 50%;
    padding-bottom: calc(50% + 5px);
}

@media (max-width: 767px) {
    .single-themen-item.two-to-two {
        width: 50%;
        padding-bottom: calc(50%);
    }
}

@media (max-width: 650px) {
    .single-themen-item.two-to-two {
        width: 100%;
        padding-bottom: calc(100%);
    }
}

.single-themen-item.two-to-one {
    width: 50%;
    padding-bottom: calc(25%);
}

@media (max-width: 767px) {
    .single-themen-item.two-to-one {
        width: 50%;
        padding-bottom: calc(50%);
    }
}

@media (max-width: 650px) {
    .single-themen-item.two-to-one {
        width: 100%;
        padding-bottom: calc(100%);
    }
}