.stl-survey-counter {
	position: relative;
	max-width: 100%;
	height: auto;

	@media (min-width: 768px) {
		margin-bottom: -100%;
	}

	span {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-weight: 900;
		font-size: 80px;
		line-height: 1;
		margin-top: 30px;
	}
}