.stl-product-slider {

	.container {
		@media (max-width: 1300px) {
			overflow: hidden;
		}
	}

	.hs_cos_wrapper_type_widget_container {
		& > .hs_cos_wrapper_type_custom_widget {
			display: none;
		}
	}

	.slick-slider {
		margin-bottom: 0;

		.slick-track {
			margin: auto;
		}

		.slick-arrow {
			color: hubl("$first_color");

			&.slick-prev {
				left: -70px;

				&:before {
					background-image: url('//www.storylead.com/hubfs/STORYLEAD%202017/STL%20Products%20Slider/stl-product-slide-arrow.png');
					transition: all .2s linear;
				}
			}

			&.slick-next {
				right: -70px;

				&:before {
					background-image: url('//www.storylead.com/hubfs/STORYLEAD%202017/STL%20Products%20Slider/stl-product-slide-arrow.png');
					transition: all .2s linear;
				}
			}
		}
	}

	.stl-product-slide {
		min-height: 400px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		position: relative;

		@media (max-width: 767px) {
			max-width: 380px;
			margin: auto;
		}

		&__content-wrapper {
			position: absolute;
			top: 30px;
			bottom: 30px;
			left: 25px;
			padding: 15px;
			background-color: hubl("$first_color");
			border-radius: 3px;
			max-width: 240px;
			color: #fff;

			h1, h2, h3, h4, p, span, li {
				color: inherit;
			}

			h1, h2, h3, h4 {
				font-size: 23px;
			}

			p, span, li {
				font-size: 16px;
			}
		}

			&__header {
				margin-top: 25px;
				height: 100px;
			}

			&__description {
			}

			&__button {
				position: absolute;
				bottom: 40px;
				left: 15px;

				a {
					display: block;
					text-align: center;
					color: #fff;
					width: 55px;
					height: 55px;
					border: 2px solid #fff;
					border-radius: 50%;
					font-size: 35px;
					font-weight: 400;
					transition: all .2s linear;

					i {
						margin-left: 3px;
						color: inherit;
					}

					&:hover {
						color: hubl("$first_color");
						background-color: #fff;
					}
				}
			}
	}
}