.stl-process {
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 40px;

    &__icon-wrapper {
        width: 16%;
        margin-top: 5px;
        float: left;
        @media (max-width: 991px){
            width: 20%;
        }
        @media (max-width: 767px){
            width: 16%;
        }
        @media (max-width: 480px){
            width: 25%;
        }

    &--line {
        &:after {
            position: absolute;
            display: block;
            content: "";
            height: 101%;
            width: 1px;
            background-color: #e7e7e7;
            left: 32.5px;
        }
    }
    }

    &__icon {

        &--image {
            width: 65px;
            height: auto;
        }

        &--text {
            width: 65px;
            height: 65px;
            border: 2px solid hubl("$first_color");
            border-radius: 50%;
            background-color: #fff;
            position: relative;

            & > span {
                display: block;
                position: absolute;
                color: hubl("$first_color");
                font-size: 30px;
                line-height: 1;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    &__content {
        width: 84%;
        float: left;
        @media (max-width: 991px){
            width: 80%;
        }
        @media (max-width: 767px){
            width: 84%;
        }
        @media (max-width: 480px){
            width: 75%;
        }
        
        .cta_button {
            margin-bottom: 20px;
        }
    }

        &__header {
            font-size: 35px;
            margin-bottom: 55px;
        }
}