.stl-product-video-slider {

	.hs_cos_wrapper_type_widget_container {
		& > .hs_cos_wrapper_type_custom_widget {
			display: none;
		}
	}

	.slick-slider {
		margin-bottom: 0;
	}

	.slick-track {
		margin: auto;
	}

	.slick-slide {
	}

	.stl-product-video-slide {
		position: relative;
		width: 25vw;
		height: 480px;
		overflow: hidden;

		@media (max-width: 1200px) {
			width: 33.33vw;
			min-width: 480px;
		}

		&:hover {
			.stl-product-video-slide__mask {
				opacity: 1;
				visibility: visible;
			}
		}

		&__mask {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: hubl_rgba("$first_color", 0.95);
			z-index: 2;
			opacity: 0;
			visibility: hidden;
			transition: all .2s linear;
		}

			&__button {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);

				a {
					display: inline-block;
					color: #fff;
					text-align: center;

					.play-icon {
						position: relative;
						height: 130px;
						width: 130px;
						border: 5px solid #fff;
						border-radius: 50%;
						margin-bottom: 30px;
						transition: all .2s linear;

						&:hover {
							background-color: #fff;

							i {
								color: hubl("$first_color");
							}
						}

						i {
							font-size: 60px;
							line-height: 1;
							position: absolute;
							top: 50%;
							left: 50%;
							margin-left: 5px;
							transform: translate(-50%, -50%);
							transition: all .2s linear;
						}
					}

					.play-text {
						font-size: 22px;
						text-transform: uppercase;
					}
				}
			}

		&__bg-image {
			width: 100%;
			height: 100%;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
		}

		video, iframe {
			position: absolute;
			z-index: 1;
			top: 50%;
			left: 50%;
			max-width: none;
			transform: translate(-50%, -50%);
		}

		video {
			width: auto;
			height: 480px;
		}

		iframe {
			pointer-events: none;
			width: 960px;
			height: 480px;
		}
	}
}

.iframe-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;

	iframe, object {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}