section.text-and-image-opt {
    display: flex;
    padding: 40px 0;
    @media (min-width: 768px) {
        .image-wrapper {
            width: 40%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .content-wrapper {
            width: 60%;
        }
        &.txt-left {
            .content-wrapper {
                order: 1;
                padding-right: 60px;
            }
            .image-wrapper {
                order: 2;
            }
        }
        &.txt-right {
            .content-wrapper {
                order: 2;
                padding-left: 60px;
            }
            .image-wrapper {
                order: 1;
            }
        }
    }
    @media (max-width: 767px) {
        flex-direction: column;
        padding: 25px 0;
        .image-wrapper {
            margin: 0 0 30px 0;
            max-width: 450px;
        }
    }
    .content-wrapper {
        h2 {
            text-align: left;
            margin-top: 0;
            color: hubl("$first_color");
        }
        .cta_button {
            margin-top: 20px;
        }
    }
}