.uber-stroylead {
	

	.single-person-stl-wrapper{

		margin-bottom: 50px;

	}


   	.bg-color{
   		background-color:  hubl("$first_color");
   		@media (max-width: 650px){
			display: none;
		}
   		h2,h3,p,span,small{
   			color: #fff;
   		}
   		.header-wrapper{
   			margin: 0px;
   			padding: 40px 0px;
   		}
   	}


	.counter-background {
		position: relative;
		z-index: 1;
		background-size: cover;
		background-position: center center;
		@media (max-width: 650px){
			display: none;
		}
		.mask{
			background: #000;
		}
		.counter-box-stl-wrapper{
			z-index: 3;
			position: relative;
			& > span{
				flex-wrap: wrap;
				& > div {
					margin: 0 15px;
				}
			}

		}
		.counter-box-stl--icon{
			margin: 55px auto;
			.count-to{
				color: #fff;
			}
		}
	}

	.faq{
		max-width: 1060px;
		margin: 0 auto;
		h2{
			text-align: left;
			font-weight: 200;
			margin-top: 70px;
		}
		.filters{
				li{
					a{
						padding: 5px 20px;
						margin: 5px;
						&.active{
							padding: 5px 20px;
						}
					}
				
			}
		}
		.questions{
			& > div{
				&:last-child{
					margin-bottom: 40px;
				}
			}
		}
	}


	.parallax-background{
		min-height: 585px;
		background-attachment: fixed;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		// IE 11
		@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
		   height: 585px;
		}
		// EDGE
		@supports (-ms-ime-align:auto){ 
		   height: 585px;
		}
		.container{
			@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
			   margin: 0px;
			}
			// EDGE
			@supports (-ms-ime-align:auto){ 
			   margin: 0px;
			}
		}
		.widget-type-rich_text{
			position: relative;
			z-index: 5;
			p,span,h2,h3,h4{
				color: #fff;
			}
			h2{
				margin-bottom: 50px;
				font-weight: 600;
			}
			.hs-cta-wrapper a{
				margin-top: 40px;
			}
		}
	}

	.features{
		h2{
			font-weight: 200;
			color: #626262;
		}
	}
	.bottom-section{
		margin-bottom: 70px;
		.widget-type-rich_text{
			text-align: center;
			.hs-cta-wrapper a{
				margin-top: 40px;
			}
		}
	}
}
.iso{
	.parallax-background{
		background-attachment: scroll!important;
		background-size: cover;
		background-repeat: no-repeat;
	}
}