.unsere-referenzen-subpage {
    .content-wrapper {
        margin: 60px auto 70px auto;
        .left {
            .hs_cos_wrapper_type_rich_text {
                h2 {
                    &:first-child {
                        margin-top: 0px;
                        margin-bottom: 5px;
                    }
                }
                h4 {
                    font-size: 20px;
                    font-weight: 600;
                }
                small {
                    display: inline-block;
                }
            }
        }
        .right {
            .widget-type-linked_image {
            	@media (max-width: 1024px){
					margin-top: 20px;
					text-align: center;
				}
                img {
                    margin-top: 5px;
                }
            }
        }
    }
    .counter-box-stl-wrapper {
    	padding-top: 25px;
    	border-top: 1px solid #e9e9e9; 
    }
    .testimonial-section{
    	background-color: hubl("$first_color");
    	padding: 40px 0px;
    }
}