.about-us {
	.hero-banner {
		//height: 500px;
		//background-size: cover;
		//display: flex;
		//justify-content: center;
		//align-items: center;
		//text-align: center;
		//color: #fff;
		//margin-top: 70px;
		margin-bottom: 0;
       // h1{
       //     strong{
       //         color: $mainColor;
       //     }
      //  }
	//	h2 {
	//		font-size: 23px;
	//	}
	}
	.team {
		.team-container {
			margin-top: 35px;
			margin-bottom: 50px;
			span {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				justify-content: center;
			}
		}
		h2 {
			margin-top: 50px;
			font-size: 36px;
			color: hubl("$main_font_color");
			font-weight: 200;
			text-transform: none;
			letter-spacing: 2px;
		}
	}
	.about-us-skills {
		h2 {
			color: hubl("$main_font_color");
			font-size: 40px;
			font-weight: 200;
			text-transform: none;
			margin-top: 60px;
			span {
				letter-spacing: 3px;
			}
		}
		.about-me_skills {
			
			.text-block {
				background-color: #fff;
				h3 {
					font-size: 31px;
					color: hubl("$main_font_color");
					font-weight: 200;
				}
				.text-block-content {
					margin-top: 0;
					p {
						color: hubl("$main_font_color");
					}
					
				}
			}
			.wrapper-bars {
				margin-top: 0;
				h3 {
					font-size: 31px;
					font-weight: 200;
				}
			}
		}
	}
	.separator-main {
		background-color: hubl("$first_color");
		.txt-cta-separator {
			min-height: 110px;
			.separator-content {	
				padding: 20px 0;
				h3 {
					color: #fff;
				}		
			}
		}		
	}
	.testimonials {
		h2 {
			text-transform: none;
			font-size: 40px;
			font-weight: 200;
			margin-bottom: 45px;
			letter-spacing: 2px;
		}
		.quotes-slider {
			.slick-slider {
				margin-bottom: 0;
			}
		}
	    @media (max-width: 480px) {
		    .slick-next {
	    		right: -10px;
		    }
		    .slick-prev {
		    	left: 0;
		    }
	    }
	}
	.quote {
	    color: #fff;
	    &__text {
	        padding: 0 120px;
	        font-size: 18px;
	        font-weight: 200;
	    }
	    &__details {
	        text-transform: uppercase;
	        font-size: 20px;
	    }
	    &__position {
	        color: hubl("$cta_background");
	    }
	    &__person {
	        display: flex;
	        justify-content: center;
	        align-items: center;
	        margin-top: 55px;
	    }
	    &__image {
	        margin-right: 25px;
	        border-radius: 50%;
	    }
	    @media (max-width: 480px) {
	    	&__text {
		        padding: 0 35px;
		        line-height: 1;
	    	}
	    	&__person {
	        	margin-top: 25px;
	        	padding-bottom: 0;
	    	}
	    	&__image {
	    		margin-right: 0;
	    	}
	    	&__details {
	    		margin-top: 8px;
	    	}
	    }
	}
}

