.meet-the-team {
    h2 {
        font-size: 40px;
        font-family: $font_family;
        color: hubl("$main_font_color");
        line-height: 1;
        text-align: center;
        font-weight: 400;
        letter-spacing: 0.04em;
        span {
            color: hubl("$cta_background");
            letter-spacing: 3px;
        }
        text-transform: none;
    }
    .people-wrapper {
        margin: -8px 0 73px 0;
        .hs_cos_wrapper_type_rich_text {
            font-size: 18px;
            font-weight: 400;
            color: hubl("$main_font_color");
           /* p,
            span {
                @extend .hs_cos_wrapper_type_rich_text;
            }*/
        }
    }
    .description {
        float: none;
        margin: 0 auto 53px auto;
        width: 80%;
        margin-left: auto!important;
    }
}
