.row-fluid .span3.flex-item3{
	.right-sidebar{
		.sidebar-item{
			h3{
				margin-top: 19px;
			}
		}
	}		
}
.flex-wrap .row-fluid{
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}
.cta-center-wrap{
		max-width: 100%;
		margin: 0 auto;
		margin-bottom: 40px;
		}		
.subscribe-three-column {
	padding-top: 0px;
	padding-bottom: 30px;
	
	h3.form-title{
		font-size: 23px;
		color: hubl("$main_font_color");
		font-weight: 400;
		margin: 0;
		padding-top: 20px;
	}
	ul{
		margin-top: 5px;
		list-style: none;

	}
	input[type="submit"]{
		width: 137px;
		height: 43px;
		background: hubl("$cta_background");
		border: 2px solid hubl("$cta_background");
		border-radius: 5px;
		color: #fff;
		margin-top: 23px;
		padding: 0 !important;
				&:hover{
			background: hubl("$cta_hover_background");
		}
	}
	input[type="email"]{
		border: none;
		border-bottom: 2px solid hubl("$cta_background");
		font-size: 16px;
		font-weight: 300px;
		color: hubl("$main_font_color");
	}
	.hs-error-msgs{
		li{
		color: hubl("$main_font_color");
		font-size: 16px;
		a{
			font-size: 16px;	
		}
		}
	}

}

.recent-post-three-column{
	border-top: solid 1px #ebebeb;
	border-bottom: solid 1px #ebebeb;
   	padding-bottom:  5px;
   	margin-bottom:  38px;
	ul{
		list-style: none;
		li{
			padding-bottom: 25px;
			a{ 
				color: hubl("$main_font_color");
				cursor: pointer;

				&:before{
					content: '>>';
					padding-right: 5px;
				}
				&:hover{
					color: hubl("$cta_background");
				}
			}
		}
	}
	h3{
		font-size: 23px;
		color: hubl("$main_font_color");
		font-weight: 400;
		margin: 0;
		margin-top: 30px;
		padding-bottom: 25px;
	
	}
}

.center-three-column{ 
	border-right: solid 1px #f7f7f7;
	border-left: solid 1px #f7f7f7;
	padding: 0px 31px;
	margin: 0px 0px 30px 0px;

	h2{
		margin-top:15px;	
	}

	.img-wrap-basic{
		padding-right: 20px;
		margin: 0 auto;
		img{
			box-shadow: 20px 20px 0px hubl("$cta_background");
	    	margin-top: 14px;
	    	margin-bottom: 54px;
	    	box-sizing: border-box;
		}
	}
}

.right-sidebar{
	padding-top: 300px;
	max-width: 292px;
	.sidebar-item{
		
		margin-bottom: 25px;
		border-bottom: solid 1px #f7f7f7;
	
		h3{
			font-size: 23px;
			text-align: left;
			text-transform: none;
			font-weight: 400;	
		}
		p{
			font-size: 18px;
			font-weight: 200;
		}
	}
}

@media only screen and (max-width : 1024px) {

	.row-fluid .span3.flex-item1{ 
		padding-left: 20px;
		order: 3;
		-webkit-order: 3; 
		width: 50%;
		margin-bottom: 30px;
		.subscribe-three-column{
			display: none;
		}
		.recent-post-three-column{
			border-top: none;
			padding-top: 0px;
			h3{
				margin-top: 20px;
				padding-bottom: 25px;
			}

		}

	}
	.row-fluid .span6.flex-item2{ 
		width: 100%;
		order: 1; 
		-webkit-order: 1;
		margin-left: 0;

		.center-three-column{
			border: none;
			border-bottom: solid 1px #ebebeb;
			padding-left: 0px;
			padding-right: 0px;
			padding-bottom: 25px;
		}
	}
	.row-fluid .span3.flex-item3{
		margin-left: 0px;
		order: 2; 
		-webkit-order: 2;
		width: 50%;
		border-right: solid 1px #ebebeb;
		margin-bottom: 30px;
		.right-sidebar{
			padding: 0px 10px;
			max-width: 100%;
		}
		
	}
}


@media only screen and (max-width : 768px) {
	
	.row-fluid .span3.flex-item1{ 
		padding-left: 20px;
		order: 3; 
		-webkit-order: 3;
		width: 100%;
		margin-bottom: 30px;
		.left-sidebar {
	    width: 100%;
	    margin-left: 0px;
		
			.subscribe-three-column{
				display: none;

			}
			.recent-post-three-column{
				width: 100%;
				border-bottom: solid 1px #ebebeb;
				border-top: solid 1px #ebebeb;
				h3{
					margin-top: 20px;
					padding-bottom: 25px;
				}

			}
		}
	}
	.row-fluid .span6.flex-item2{ 
		width: 100%;
		order: 1; 
		-webkit-order: 1;
		margin-left: 0;
		.center-three-column{
			border: none;
			border-bottom: solid 1px #ebebeb;
			padding-left: 0px;
			padding-right: 0px;
			padding-bottom: 25px;
		}

	}
	.row-fluid .span3.flex-item3{
		margin-left: 0;
		order: 2; 
		-webkit-order: 2;
		width: 100%;
		border-right: none;
		margin-bottom: 30px;
		.right-sidebar{
			padding: 0px 10px;
			max-width: 100%;
			.sidebar-item{
				h3{
					
				}
			}
		}
		
	}
	.right-sidebar{
		.sidebar-item{
			border-top: none;
			border-bottom: none;
		}
	}
}

















