.center-three-column-equal{ 
	padding: 0px 0px;
	margin: 0px 0px 20px 0px;
	
	h2{
		margin-top:15px;	
	}
	.img-wrap-basic{
		margin: 0 auto;
		img{
	    	margin-top: 14px;
	    	margin-bottom: 34px;
		}
	}
}
.right-sidebar-equal{
	padding-top: 0px;
	max-width: 100%;
	
	.sidebar-item{
		
		margin-bottom: 25px;
		border-bottom: solid 1px #f7f7f7;
	
		h3{
			font-size: 23px;
			text-align: left;
			text-transform: none;
			font-weight: 400;	
		}
		p{
			font-size: 18px;
			color: hubl("$main_font_color");
			font-weight: 400;
		}
	}
	.cta-box {
	    width: 360px;
	    max-width: 360px;
	    background-size: cover !important;
	    height: 328px;
	    @media only screen and (max-width : 400px) {
			width: auto;
	    }
	    .cta-wrap{
	    	margin: 0 auto;
	    }
	}
}

@media only screen and (max-width : 1024px) {

	.row-fluid .span4.flex-item1{ 
		padding-left: 20px;
		order: 3;
		-webkit-order: 3; 
		width: 50%;
		margin-bottom: 30px;
		.subscribe-three-column{
			display: none;
		}
		.recent-post-three-column{
			border-top: none;
			padding-top: 0px;
			h3{
				margin-top: 20px;
				padding-bottom: 25px;
			}

		}

	}
	.row-fluid .span4.flex-item2{ 
		width: 100%;
		order: 1; 
		-webkit-order: 1;
		margin-left: 0;

		.center-three-column-equal{
			border: none;
			border-bottom: solid 1px #ebebeb;
			padding-left: 0px;
			padding-right: 0px;
			padding-bottom: 25px;
		}
	}
	.row-fluid .span4.flex-item3{
		margin-left: 0px;
		order: 2; 
		-webkit-order: 2;
		width: 50%;
		border-right: solid 1px #ebebeb;
		margin-bottom: 30px;
		.right-sidebar-equal{
			padding: 0px 10px;
			max-width: 100%;
		}
		
	}
	
}

@media only screen and (max-width : 768px) {
	
	.row-fluid .span4.flex-item1{ 
		padding-left: 20px;
		order: 3; 
		-webkit-order: 3;
		width: 100%;
		margin-bottom: 30px;
		.left-sidebar {
	    width: 100%;
	    margin-left: 0px;
		
			.subscribe-three-column{
				display: none;

			}
			.recent-post-three-column{
				width: 100%;
				border-bottom: solid 1px #ebebeb;
				border-top: solid 1px #ebebeb;
				h3{
					margin-top: 20px;
					padding-bottom: 25px;
				}

			}
		}
	}
	.row-fluid .span4.flex-item2{ 
		width: 100%;
		order: 1; 
		-webkit-order: 1;
		margin-left: 0;
		.center-three-column-equal{
			border: none;
			border-bottom: solid 1px #ebebeb;
			padding-left: 0px;
			padding-right: 0px;
			padding-bottom: 25px;
		}
	}
	.row-fluid .span4.flex-item3{
		margin-left: 0;
		order: 2; 
		-webkit-order: 2;
		width: 100%;
		border-right: none;
		border-top:none;
		margin-bottom: 30px;
		.right-sidebar-equal{
			padding: 0px 10px;
			max-width: 100%;
		}
		
	}
	.right-sidebar-equal{
		.sidebar-item{
			border-top: none;
			border-bottom: none;
		}
	}
}

/* Safari 7.1+ (9.0 is the latest version of Safari at this time) */


@media only screen and (min-width : 1024px) {


		_::-webkit-full-page-media, _:future, :root .three-column-safari-wrap .row-fluid .span4 {

		  width: 31%;

		}

		_::-webkit-full-page-media, _:future, :root .three-column-safari-wrap .row-fluid .span3 {

		  width: 22%;

		}

}









