.case-study-single-website{
	.hero-banner{
		margin-bottom: 0px;
		h2{
			width: 100%;
			float: none;
		}
	}
	.case-study-body .post-head{
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		@media (max-width: 600px) {
    		flex-direction: column;
    	}
		h2{
			width: 100%;
			float: none;
		}
	}
	.project-info-table{
		ul{
			margin-top: 25px;
			list-style: none;
			padding-left: 0px;
			li{
				margin-bottom: 4px;	
			    font-size: 16px;
			    font-weight: 400;
			    strong{
			    	width: 110px;
    				font-weight: 500;	
    				display: inline-block;		    
    			}
    			a{
					font-size: 16px;
					color: hubl("$main_font_color");
					&:hover{
						text-decoration: none;
						color: hubl("$first_color");
					}
    			}
				&:before{
					display: none;
				}
			}
		}
	}
	.case-study-slider{
		.hs_cos_flex-slider{
			margin-bottom: 10px;
		}
		.hs_cos_flex-direction-nav{

			li{
				a{
					opacity: 1;
					background-color: hubl("$first_color");
					background-image: none;
					width: 40px;
					height: 40px;
					text-indent: 0px;
					color: rgba(0,0,0,0);
					&:before{
						 -webkit-font-smoothing: antialiased;
   						 -moz-osx-font-smoothing: grayscale;
						opacity: 0.75;
						text-align: center;
						padding-top: 2px;
					    width: 40px;
					    height: 40px;
					    font-size: 34px;
					    color: #FFF;
					    content: "\f104";
					    font-family: "FontAwesome";
					    background-image: none;
					    line-height: 40px;
					}
					&:hover{
						&:before{
							opacity: 1;
						}
					}
				}
				.hs_cos_flex-next{
					right: 0px;
				    &:before{
						content: "\f105";
						margin-left: 15px;					
					}
				}
				.hs_cos_flex-prev{
					left: 0px;
					&:before{
						content: "\f104";	
						margin-left: 12px;					
					}
				}
			}
		}
	}
	
}











