.stl-lp-2017 {

    section {
        position: relative;
        float: left;
        width: 100%;
    }

    .body-container-wrapper {
        margin-top:0;
    }

    .header--main {
        background:transparent;
        box-shadow: none;
        transition: .3s ease-in-out;
        height: 150px;
        > div {
            > div {
                &:first-child {
                    margin:0 auto;
                }
            }
        }
        &.header--white {
            background-color: white;
            height: 100px;
        }
        &.mobile-menu {
             .widget-type-logo {
                 margin: 0 auto;
                position: static;
                float:none;
            }
        }
    }

    .hero-banner-landing {
        padding-top:120px;
        // overflow: hidden;
        overflow: visible;

        .blur {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        .opacity-bg {
            background: rgba(0,0,0,0.75);
        }
        .form-placeholder {
            h3 {
                color: white;
            }
            .hero-banner-form {
                background: transparent;
                .hs-form-field {
                    color: white;
                    .input {
                        input {
                            &[type="checkbox"] {
                                +span {
                                    &:before {
                                        background: transparent;
                                    }
                                }
                                &:checked {
                                    +span {
                                        &:before {
                                            background:transparent;
                                        }
                                        &:after {
                                            color: white;
                                            font-size: 10px;
                                            content: '\f00c';
                                        }
                                    }
                                }
                            }
                            &[type="radio"] {
                                &:checked {
                                    +span {
                                        &:before {
                                            border-color:white;
                                        }
                                        &:after {
                                        background-color: white;
                                        }
                                    }
                                }
                            }
                        }

                        &.dropdown_select {
                            position: relative;
                            .dropdown-list {
                                position:absolute;
                                height: auto;
                            }
                        }
                    }
                }
            }
        }

            .clock-wrap {
                z-index: 2;
                border: 2px solid #005171;
                border-radius: 10px;
                max-width: 972px;
                width: 95%;
                height: 198px;
                display: table;
                margin:0 auto;
                .clock {
                    padding: 10px;
                    width: 100%;
                    color: #fff;
                    display: flex;
                    justify-content: center;
                    margin-top: -15px;
                    font-size: 70px;
                    span {
                        display: block;
                        float: left;
                        margin: 0 5px;
                        text-align: center;
                        width: 20%;
                        strong {
                            display: block;
                            font-size: 100px;
                            font-weight: 200;
                            padding: 0;
                            margin: 0;
                            margin-top:15px;
                            line-height: 135px;
                            width: 100%;
                        }
                        small {
                            display: block;
                            font-size: 25px;
                            text-transform: uppercase;
                            font-weight: 200;
                            padding: 0;
                            margin: 0;
                            margin-top: 15px;
                        }
                    }
                    p {
                        display: block;
                        margin: 0;
                        padding: 0;
                        float: left;
                        font-size: 130px;
                        line-height: 135px;
                        padding: 0 2%;
                    }
                }
                .after-clock {
                display: table-cell;
                margin: 0;
                text-align: center;
                vertical-align: middle;
                }
            }
        

        @media only screen and (max-width: 580px) {
            clock-wrap {
                height: 298px;
            }
        }

        @media only screen and (max-width: 768px) {
            .clock-wrap .clock {
                margin-top: 5px;
            }
        }

        @media only screen and (max-width: 580px) {
            .clock-wrap .clock {
                flex-wrap: wrap;
            }
        }

        @media only screen and (max-width: 768px) {
            .clock-wrap .clock span {
                width: 20%;
            }
        }

        @media only screen and (max-width: 580px) {
            .clock-wrap .clock span {
                width: 35%;
            }
        }

        @media only screen and (max-width: 768px) {
            .clock-wrap .clock span strong {
                font-size: 70px;
                line-height: 95px;
            }
        }

        @media only screen and (max-width: 580px) {
            .clock-wrap .clock span small {
                font-size: 18px;
                margin-top: 5px;
            }
        }

        @media only screen and (max-width: 768px) {
            .clock-wrap .clock p {
                font-size: 90px;
                line-height: 95px;
                padding: 0 5px;
            }
        }

        @media only screen and (max-width: 580px) {
            .clock-wrap .clock p:nth-child(4) {
                display: none;
            }
        }

        @media only screen and (max-width: 480px) {
        .clock-wrap .after-clock {
            font-size: 40px;
        }
        }

    }

    .landing-offer {
        .hero-banner-landing {
            .container {
                display: block;
                .hero-banner-wrap {
                    margin: 0 auto;
                    display:block;
                    width: 100%;
                    max-width: 900px;
                    text-align: center;
                    h1 {
                         text-align: center;
                    }
                    p {
                        margin:0 auto;
                        text-align: center;
                        width: 100%;
                        max-width: 100%;
                    }
                }
                .form-placeholder {
                    margin: 0 auto;
                    width: 100%;
                    max-width: 700px;
                }
                .copyright {
                    text-align: center;
                    color: white;
                    text-transform: uppercase;
                    margin: 30px 0;
                }
            }
        }
    }


    .landing-video {
        .hero-banner-landing {
            padding-top:0;
            > section {
                position:relative;
                &.top {
                    padding-top:120px;
                    .opacity-bg-darker {
                        background: rgba(0, 0, 0, 0.70);
                        position:absolute;
                        top:0;
                        left:0;
                        width: 100%;
                        height: 100%;
                    }
                }
                &.bottom {
                    .opacity-bg {
                        background: rgba(0, 0, 0, 0.5);
                    }
                }
            }
            
            .container {
                display: block;
                .hero-banner-wrap {
                    margin: 0 auto;
                    display:block;
                    width: 100%;
                    max-width: 900px;
                    text-align: center;
                    h1 {
                        font-weight: bold;
                         text-align: center;
                    }
                    p {
                        margin:0 auto;
                        text-align: center;
                        width: 100%;
                        max-width: 100%;
                    }
                }
                .form-placeholder {
                    margin: 0 auto;
                    width: 100%;
                    max-width: 700px;
                }
                .copyright {
                    text-align: center;
                    color: white;
                    text-transform: uppercase;
                    margin: 30px 0;
                }
            }
        }
    }
}
