.landing-hero {
                // .hs_dropdown_example {
                // background: white;
                // border-radius: 4px;
                // position: relative;
                // &:after {
                //     position: absolute;
                //     font-size: 22px;
                //     content: "\f105";
                //     font-family: "FontAwesome";
                //     color: hubl("$cta_background");
                //     right: 25px;
                //     top: 12px;
                //     width: 7px;
                //     height: 12px;
                // }
                select {
                    background-color: #fff;
                    outline: 0;
                    font-size: 16px;
                    font-weight: 400;
                    border: solid 1px  #d3d3d3;
                    color: hubl("$main_font_color");   
                    margin-top: 19px !important;
                    font-family: Palanquin, sans-serif;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    margin-top: 0px;
                    background-image: url('//cdn2.hubspot.net/hubfs/685080/IMG-TurboSodium/Sodium%20v2/angle-down-gray.png');
                    background-repeat: no-repeat;
                    background-position-x: 98%;
                    background-position-y: 56%;
                    width: 100%;
                    height: 55px;
                    option{
                        background-color: #333;
                    }
            }
    div.body-container-wrapper {
        .header-spacer {
            background-color: hubl("$first_color");
            height: 10px;
            width: 100%;
        }
        .span12.widget-span.widget-type-cell {
            margin-left: 0;
        }
        .row-fluid-wrapper.row-depth-1.row-number-4 {
            background-color: hubl("$first_color");
            .hs_cos_wrapper.hs_cos_wrapper_widget_container.hs_cos_wrapper_type_widget_container {
                display: flex;
                text-align: center;
                @media (max-width: 767px) {
                    flex-wrap: wrap;
                }
            }
        }
        .hero-landing-boxes {
            .square-box {
                padding: 80px 50px;
                @media (max-width: 767px) {
                    padding: 20px 25px;
                }
                .square-box__image {
                    height: auto;
                }
                .square-box__content {
                    h4 {
                        text-transform: uppercase;
                    }
                }
                .icon {
                    color: #fff;
                    font-size: 60px;
                    line-height: 100px;
                }
            }
        }
        .lead-wrapper {
            >.container {
                >.span12.widget-span.widget-type-cell {
                    padding: 60px 0;
                    > .row-fluid-wrapper.row-depth-1.row-number-8 {
                        >.row-fluid {
                            display: flex;
                            @media (max-width: 767px) {
                                flex-wrap: wrap;
                                .lead-image {
                                    margin: 25px;
                                }
                                .lead-content {
                                    margin: 25px;
                                }
                            }
                            .lead-image {
                                img {
                                    display: block;
                                    margin: 0 auto;
                                    box-shadow: 20px 20px hubl("$first_color");
                                }
                            }
                            .lead-content {
                                h2 {
                                    text-align: left;
                                    text-transform: none;
                                    color: #626262;
                                    font-size: 40px;
                                    line-height: 50px;
                                    font-weight: 400;
                                    span {
                                        letter-spacing: 2px;
                                    }
                                }
                                p {
                                    color: #626262;
                                    font-size: 18px;
                                    line-height: 24px;
                                    font-weight: 400;
                                }
                            }
                        }
                    }
                }
            }
        }
        .form-container {
            .hero-banner-form {
                z-index: 1;
                max-width: 430px;
                border-radius: 5px;
                background-color: #f4f4f4;
                padding: 0 30px;
                margin: 0 auto;
                h3 {
                    font-family: 'Palanquin';
                    font-weight: 600;
                    font-size: 30px;
                    line-height: 40px;
                    color: #626262;
                    text-align: center;
                }
                .hs-form-field {
                    margin-bottom: 20px;
                    box-shadow: none;
                    .hs-form-required {
                        display: none;
                    }
                    .input {
                        input {
                            border: none;
                            border-radius: 4px;
                            background-color: #ffffff;
                        }
                        .hs-input {
                            font-size: 18px;
                            font-family: 'Palanquin';
                            font-weight: 200;
                            color: #626262;
                            height: 55px;
                            border: none;
                            &[id*="dropdown_example"] {
                                color: rgba(98, 98, 98, 0.6);
                                background-color: #fff;
                            }
                        }
                    }
                }
                .hs-button.primary.large {
                    @extend .cta-primary;
                    min-height: 27px;
                    min-width: 134px;
                    width: 100%;
                    margin-bottom: 20px;
                }
            }
        }
    }
}
