.landing-v3-3-column {
	.landing-v3-main-container {
		margin-top: 110px;
		margin-bottom: 55px;
		.features-cta {
			//margin: 0 20px;
			padding-right: 20px;
			border-right: 1px solid #f9f9f9;
			@media(max-width: 800px) {
				width: auto;
				padding: 0;
				border: none;
				img {
					margin: 0 auto;
					display: block;
					
				}
			}
		}
		.row-fluid-wrapper.row-depth-1.row-number-3 .row-fluid {
			display: flex;
			@media (max-width: 800px) {
				flex-direction: column;
			}
			.middle-text {
				margin:0 20px;
				@media (max-width: 800px) {
					width: auto;
					margin: 20px;
				}
				h1 {
					text-align: left;
					color: hubl("$main_font_color");
					font-size: 40px;
					text-transform: none;
					font-weight: 400;
					span {
						letter-spacing: 3px;
					}
				}
				p {
					span {
						color: hubl("$first_color");
						font-weight: bold;
					}
				}
			}
			.span3.widget-span.widget-type-cell.form-wrapper {
				width: auto;
				//margin: 0 20px;
				padding-left: 20px;
				border-left: 1px solid #f9f9f9;
				min-width: 27%;
				@media (max-width: 800px) {
					margin: 20px auto;
					min-width: 280px;
					border: none;
					padding: 0;
				}
				.widget-type-form {
					background-color: #f9f9f9;
					padding: 20px;
					border-radius: 3px;
					.hs-form-field {
						margin-bottom: 0;
						.hs-error-msgs.inputs-list li {
							color: hubl("$main_font_color");
							font-size: 18px;
						}
						.hs-error-msgs a {
							color: hubl("$main_font_color");
							font-size: 18px;
						}
					}
					h3 {
						margin: 0;
						color: hubl("$main_font_color");
						font-weight: 400;
						font-size: 30px;
						span {
							margin-left: 10px;
							letter-spacing: 3px;
							color: hubl("$first_color");
						}
					}
					form {
						input {
							margin-top: 20px;
							background-color: #fff;
							border-radius: 3px;
							color: hubl("$main_font_color");
							font-size: 18px;
							&.hs-button {
								@extend .cta-primary;
								 width: 100%;
							}
						}
					}		
				}
			}
		}
	}
}