
.content-landing-event-clock{
        // RICH TEXT 
        .widget-type-rich_text{
            padding-right: 50px;
            @media only screen and (max-width : 768px) {
                padding-right: 0px;
            }
            .hs_cos_wrapper{

                h1{
                    color:hubl("$main_font_color");
                    font-size: 50px;
                    font-weight: 900;
                    line-height: 65px;
                    letter-spacing: 0.04em;
                    span{
                        color: hubl("$cta_background");
                        letter-spacing: 3px;
                    }
                }
                p{
                    padding-top: 30px;
                    font-weight: 200;

                }
            }
        }
              // FORM
        .form-landing-event-clock{
            max-width:431px;
            min-height: 483px;
            background-color: #FFF;
            border-radius: 10px;
            box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.1);
            padding: 30px;
            position: relative;
            top: -140px;
            @media only screen and (max-width : 768px) {
                max-width:100%;
                top:10px;
                box-shadow: none;
                padding: 15px;
            }
            h3{
                color: hubl("$main_font_color");
                margin:0;
                padding: 0;
                font-size: 30px;
                text-align: center;
                letter-spacing: 1px;
                padding-bottom: 20px;
                letter-spacing: 0.04em;
                span{
                    color: hubl("$cta_background");
                    letter-spacing: 3px;
                }
            }
            span.hs_cos_wrapper_type_form{
                //text-align: center;
                color: hubl("$main_font_color");
                display: block;
                margin: 0 auto;
                font-size: 36px;
            }
            form{
                background-color: #FFF;
                .input{
                    input{
                        border: 1px solid #d3d3d3;
                        border-radius: 5px;
                        margin:0;
                        margin-top: 6px;
                        height: 51px;
                        width: 100%;
                        color: hubl("$main_font_color");
                        padding-left: 15px;
                        &:focus{
                            border: 1px solid hubl("$cta_background");
                        }
                    }
                }
                textarea {
                    border: solid 1px #d6d5d5;
                    margin-top: 8px;
                    color: hubl("$main_font_color"); 
                    &:focus{
                            border: 1px solid hubl("$cta_background");
                        }               
                }
                .input input[type="checkbox"].hs-input {
                    height: 25px;
                    visibility: hidden;
                    position: absolute;
                    &+span{
                        padding-left: 20px;
                    }

                }
                select{
                    background-color: #fff;
                    outline: 0;
                    font-size: 16px;
                    font-weight: 400;
                    border: solid 1px  #d3d3d3;
                    border-radius: 5px;
                    color: hubl("$main_font_color");   
                    margin-top: 19px !important;
                    font-family: Palanquin, sans-serif;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    margin-top: 0px;
                    background-image: url('//cdn2.hubspot.net/hubfs/685080/IMG-TurboSodium/Sodium%20v2/angle-down-gray.png');
                    background-repeat: no-repeat;
                    background-position-x: 98%;
                    background-position-y: 56%;
                    width: 100%;
                    height: 51px;
                    &:focus{
                            border: 1px solid hubl("$cta_background");
                        }
                }
                ul{
                    padding-top: 0;
                    margin: 0;
                    li,a{
                        color: #d3d3d3;
                        font-size: 16px;
                    }
                }
               label span{
                    color: hubl("$main_font_color");
               }
               .hs_submit{
                    input[type="submit"]{
                    width: 100%;
                    border: solid 2px hubl("$cta_background");
                    margin: 0;
                    height: 57px;
                    text-transform: none;
                    margin-top: 25px;
                    &:hover{
                        
                        background-color: hubl("$cta_hover_background");
                        color: hubl("$cta_hover_color");
                    }
                    }
                }
               
            }
    }
}
// FEATURED BOX
.featured-box-white-bg{
    margin-top: -70px;
    border-top: solid 1px #f7f7f7;
    padding: 40px 0;
    @media only screen and (max-width : 768px) {
                margin-top: 80px;
    }
    span{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .square-box{
            background-color: #fff;
            max-width: 380px;
            &__image-container{
                background-color: hubl("$first_color");
                text-align: center;
                width: 102px;
                height: 102px;
                border-radius: 50%;
                margin: 0 auto;
                position: relative;
                img{
                    position: absolute;
                    top:50%;
                    left:50%;
                    transform: translate(-50%,-50%);
                    
                }
                .icon{
                    color: #fff;
                    font-size: 60px;
                    line-height: 100px;
                }
            }
            &__content{
                text-align: center;
                h4{
                    color: hubl("$first_color");
                    text-transform: uppercase;
                    font-size: 24px;
                    padding-top: 20px;
                    font-weight: 400;
                }
                p{
                    color: hubl("$main_font_color");
                    font-size: 18px;
                }
            }
        }
}

// EVENT SPONSORS 
.landing-event-sponsors{
    .widget-type-rich_text{
                
                h2{
                    color:#FFF;
                    font-size: 40px;
                    text-align: center;
                    margin-top:80px;
                    font-weight: 200;
                }
                p{
                    color:#FFF;
                    padding-top: 20px;
                    font-weight: 200;
                    display: block;
                    text-align: center;
                    width: 60%;
                    margin: 0 auto;
                
            }
        }
        // SLICK CENTER < SLIDE TO SHOW

        .slick-dots{
            display: block;
            // left: 50%;
            // -webkit-transform: translateX(-50%);
            // -ms-transform: translateX(-50%);
            // transform: translateX(-50%);
            left:0;

        }
        
        .slick-list{
            min-width: 100% !important;
            display:flex;
            justify-content:center;
            margin: 0!important;
            
        }
        .slick-arrow{
            display:none!important;
        }
        button.slick-prev.slick-arrow + div.slick-list{
            display:block;
        }
}
// PAST EVENT GALLERY

.past-event-gallery{
    .widget-type-rich_text{
            
        .hs_cos_wrapper{
            text-align: center;
            h2{
                color:hubl("$main_font_color");
                font-size: 40px;
                font-weight: 200;
                text-align: center;
                margin-top: 84px;
                span{
                    color: hubl("$cta_background");
                    letter-spacing: 2px;
                }
            }
            p{
                display: block;
                text-align: center;
                width: 60%;
                padding: 0;
                margin: 50px auto;
                font-weight: 200;
            }
        }
    }
}

