.landing-stl {

    .body-container-wrapper {
        form.hs-form {

            .legal-consent-container {

                .hs-form-field {

                    .input {

                        input[type="checkbox"].hs-input {
                            position: absolute;
                            margin-top: 0;
                            top: 0;
                            height: auto;

                            + span {
                                display: inline-block;
                                padding-left: 9px;
                                margin-top: 0;
                                font-size: 12px;

                                &:before {
                                    width: 8px;
                                    height: 10px;
                                    border-radius: 0px;
                                    top: 1px;
                                    left: 1px;
                                    transform: translateY(0);
                                }

                                &:after {
                                    width: 12px;
                                    height: 12px;
                                    top: 1px;
                                    left: 0;
                                    transform: translateY(0);
                                }
                            }

                            &:checked {

                                + span {

                                    &:after {
                                        line-height: 11px;
                                        font-size: 11px;
                                    }
                                }
                            }
                        }
                    }
                }

                .hs-richtext {
                    color: #fff;
                }
            }

            .inputs-list {
                list-style: none!important;
                li {
                    label {
                        position: relative;
                    }
                }
            }
            .hs-form-field .input input[type="checkbox"].hs-input {
                height: 25px;
                visibility: hidden;
                +span {
                    padding-left: 9px;
                    &:before {
                        // content: "";
                        // position: absolute; // top: 50%;
                        // top: 10px;
                        // left: 0px;
                        // display: block;
                        // width: 17px;
                        // height: 17px;
                        // font-family: "FontAwesome";
                        // background-color: transparent; // transform: translateY(-50%);
                        // border-radius: 5px;
                        // border: 1px solid #e0e0e0;
                    }
                    &:after {
                        // content: "\f096";
                        // position: absolute;
                        // top: 50%;
                        // top: 9px;
                        // left: 0px;
                        // display: block;
                        // color: #e0e0e0;
                        // width: 17px;
                        // height: 17px;
                        // font-size: 18px;
                        // text-align: center;
                        // font-family: "FontAwesome";
                        // transform: translateY(-50%);
                        // border-radius: 5px;
                        // border: 1px solid #e0e0e0;
                    }
                }
                &:checked {
                    +span {
                        &:before {
                            background-color: transparent;
                        }

                        &:after {
                            margin-top: 2px;
                            content: "\f14a";
                            color: #fff;
                            line-height: 17px;
                            font-size: 17px;
                        }
                    }
                }
            }
            .hs-form-field .input input[type="radio"].hs-input {
                position: relative;
                height: 15px;
                width: 15px;
                top: -6px;
                margin-right: 8px;
                visibility: hidden;
                +span {
                    &:before,
                    &:after {
                        content: '';
                        position: absolute; // top: 50%;
                        top: 0;
                        transform: translateY(0);
                        border-radius: 50%;
                    }
                    &:before {
                        color: #fff;
                        top: 3px;
                        left: 0px;
                        height: 16px;
                        width: 16px;
                        border: 1px solid #fff;
                    }
                    &:after {
                        width: 6px;
                        height: 6px;
                        left: 8px;
                        top: 11px;
                        transform: translate(-50%, -50%);
                    }
                }
                &:checked {
                    +span {
                        &:before {
                            // color: hubl("$first_color");
                            color: #fff;
                            border-color: #fff;
                            // border-color: hubl("$first_color");
                        }
                        &:after {
                            // background-color: hubl("$first_color");
                            background-color: #fff;
                        }
                    }
                }
            }
            .hs_submit input[type="text"] {
                letter-spacing: 0em;
                border: 1px solid hubl("$first_color");
                &:hover {
                    border: 1px solid hubl("$first_color");
                }
            }
        } //BUTTON
        .form-landing .widget-type-form form input.hs-button {
            letter-spacing: 0em;
            border-width: 1px!important;
            &:hover {
                border-width: 1px!important;
            }
        } //
        // SELECT 
        .content-landing-stl {
            .dropdown_select.input {
                font-size: 18px;
                user-select: none;
                select {
                    display: none;
                }
                .dropdown-header {
                    background-color: #fff;
                    padding: 6px 50px 6px 13px;
                    border: 1px solid #ebebeb;
                    border-radius: 4px;
                    font-size: 16px;
                    color: #626262;
                    position: relative;
                    margin-bottom: 1px;
                    cursor: pointer;
                    min-height: 55px;
                    line-height: 43px;
                    span {
                        font-weight: 400;
                        text-align: left;
                        line-height: 43px;
                        color: #626262;
                    }
                    &:after,
                    &:before {
                        font-family: "FontAwesome";
                        font-size: 22px;
                        position: absolute;
                        color: hubl("$first_color");
                        right: 20px;
                        top: 7px;
                        width: 22px;
                        height: 22px;
                        display: block;
                        transition: 0.3s all linear;
                    }
                    &:after {
                        content: "\f107";
                    }
                    &:before {
                        content: "\f106";
                        opacity: 0;
                    }
                    &.dropdown-selected {
                        color: hubl("$second_color");
                    }
                    &.slide-down {
                        &:after {
                            opacity: 0;
                        }
                        &:before {
                            opacity: 1;
                        }
                    }
                }
                .dropdown-list {
                    background-color: #FFF;
                    list-style: none;
                    padding-left: 0;
                    margin: 0;
                    border-radius: 5px;
                    border: 1px solid #ebebeb;
                    height: 100%;
                    width: 100%;
                    z-index:2;
                    li {
                        font-size: 16px;
                        cursor: pointer;
                        color: #626262;
                        clear: left;
                        font-weight: 400;
                        line-height: 43px;
                        padding: 6px 6px 6px 13px;
                        margin-left: 0px;
                        display: block !important;
                        margin-right: 0 !important;
                        text-align: left;
                    }
                    li:hover {
                        color: hubl("$second_color");
                    }
                }
            }
        } //HS ERROR
        .content-landing-stl {
            .hs-error-msgs {
                list-style: none;
                padding-left: 0;
                margin: 10px 0;
                li {
                    padding-left: 0;
                    font-size: 16px!important;
                    line-height: 21px;
                    margin-bottom: 0;
                    margin-left: 0px;
                    color: #626262;
                    &:first-child {
                        margin-left: 0px;
                    }
                    a {
                        color: inherit;
                        font-weight: inherit;
                    }
                }
            }
        }
        .content-landing-stl {
            margin-top: 0px;
        }
    } // form.hs-form {
    //     .inputs-list {
    //         list-style: none!important;
    //         li {
    //             label {
    //                 position: relative;
    //             }
    //         }
    //     }
    //     .hs-form-field .input input[type="checkbox"].hs-input {
    //         height: 25px;
    //         visibility: hidden;
    //         +span {
    //             padding-left: 9px;
    //             &:before {
    //                 content: "";
    //                 position: absolute;
    // 				// top: 50%;
    // 				top: 0;
    //                 left: 0px;
    //                 display: block;
    //                 width: 17px;
    //                 height: 17px;
    //                 font-family: "FontAwesome";
    //                 background-color: #fff;
    //                 // transform: translateY(-50%);
    //                 border-radius: 5px;
    //                 border: 1px solid #e0e0e0;
    //             }
    //             &:after {
    //                 content: "";
    //                 position: absolute;
    // 				top: 50%;
    // 				top: 0;
    //                 left: 0px;
    //                 display: block;
    //                 color: #e0e0e0;
    //                 width: 17px;
    //                 height: 17px;
    // 				font-size: 18px;
    // 				text-align: center;
    //                 font-family: "FontAwesome";
    //                 transform: translateY(-50%);
    //             }
    //         }
    //         &:checked {
    //             +span {
    //                 &:after {
    //                     content: "\f14a";
    //                     color: hubl("$first_color");
    //                     line-height: 17px;
    //                 }
    //             }
    //         }
    //     }
    //     .hs-form-field .input input[type="radio"].hs-input {
    //         position: relative;
    //         height: 15px;
    //         width: 15px;
    //         top: -6px;
    //         margin-right: 8px;
    //         visibility: hidden;
    //         +span {
    //             &:before,
    //             &:after {
    //                 content: '';
    //                 position: absolute;
    // 				// top: 50%;
    // 				top: 0;
    //                 transform: translateY(0);
    //                 border-radius: 50%;
    //             }
    //             &:before {
    // 				color: #fff;
    // 				top: 3px;
    //                 left: 0px;
    //                 height: 16px;
    //                 width: 16px;
    //                 border: 1px solid #fff;
    //             }
    //             &:after {
    //                 width: 6px;
    //                 height: 6px;
    // 				left: 8px;
    // 				top: 11px;
    //                 transform: translate(-50%, -50%);
    //             }
    //         }
    //         &:checked {
    //             +span {
    //                 &:before {
    //                     color: hubl("$first_color");
    //                     border-color: hubl("$first_color");
    //                 }
    //                 &:after {
    //                     background-color: hubl("$first_color");
    //                 }
    //             }
    //         }
    //     }
    //     .hs_submit input[type="text"]{
    // 		letter-spacing: 0em;
    //         border: 1px solid hubl("$first_color");
    //         &:hover {
    //             border: 1px solid hubl("$first_color");
    //         }
    //     }
    // } //BUTTON
    // .form-landing .widget-type-form form input.hs-button {
    //     letter-spacing: 0em;
    //     border-width: 1px!important;
    //     &:hover {
    //        border-width: 1px!important;
    //     }
    // } //
    // // SELECT 
    // .content-landing-stl {
    //     .dropdown_select.input {
    //         font-size: 18px;
    //         user-select: none;
    //         select {
    //             display: none;
    //         }
    //         .dropdown-header {
    //             background-color: #fff;
    //             padding: 6px 6px 6px 13px;
    //             border: 1px solid #ebebeb;
    //             border-radius: 4px;
    //             font-size: 16px;
    //             color: #626262;
    //             position: relative;
    //             margin-bottom: 1px;
    //             cursor: pointer;
    //             min-height: 55px;
    //             line-height: 43px;
    //             span {
    //                 font-weight: 400;
    //                 text-align: left;
    //                 line-height: 43px;
    //                 color: #626262;
    //             }
    //             &:after,&:before{
    //             	font-family: "FontAwesome";
    //                 font-size: 22px;
    //                 position: absolute;
    //                 color: hubl("$first_color");
    //                 right: 20px;
    //                 top: 7px;
    //                 width: 22px;
    //                 height: 22px;
    //                 display: block;
    //                 transition: 0.3s all linear;
    //             }
    //             &:after {
    //                 content: "\f107";
    //             }
    //              &:before {
    //                 content: "\f106";
    //                 opacity: 0;
    //             }
    //             &.dropdown-selected {
    //                 color: hubl("$second_color");
    //             }
    //             &.slide-down{
    //             	&:after {
    //                     opacity: 0;
    //                 }
    //                  &:before {
    //                     opacity: 1;
    //                 }
    //             }
    //         }
    //         .dropdown-list {
    //             background-color: #FFF;
    //             list-style: none;
    //             padding-left: 0;
    //             margin: 0;
    //             border-radius: 5px;
    //             border: 1px solid #ebebeb;
    //             height: 100%;
    //             width: 100%;
    //             li {
    //                 font-size: 16px;
    //                 cursor: pointer;
    //               	color: #626262;
    //                 clear: left;
    //                 font-weight: 400;
    //                 line-height: 43px;
    //                 padding: 6px 6px 6px 13px;
    //                 margin-left: 0px;
    //                 display: block !important;
    //                 margin-right: 0 !important;
    //                 text-align: left;
    //             }
    //             li:hover {
    //                 color: hubl("$second_color");
    //             }
    //         }
    //     }
    // } 
    // //HS ERROR
    // .content-landing-stl {
    //     .hs-error-msgs {
    //         list-style: none;
    //         padding-left: 0;
    //         margin: 10px 0;
    //         li {
    //             padding-left: 0;
    //             font-size: 16px!important;
    //             line-height: 21px;
    //             margin-bottom: 0;
    //             margin-left: 0px;
    //             color: #626262;
    //             &:first-child{
    //               margin-left: 0px;
    //             }
    //             a {
    //                 color: inherit;
    //                 font-weight: inherit;
    //             }
    //         }
    //     }
    // }
    // .content-landing-stl {
    //     margin-top: 0px;
    // }
    // ************************************* 
    // **************  LP #1 *************** 
    // ************************************* 
    &.lp-1 {
        .hero-banner-landing {
            margin-top: 0px;
            min-height: calc(100vh - 213px);
            .container {
                @media (max-width: 1024px) {
                    flex-wrap: wrap;
                    &>div {
                        width: 100%;
                        margin: 0 auto;
                    }
                    .hero-banner-wrap {
                        max-width: 100%;
                        margin-bottom: 20px;
                        p {
                            max-width: 100%;
                        }
                    }
                }
            }
            .form-placeholder .hero-banner-form .hs-button.primary.large {
                border-width: 1px;
            }
        }
    } // ************************************* 
    // **************  LP #2 *************** 
    // ************************************* 
    &.lp-2 {
        .hero-banner-landing-basic-2 {
            margin-top: 0px;
            .container {
                @media (max-width: 1024px) {
                    flex-wrap: wrap;
                    &>div {
                        width: 100%;
                        margin: 0 auto;
                    }
                    .hero-banner-wrap {
                        max-width: 100%;
                        margin-bottom: 20px;
                        p {
                            max-width: 100%;
                        }
                    }
                }
            }
            .form-placeholder .hero-banner-form .hs-button.primary.large {
                border-width: 1px;
            }
        }
    } // ************************************* 
    // **************  LP #3 *************** 
    // ************************************* 
    &.lp-3 {
        .body-container-wrapper {
            margin-top: 0px;
        }
        .hero-landing {
            height: auto;
            min-height: 600px;
            position: static;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            z-index: 1;
            background-size: cover;
            background-position: center center;
            .mask {
                z-index: 2;
            }
            .container {
                position: relative;
                z-index: 4;
                transform: translateY(0px);
                max-width: 1200px;
                width: 100%; // margin: 0 auto;
                padding-top: 30px;
                padding-bottom: 30px;
                @media (max-width: 1024px) {
                    flex-wrap: wrap;
                    &>div {
                        width: 100%;
                        max-width: 100%;
                        margin: 0 auto;
                    }
                }
            }
            h3 {
                font-family: hubl("$font")!important;
            }
            .hs-button.primary.large {
                border-width: 1px!important;
            }
        }
        .lead-wrapper {
            .hs-cta-wrapper a {
                border-width: 1px!important;
            }
        }
    } // ************************************* 
    // **************  LP #4 *************** 
    // ************************************* 
    &.lp-4 {
        .landing-v3-main-container {
            margin-top: 65px;
            h3 {
                margin-bottom: 20px!important;
            }
            .form-wrapper {
                @media (max-width: 800px) {
                    width: 100%!important;
                }
                .widget-type-form form input {
                    height: 55px;
                    margin-top: 0px!important
                }
                .widget-type-form .hs-form-field {
                    margin-bottom: 20px!important;
                }
                .widget-type-form form input.hs-button {
                    border-width: 1px!important;
                }
            }
            .widget-type-form label span {
                color: #626262;
            }
        }
    } // ************************************* 
    // **************  LP #5 *************** 
    // ************************************* 
    &.lp-5 {
        .hero-event-clock {
            margin-top: 0px;
        }
        form.hs-form .hs-form-field .input input[type="radio"].hs-input+span:before {
            border-color: #d3d3d3;
        }
        form.hs-form .hs-form-field .input input[type="radio"].hs-input:checked+span:before {
            border-color: #005171;
        }
        form.hs-form .hs-form-field .input input[type="checkbox"].hs-input+span {
            padding-left: 25px;
        }
        form.hs-form .hs-form-field .input input[type="checkbox"].hs-input+span:before {
            width: 16px;
            height: 16px;
            left: 0px;
        }
        form.hs-form .hs-form-field .input input[type="checkbox"].hs-input:checked+span:after {
            font-size: 17px;
            text-align: center;
            line-height: 16px;
        }
        form .hs_submit input[type="submit"] {
            border-width: 1px!important;
        }
    } // ************************************* 
    // **************  LP #6 *************** 
    // ************************************* 
    &.lp-6 {
        .hero-section {
            padding-top: 70px;
        }
        .row-fluid input {
            font-family: $font_family!important;
        }
        .row-fluid .hero-form input[type=submit] {
            border-width: 1px;
        }
    } // ************************************* 
    // **************  LP #7 *************** 
    // ************************************* 
    &.lp-7 {
        .content-landing-stl {
            margin-top: 60px;
        }
        .form-landing .widget-type-form form input {
            height: 55px;
            margin-top: 0px;
        }
        .widget-type-form .hs-form-field {
            margin-bottom: 20px!important;
        }
        .form-landing .widget-type-form form .inputs-list li {
            margin-top: 0px!important;
        }
        .widget-type-form label {
            font-size: 16px!important;
        }
    } // ************************************* 
    // **************  LP #8 *************** 
    // ************************************* 
    &.lp-8 {
        .content-landing-stl {
            margin-top: 60px;
        }
        .form-landing .widget-type-form form input {
            height: 55px;
            margin-top: 0px;
        }
        .widget-type-form .hs-form-field {
            margin-bottom: 20px!important;
        }
        .form-landing .widget-type-form form .inputs-list li {
            margin-top: 0px!important;
        }
        .widget-type-form label {
            font-size: 16px!important;
        }
    }
    &.video {
        .body-container-wrapper {
            form.hs-form {
                .inputs-list {
                    list-style: none!important;
                    li {
                        label {
                            position: relative;
                        }
                    }
                }
                .hs-form-field .input input[type="checkbox"].hs-input {
                    height: 25px;
                    visibility: hidden;
                    +span {
                        padding-left: 9px;
                        &:before {
                            content: "";
                            position: absolute; // top: 50%;
                            top: 10px;
                            left: 0px;
                            display: block;
                            width: 17px;
                            height: 17px;
                            font-family: "FontAwesome";
                            background-color: #fff; // transform: translateY(-50%);
                            border-radius: 5px;
                            border: 1px solid #e0e0e0;
                        }
                        &:after {
                            content: "";
                            position: absolute;
                            top: 50%;
                            top: 9px;
                            left: 0px;
                            display: block;
                            color: #e0e0e0;
                            width: 17px;
                            height: 17px;
                            font-size: 18px;
                            text-align: center;
                            font-family: "FontAwesome";
                            transform: translateY(-50%);
                            border-radius: 5px;
                            border: 1px solid #e0e0e0;
                        }
                    }
                    &:checked {
                        +span {
                            &:before {
                                background-color: transparent;
                            }

                            &:after {
                                content: "\f14a";
                                // color: hubl("$first_color");
                                color: #fff;
                                line-height: 17px;
                            }
                        }
                    }
                }
                .hs-form-field .input input[type="radio"].hs-input {
                    position: relative;
                    height: 15px;
                    width: 15px;
                    top: -6px;
                    margin-right: 8px;
                    visibility: hidden;
                    +span {
                        &:before,
                        &:after {
                            content: '';
                            position: absolute; // top: 50%;
                            top: 0;
                            transform: translateY(0);
                            border-radius: 50%;
                        }
                        &:before {
                            color: #fff;
                            top: 3px;
                            left: 0px;
                            height: 16px;
                            width: 16px;
                            border: 1px solid #fff;
                        }
                        &:after {
                            width: 6px;
                            height: 6px;
                            left: 8px;
                            top: 11px;
                            transform: translate(-50%, -50%);
                        }
                    }
                    &:checked {
                        +span {
                            &:before {
                                // color: hubl("$first_color");
                                // border-color: hubl("$first_color");
                                color: #fff;
                                border-color: #fff;
                            }
                            &:after {
                                // background-color: hubl("$first_color");
                                background-color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}