 .stl-survey {

 	.stl-survey-body {
		width: 100%;
		position: relative;
		float: left;
		margin: 60px 0;

		.container {
			max-width: 1000px;
		}

		.widget-type-header {
			margin-bottom: 20px;

			h2 {
				text-align: left;
				text-transform: none;
				color: hubl("$first_color");
			}
		}
	}

 	.stl-survey-nav {
		margin: 30px 0;

		.btn-prev {

		}

		.btn-next {

		}

		.btn-print {
			position: relative;
			min-width: 40px;

			i {
				position: absolute;
				font-size: 26px;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}

		.btn-disabled {
			cursor: not-allowed;
			background-color: #cccccc;
			border-color: #cccccc;

			&:hover {
				color: #fff;
			}
		}
	}
 }