.stl-survey-answers {

	.stl-survey-body {

		p, span {
			font-size: 20px;
		}

		a {
 			font-size: inherit;
 			line-height: inherit;
 		}

		.stl-survey-answers-text {
			margin-bottom: 0;
		}

		.stl-answers-wrapper {

			&--standard {
				margin-bottom: 0;

				h4 {
					font-size: 22px;
					color: hubl("$first_color");
				}
			}

			&--highest {
				h3 {
					font-size: 22px;
					color: hubl("$first_color");
				}
			}
		}

		.stl-survey-answer {
			margin-bottom: 60px;

			&:last-of-type {
				margin-bottom: 20px;
			}
			
			.hs_cos_wrapper_type_rich_text {

				li {
					font-size: 20px;
				}

				ol {

					li {

						&:before {
							content: counter(li) ")";
						}
					}
				}
			}
		}
	}
}

@media print {
	.stl-survey {

	 	.mask, .stl-survey-nav, .footer-container-wrapper, .hs-tools-menu {
	 		display: none !important;
	 	}

	 	.header--main {
	 		position: relative;
	 		box-shadow: none;

	 		& > .span12 {

	 			& > .row-fluid-wrapper.row-depth-1.row-number-2 {
	 				margin-left: auto;
	 			}
	 		}

	 	}

	 	.stl-survey-body {
	 		margin-top: 0 !important;
	 	}

	 	.body-container-wrapper {
	 		margin-top: 0;
	 	}

	 	.stl-survey-hero-banner {
	 		display: none;
	 	}

	 	.answer-header-wrapper {
	 		padding: 0 !important;
	 		background-color: transparent !important;

	 		h3 {
	 			color: hubl("$first_color") !important;
	 		}
	 	}
	}
}