.stl-survey-email-typ  {
		
		.form-title {
			display: none;
		}

		form {

			fieldset {
				max-width: 100%;
			}

			fieldset.form-columns-1 .hs-input {
				width: 100%;
			}

			fieldset.form-columns-1 .input {
				margin-right: 0;
			}

			.hs-form-field {
				margin-bottom: 30px;
			}

			.form-columns-2 {

				.hs-form-field {

					&:last-of-type {

						.input {
							margin-right: 0;
						}
					}

					.input {
						margin-right: 25px;

						@media (max-width: 480px) {
							margin-right: 0;
						}

						input {
							@media (max-width: 480px) {
								width: 100%;
							}
						}
					}
				}
			}

			.hs-form-required {
				display: none;
			}

			label {
				span {
					color: hubl("$main_font_color");
				}
			}

			input, textarea {
				color: hubl("$main_font_color");
			}

			textarea {
				border: 1px solid #e4e4e4;
				resize: vertical;
				border-radius: 5px;
				min-height: 215px;
			}

			input[type="text"], input[type="email"] {
				border: 1px solid #e7e7e7;
				border-radius: 3px;
				padding: 15px 25px;
				font-size: 18px;
			}

			.inputs-list {

				li {
					margin-top: 5px;
					label, a {
						color: hubl("$main_font_color");
					}
				}
			}

			.hs-richtext {
				font-size: 20px;

				.widget-type-header {
					margin-bottom: 60px;
				}

				p {
					font-size: inherit;
				}

				p.question-label {
					padding-left: 40px;
					position: relative;
					span {
						color: hubl("$first_color");
					}

					span.abs {
						position: absolute;
						left: 0;
						top: 0;
					}
				}
			}

			.hs_submit {

				input[type="submit"] {
					box-sizing: border-box!important;
				    cursor: pointer;
				    display: inline-block;
				    background-color: hubl("$first_color");
				    border: 1px solid hubl("$first_color");
				    color: #fff;
				    font-size: 18px;
				    font-weight: 200;
				    text-align: center;
				    text-decoration: none;
				    text-transform: uppercase;
				    padding: 14px 30px;
				    border-radius: 3px;
				    min-width: 150px;
				    -webkit-appearance: none;
				    transition: all .3s linear;
				    font-family: hubl("$font");

				    &:hover {
				    	background-color: #fff;
    					color: hubl("$first_color");
				    }
				}
			}
		}
}
