.stl-survey-questions {

	.widget-type-form {
		
		.form-title {
			display: none;
		}

		form {
			display: none;
			position: relative;

			fieldset {
				max-width: 100%;
			}

			fieldset.form-columns-1 .hs-input {
				width: 100%;
			}

			fieldset.form-columns-1 .input {
				margin-right: 0;
			}

			.hs-form-field {
				margin-bottom: 30px;
			}

			.form-columns-2 {

				.hs-form-field {

					&:last-of-type {

						.input {
							margin-right: 0;
						}
					}

					.input {
						margin-right: 25px;

						@media (max-width: 480px) {
							margin-right: 0;
						}

						input {
							@media (max-width: 480px) {
								width: 100%;
							}
						}
					}
				}
			}

			label {
				span {
					color: hubl("$main_font_color");
				}
			}

			input, textarea {
				color: hubl("$main_font_color");
			}

			textarea {
				border: 1px solid #e4e4e4;
				resize: vertical;
				border-radius: 5px;
				min-height: 215px;
			}

			input[type="text"], input[type="email"] {
				border: 1px solid #e7e7e7;
				border-radius: 3px;
				padding: 15px 25px;
				font-size: 18px;
			}

			.inputs-list {

				li {
					margin-top: 5px;
					label, a {
						color: hubl("$main_font_color");
					}
				}
			}

			.hs-richtext {
				font-size: 20px;

				.widget-type-header {
					margin-bottom: 60px;
				}

				p {
					font-size: inherit;
				}

				p.question-label {
					padding-left: 40px;
					position: relative;
					span {
						color: hubl("$first_color");
					}

					span.abs {
						position: absolute;
						left: 0;
						top: 0;
					}
				}
			}

			.stl-survey-body {
				overflow: hidden;
			}


			.stl-survey-section {
				position: absolute;
				top: 0;
				left: 0;
				height: 0;
				visibility: hidden;

				&--active {
					display: block;
					visibility: visible;
					height: auto;
					position: relative;
				}
			}

			.stl-survey-section-5 {

				.hs-richtext {
					margin-bottom: 40px;

					p {
						margin-bottom: 40px;
					}
				}
			}

			[class^="hs_business_check_negative"], [class^="hs_business_check_positive"] {
				display: block !important;
			}

			.stl-survey-range-slider-wrapper {
				padding-left: 40px;
				margin-bottom: 65px;

				@media (max-width: 767px) {
					padding-left: 0;
				}

				.stl-survey-range-slider-labels {
					p {
						float: left;
						font-size: 16px;
						margin-bottom: 15px;

						&:last-of-type {
							float: right;
						}
					}
				}

				input.stl-survey-range-slider {
					-webkit-appearance: none;
					width: 100%;
					height: 30px;
					outline: none;
					border: 0;
					cursor: pointer;

					&:focus, &:active {
						outline: none;
						border: 0;
					}

					// WEBKIT
					&::-webkit-slider-runnable-track {
						height: 4px;
						background-color: #ebebeb;
						border: 1px solid #e4e4e4;
						border-radius: 2px;
					}

					&::-webkit-slider-thumb {
					 	-webkit-appearance: none;
					  	appearance: none;
					  	position: relative;
					  	top: 50%;
					  	-webkit-transform: translateY(-50%);
					  	transform: translateY(-50%);
					  	width: 18px;
					  	height: 18px;
					  	border-radius: 50%;
					  	background: hubl("$first_color");
					  	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
					  	cursor: pointer;
					  	-webkit-transition: all .2s linear;
					  	transition: all .2s linear;
					}

					// MOZ
					&::-moz-range-track {
						height: 2px;
						background-color: #ebebeb;
						border: 1px solid #e4e4e4;
						border-radius: 2px;
						cursor: pointer;
					}

					&::-moz-range-thumb {
						position: relative;
					  	width: 18px;
					  	height: 18px;
					  	border: 0;
					  	border-radius: 50%;
					  	background: hubl("$first_color");
					  	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
					 	cursor: pointer;
					 	-moz-transition: all .2s linear;
					 	transition: all .2s linear;
					}


					&::-moz-focus-outer {
						border: 0;
					}

					// IE
					&::-ms-track {
						position: relative;
						width: 100%;
					  	height: 4px;
					  	cursor: pointer;
					  	background: transparent;
					  	border-color: transparent;
					  	border-width: 16px 0;
					  	color: transparent;
					}

					&::-ms-fill-lower {
						width: 100%;
						background-color: #ebebeb;
						border: 1px solid #e4e4e4;
						border-radius: 2px;
					}

					&::-ms-fill-upper {
						width: 100%;
						background-color: #ebebeb;
						border: 1px solid #e4e4e4;
						border-radius: 2px;
					}

					&::-ms-thumb {
						position: relative;
						top: 50%;
						margin-left: 10px;
						margin-right: -8px;
        				-ms-transform: translateX(-50%);
        				transform: translateX(-50%);
						width: 18px;
					  	height: 18px;
					  	border: 0;
					  	border-radius: 50%;
					  	background: hubl("$first_color");
					  	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
					 	cursor: pointer;
					 	-ms-transition: all 0.2s linear;
					 	transition: all 0.2s linear;
					}


					&--unchanged {
						&::-webkit-slider-thumb {
						  	background: #ccc;
						}

						&::-moz-range-thumb {
						  	background: #ccc;
						}

						&::-ms-thumb {
							background: #ccc;
						}

						&:hover {
							&::-webkit-slider-thumb {
							  	background: hubl("$first_color");
							}

							&::-moz-range-thumb {
							  	background: hubl("$first_color");
							}

							&::-ms-thumb {
								background: hubl("$first_color");
							}
						}
					}
				}

				.stl-survey-range-slider-legend {
					display: flex;
					width: 100%;
					flex-wrap: nowrap;
				    justify-content: space-between;
				    margin-top: 0px;

					span {
						display: inline-block;
						padding-left: 5px;

						@media (max-width: 767px) {
							opacity: 0;
						}

						&:last-of-type {
							padding-left: 0;
						}

						&:nth-child(5) {
							+ span {
								@media (max-width: 767px) {
									opacity: 1;
								}
							}
						}
					}
				}

			}

			// TEMP
			.hs_submit {
				display: none;
			}
		}
	}
}
