.stl-survey-intro {
	
	.stl-survey-body {

		.hs_cos_wrapper_type_rich_text {

			ol {

				li {
					margin-bottom: 20px;
					span {
						color: hubl("$first_color");
						font-weight: 600;
					}
				}
			}
		}
	}
}