.widget-type-rich_text {
	text-align: left;

	&--standard {
		
		h2 {
			font-size: 40px;
			color: hubl("$main_font_color");
			text-align: left;
			text-transform: none;
			font-weight: 400;
			letter-spacing: 0.04em;

			span {
				color: hubl("$cta_background");
				letter-spacing: 3px;
			}
		}

		p {
			font-size: 18px;
			color: hubl("$main_font_color");
			font-weight: 200;
			
		}
		

	}
}



