.stl-products {
	section {
		position: relative;
		float: left;
		width: 100%;
	}

	p, h2, h3, h4 {
		margin-top: 0;
	}

	h2 {
		color: hubl("$first_color");
		text-align: left;
	}

	.intro {
		margin-top: 70px;
		margin-bottom: 25px;
	}

	.stl-product-slider {
		margin-top: 25px;
		margin-bottom: 50px;
	}

	.structure {
		margin-top: 50px;

		&__description {
			.subtitle {
				.hs_cos_wrapper_type_text {
					display: block;
					color: hubl("$first_color");
					font-size: 27px;
					text-transform: uppercase;
					margin-bottom: 20px;
				}
			}
			p, span, li {
				color: #404040;
			}
		}
	}

	.products-bottom {
		margin-top: 90px;
		margin-bottom: 90px;
		.row-fluid  {
			display: flex;
			align-items: center;
			@media (max-width: 767px) {
				display: block;
			}
			p {
				margin-top: 20px;
			}
		}
	}
	&--v2{
		.body-container-wrapper{
			margin-bottom: 80px;
		}
		.process-box-wrapper{
			margin: 80px 0px 20px 0px;
		}
	}
}