.about_us_new{
  .counter-box-stl-wrapper{
    > span {
      > div {
        width:20%;
        box-sizing: border-box;
        margin: 0!important;
      @media (max-width: 991px) {
         width:50%;
        }
      @media (max-width: 767px) {
         width:100%;
        }
      }
    }
  }
}


.about-me_skills {
  width: 100%;
  position: relative;
  display: flex; 
}
.about-me_skills .text-block {
  width: 50%;
  background-color: hubl("$first_color") ; 
}
.about-me_skills .text-block.white {
  width: 50%;
  background-color: #fff!important; 
  @media (max-width: 767px) {
    width:100%;
  }
}
.about-me_skills .text-block .text-block-content {
  max-width: 550px;
  margin-top: 15px;
  margin-bottom: 40px; 
  padding: 0 15px;
  ul{
            padding-left: 20px;
          }
          
}
.about-me_skills .text-block .text-block-content.txt-left {
  margin-left: 10px;
  margin-right: 40px; 
}
.about-me_skills .text-block .text-block-content.txt-right {
  margin-left: 40px;
  margin-right: 10px; 
}
@media (max-width: 767px) {
.about-me_skills .text-block .text-block-content {
  float: none !important;
  margin: 20px auto !important; 
  } 
}
.about-me_skills .text-block .text-block-content h3 {
  font-size: 36px;
  color: #fff;
  margin: 30px 0 20px; 
}
.about-me_skills .text-block.white .text-block-content h3 {
  color: hubl("$first_color") ; 
}
.about-me_skills .text-block.white .text-block-content p {
  color: #000; 
}
.about-me_skills .text-block .text-block-content p {
  color: #fff; 
  font-size:18px;
}
.about-me_skills .image-container {
  width: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: auto; 
}
@media (max-width: 767px) {
  .about-me_skills .image-container {
    max-width: 100%;
    height: auto; } 
  }
@media (max-width: 767px) {
  .about-me_skills {
  flex-direction: column; 
  }
.about-me_skills .text-block, .about-me_skills .progress_bars {
  width: 100%; 
  }
.about-me_skills .progress_bars {
  background-color: transparent; 
  } 
}


