.resources {
    &.stl {
        .list-categories-section {
            margin-top: 35px;
            .container.resource-categories__container {
                display: flex;
                justify-content: center;
                >p {
                    margin: 0;
                    padding: 10px 20px;
                    font-size: 20px;
                    color: hubl("$first_color");
                    text-transform: uppercase;
                }
                >ul {
                    >li {
                        border-bottom: 2px solid rgba(hubl("$first_color"), 0.48);
                        position: relative;
                        text-align: left;
                        padding: 10px 0px 10px 20px;
                        list-style-type: none;
                        text-decoration: none;
                        @media (min-width: 768px) {
                            min-width: 225px;
                        }
                        &:before {
                            position: absolute;
                            content: '';
                            background-image: url('https://www.storylead.com/hubfs/STORYLEAD%202017/Icons/arrow-down.png');
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: contain;
                            width: 20px;
                            height: 15px;
                            right: 10px;
                            top: calc(50% + 4px);
                            transform: translateY(-50%);
                        }
                        >a {
                            width: 100%;
                            display: block;
                            text-decoration: none;
                            font-size: 20px;
                            padding-right: 25px;
                            position: relative;
                            z-index: 1;
                            color: hubl("$first_color");
                            text-transform: uppercase;
                        }
                        @media (max-width: 500px) {
                            padding: 10px 0px 10px 10px;
                            &:before {
                                right: 5px;
                                width: 15px;
                                height: 12px;
                            }
                            >a {
                                font-size: 14px;
                            }
                        }
                    }
                }
                .resource-categories__list {
                    z-index: 999;
                    display: none;
                    margin-top: 0;
                    top: calc(100% + 2px);
                    width: 100%;
                    right: 0;
                    position: absolute;
                    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
                    li {
                        text-align: left;
                        padding-left: 15px;
                        padding-right: 15px;
                        white-space: normal;
                        word-wrap: break-word;
                        @media (max-width: 500px) {
                            padding-left: 10px;
                            padding-right: 10px;
                        }
                    }
                }
            }
            @media (min-width: 768px) {
                &:first-of-type {
                    .resource-categories__container {
                        justify-content: flex-end;
                    }
                }
                &:last-of-type {
                    .resource-categories__container {
                        justify-content: flex-start;
                    }
                }
            }
            @media (max-width: 767px) {
                max-width: 50%;
                .resource-categories__container {
                    flex-direction: column;
                }
            }
        }
        .categories-section-start {
            @media (max-width: 767px) {
                >div >div {
                    display: flex;
                    justify-content: center;
                    .list-categories-section {
                        width: 100%;
                    }
                }
            }
        }
    }
}