.stl-product-table {
	
	.pricing-tables-nav {
		padding-top: 15px;
		background-color: hubl("$first_color");

		.tabs-menu {
			padding-left: 340px;

			@media (max-width: 991px) {
				padding-left: 0;
			}

			.hs-menu-wrapper {

				ul {
					display: flex;
					

					@media (max-width: 991px) {
						justify-content: center;
					}

					li.hs-menu-item {
						display: table;
					    margin-left: 10px;
					    height: 70px;
				        border-top-right-radius: 5px;
			            border-top-left-radius: 5px;
			            transition: all .3s linear;
			            width: auto;

						a {
							padding: 0 20px;
							color: #fff;
						    vertical-align: middle;
						    display: table-cell;
						    position: relative;
						    min-width: 135px;
						    text-align: center;
			            	transition: all .3s linear;


						}

						@media (max-width: 580px) {
			            	height: 55px;

			            	a {
			            		font-size: 16px;
			            		min-width: 0;
			            		padding: 0 10px;
			            	}		
			            }

					&.active, &:hover {
						background-color: #fff;

						a {
							color: hubl("$first_color");
						}
					}
					}

				}
			}
		}
	}

	.product-table-section {
		margin-top: 55px;

		.container {
			> div > div > .row-fluid {
				display: flex;

				@media (max-width: 767px) {
					display: block;
				}
			}
		}

		.product-table-left-nav {
			width: 350px;

			@media (max-width: 991px) {
				width: 300px;
			}

			@media (max-width: 767px) {
				width: 100%;
				margin-bottom: 50px;
			}

			> span > div:last-of-type {

				.product-table-left-nav__item {
					border-bottom: none;
				}
			}
			&__item {
				padding: 15px 50px 15px 70px;
				border-bottom: 1px solid #D8DDE0;
				margin-left: 35px;
				position: relative;
				cursor: pointer;
				overflow: hidden;
				background-color: #fff;
				transition: all .3s ease-in-out;

				@media (max-width: 991px) {
					padding: 15px 25px 15px 25px;
				}

				@media (max-width: 767px) {
					margin-left: 0;
					margin-right: 0;
				}

				&:after {
					font-family: "FontAwesome";
					content: "\f105";
					font-size: 45px;
					position: absolute;
					top: 50%;
					right: -25px;
					display: block;
					opacity: 0;
					color: hubl("$first_color");;
					transform: translateY(-50%);
					transition: all .3s ease-in-out;

					@media (max-width: 767px) {
						content: "\f107";
						right: 25px;
					}
				}

				&:hover {

					&:after {
						right: 25px;
						opacity: 1;
					}
				}

				&--active {
					margin-left: 0;
					background-color: hubl("$first_color");
					padding-left: 25px;

					&:after {
						right: 25px;
						opacity: 1;
						color: #fff;
					}

					.product-table-left-nav__item-name, .product-table-left-nav__item-price {
						color: #fff;
					}
				}
			}

			&__item-name, &__item-price {
				margin: 10px 0;
				line-height: 1.2;
			}

			&__item-name {
				font-size: 20px;
				color: hubl("$first_color");
				font-weight: 600;
			}

			&__item-price {
				font-size: 18px;
			}
		}

		.product-tables {
			border-left: 1px solid #D8DDE0;
			margin-left: 0;
			width: calc(100% - 350px);
			margin-bottom: 50px;

			@media (max-width: 991px) {
				width: calc(100% - 300px);
			}

			@media (max-width: 767px) {
				border-left: 0;
				width: 100%;
			}

			.product-table {
				padding: 0 35px;
				display: none;

				@media (max-width: 767px) {
					padding: 0;
				}

			&--active {
				display: block;
			}

				&__header {
					width: 100%;
					margin-bottom: 40px;
				}

					&__header-title {
						color: hubl("$first_color");
						margin-top: 0;
						margin-bottom: 5px;
					}

					&__header-subtitle {
						color: hubl("$first_color");
						margin-top: 0;
						margin-bottom: 5px;
						font-weight: 600;
					}

				&__highlighted-box {
					width: 100%;
					background-color: #e5ecf0;
					border-radius: 5px;
					padding: 20px 40px;
					margin-bottom: 35px;

					p {
						margin: 10px 0;
						font-weight: 400;
						color: #415665;
					}
				}

				&__content-wrapper {
					display: flex;

					@media (max-width: 991px) {
						display: block;
					}

					h3 {
						font-size: 20px;
					}

					.disabled {

						li, li:before,
						a, a:before {
							opacity: .7;
						}
					}

					ul {
						list-style: none;
						margin: 20px 0;

						li {
							position: relative;
							padding: 0;
							padding-left: 30px;
							line-height: 1.4;
							margin-bottom: 5px;
							color: hubl("$main_font_color");
							display: block;
							font-family: $font_family;

							&:before {
								position: absolute;
								left: 5px;
								top: 4px;
								content: "";
								display: inline-block;
								width: 7px;
								height: 14px;
								border: solid hubl("$first_color");
								border-width: 0 2px 2px 0;
								transform: rotate(44deg);
								line-height: inherit;
							}
						}
					}


				}

					&__left-column {
						width: 55%;
						padding-right: 10px;

						@media (max-width: 991px) {
							width: 100%;
						}

					}

					&__right-column {
						width: 45%;

						@media (max-width: 991px) {
							width: 100%;
						}
					}

					&__accordions {

						ul {
							display: block;

							li.accordion-item {

								a {
									line-height: 1.4;
									padding: 0;
									color: hubl("$main_font_color");
									display: block;
									white-space: normal;
									font-family: $font_family;
									font-weight: 200;

									&:before {
										position: absolute;
										font-family: "FontAwesome";
									    content: "\f105";
									    font-size: 26px;
									    line-height: 1;
									    display: block;
									    color: hubl("$first_color");
									    border: none;
									    top: 0;
									    left: 0;
									    transition: all .2s linear;
									}
								}

								&.accordion-depth-1 {

									&:before {
									    display: none;
									}

									ul {
										display: none;
										position: relative;
										visibility: visible;
										opacity: 1;
										margin: 0;
										left: 0;
										
										li {

											&:before {
												border-color: hubl("$main_font_color");
											}

											a {
												cursor: default;
											}
										}
									}

									&.expand {

										> a {

											&:before {
												transform: rotate(90deg);
											}
										}
									}
								}
							}
						}
					}
			}
		}

		.product-related {
			display: none;
		}
	}

	.product-add {

		.product-related {
			display: none;

			.product-workshop {
				background-color: hubl("$first_color");
				color: #fff;
				text-align: center;
				padding: 35px 0 0px;
				margin-bottom: 50px;

				@media (max-width: 991px) {
					padding-bottom: 20px;
				}

				h1, h2, h3, h4 {
					color: #fff;
					text-transform: none;
				}

				.container {
					display: flex;

					&--small {
						max-width: 940px;
					}

					@media (max-width: 991px) {
						display: block;
					}
				}

				&__column {
					padding: 0 20px;
					margin-bottom: 30px;

					&:nth-child(odd) {
						padding-left: 0;
					}

					&:nth-child(even) {
						padding-right: 0;
					}

					@media (max-width: 991px) {
						padding: 0;
					}
				}
			}

			.product-focus {
				margin-bottom: 0px;

				&__title {
					margin-bottom: 40px;

					h2 {
						color: hubl("$first_color");
						text-transform: none;
					}
				}

				&__boxes-wrapper {
					display: flex;
					justify-content: center;
					flex-wrap: wrap;

					&.two-two {
						
						.product-focus__box {
							margin-left: 30px;
							margin-right: 30px;
						}
					}
				}

					&__box {
						max-width: 345px;
						transition: all .3s ease-in-out;
						margin-bottom: 50px;
						margin-left: 15px;
						margin-right: 15px;
						border-radius: 3px;

						&:hover {
							box-shadow: 0px 0px 10px rgba(0, 0, 0, .16);

							.product-focus__box-image-mask {
								opacity: .7;
							}
						}
					}

						&__box-image {
							position: relative;
							width: 100%;
							height: 220px;
							background-repeat: no-repeat;
							background-size: cover;
							background-position: center;
							border-radius: 3px;
						}

							&__box-image-mask {
								position: absolute;
								top: 0;
								left: 0;
								width: 100%;
								height: 100%;
								background-color: hubl("$first_color");
								opacity: .8;
								border-radius: 3px;
								transition: all .3s ease-in-out;
							}

							&__box-image-title {
								position: absolute;
								display: inline-block;
								bottom: 0;
								color: #fff;
								padding: 20px 30px;
								font-size: 20px;
								text-transform: uppercase;
								font-weight: normal;
							}

						&__box-content {
							padding: 25px 30px 15px;
							height: calc(100% - 220px);
							display: flex;
							flex-direction: column;
							justify-content: space-between;

							p {
								margin-top: 0;
							}

							.cta_button {
								box-sizing: border-box !important;
								width: 100%;
							}
						}
			}
		}
	}

}