.stl-typ {
    h3{
        font-weight: 400;
    }
    .hero-banner {
        margin-top: 0px;
    }
    .widget-type-post_listing {
        ul {
            li {
                padding-left: 20px;
            }
        }
    }
    .post-listing {

        @media (max-width: 767px) {
            margin-top: 40px;
        }
    }
    .hs-cta-wrapper{
        a{
            border-width: 1px;
        }
    }
}