.themen-page {
    .themen-section {
        padding-top: 25px;
        padding-bottom: 25px;
        h2 {
            margin-bottom: 10px;
            font-size: 20px;
            line-height: 1.2;
            &+p {
                margin: 0;
            }
        }
        h3 {
            margin-top: 5px;
        }
        img {
            @media (max-width: 767px) {
                float: none !important;
                margin: 10px 0 !important;
            }
        }
        .hs-cta-node {
            text-align: left !important;
        }
    }
}