.case-study-1 {
    #ajax-container {
        transition: opacity 1s ease-in-out;
    }
    .case-studies {
        margin: 13px 15px;
    }
    .case-study-body {
        margin-left: 13px;
        @media (max-width: 767px) {
            margin-left: 0;
        }
    }
    .case-study-container {
        max-width: 1810px;
        @media (max-width: 767px) {
            padding-right: 0;
            padding-left: 0;
        }
    }
    .listing-blog {
        margin-top: 12px;
        display: flex;
        flex-wrap: wrap;
        @media (max-width: 1114px) {
            justify-content: center;
        }
    }
    .body-container-wrapper {
        background-color: #fbfbfb;
        margin-top: 0px;
    }
    .right-sidebar {
        background-color: #fff;
        width: 310px;
        min-height: 545px;
        @media (max-width: 767px) {
            width: 100%;
            height: 100%;
            min-height: 0px;
        }
        h4 {
            margin-left: 20px;
            color: hubl('$main_font_color');
            font-size: 20px;
            font-weight: 600;
            @media (max-width: 767px) {
                margin-bottom: -10px;
            }
        }
    }
    .sidebar-submenu {
        border: none;
        ul li a.active-child {
            background-color: hubl("$first_color");
            color: #FFF;
        }
        ul li.hs-item-has-children>ul.hs-menu-children-wrapper li a.active:before {
            content: "";
            display: block;
            background: hubl("$cta_background");
            width: 7px;
            height: 7px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            position: absolute;
            left: -4px;
            top: 18px;
        }
    }
    .case-study-container .row-fluid-wrapper > .row-fluid {
        display: flex;
        @media (max-width: 767px) {
            display: block;
        }
    }
    .listing-blog .pagination {
        width: 100%;
        padding-left: 15px;
        cursor: auto;
        .disabled {
            display: none;
        }
        li {
            display: inline-block;
            background-color: #fff;
            border-radius: 4px;
            a {
                border-radius: 4px;
                overflow: hidden;
                color: hubl('$main_font_color');
                display: block;
                line-height: 22px;
                border: solid 1px #ebebeb;
                height: 27px;
                width: 24px;
                text-align: center;
                font-size: 16px;
                overflow: hidden;
                &:hover {
                    background-color: hubl('$cta_background');
                    border: solid 1px hubl('$cta_background');
                    color: #fff;
                }
            }
            &.active {
                a {
                    background-color: hubl('$cta_background');
                    border: solid 1px hubl('$cta_background');
                    color: #fff;
                }
            }
        }
    }
    nav.clearfix {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 60px;
    }
    figure.case-study {
        min-width: 360px;
        margin: 0;
        overflow: hidden;
        border-radius: 10px;
        height: 360px;
        max-width: 360px;
        width: 100%;
        transition: 0.5s all;
        &:hover {
            box-shadow: 0 3px 15px 0 rgba(0, 0, 0, .1);
        }
        &:hover .company-logo {
            height: 215px;
        }
        &:hover .company-logo img {
            max-width: 180px;
            max-height: 70px;
        }
        @media (max-width: 400px) {
            min-width: 0;
        }
        .feature-image {
            background-size: cover;
            width: 100%;
            height: 215px;
            position: relative;
        }
        .company-logo {
            transition: all 0.5s;
            height: 60px;
            width: 100%;
            background-color: hubl_rgba("$first_color", 0.65);
            position: absolute;
            bottom: 0;
            img {
                transition: all 0.5s;
                position: absolute;
                max-width: 100px;
                max-height: 40px;
                display: block;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        .description {
            height: 145px;
            width: 100%;
            padding: 20px;
            background-color: #fff;
            p {
                height: 105px;
                overflow: hidden;
                text-overflow: ellipsis;
                margin: 0;
                font-size: 18px;
                color: hubl('$main_font_color');
                font-weight: 400;
            }
        }
    }
    section.hero-banner.huge {
        height: 500px;
    }
    &.hs-blog-post {
        .case-study-container {
            max-width: 1170px;
        }
    }
}
