// ABOUT AUTHOR 


.stl-blog{
    .hs-author-profile{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .hs-author-avatar{
            width: 35%;
            @media(max-width: 550px){
                width: 100%;
                margin-bottom: 30px;
            }
            img{
                width: 100%;
            }
        }
        .hs-author-bio{
            width: 60%;
            text-align: left;
            @media(max-width: 550px){
                width: 100%;
            }
            h2{
                margin-top: 0px;
                text-align: left;
            }
            .hs-author-social-section{
                margin-top: 20px;
            }
        }
    }
    .hs-author-listing-header{
        margin: 30px 0px;
    }
}


/*BLOG LISTING*/


.stl-blog-v2 {
    .portfolio-menu-wraper {
        min-height: 0;

        ul {
            display: block;
            min-height: 0;
            margin: 0;

            li {
                a {
                    padding: 0;
                }
            }
        }
    }
}

// MENU
.stl-blog {
    .portfolio-menu-wraper {
        // @media (max-width: 767px) {
        //     display: none;
        // }
        ul.multi-blog {
            li {
                a {
                    padding: 0 20px;
                }
            }
        }
    }

    &.blog {
        .hero-banner-stl {
            &.single-post {
                .content {
                    h1, h2 {
                        line-height: 1.5;
                        @media (max-width: 767px) {
                            font-size: 40px;
                        }

                        @media (max-width: 500px) {
                            font-size: 28px;
                        }
                        span {
                            line-height: inherit;
                            font-size: inherit;
                        }
                    }
                }

            }
        }


        .container.resource-categories__container {
            min-height: 80px;
            display: flex;
            align-items: center;
            &.desktop {
                display: none;
                @media (min-width: 768px){
                    display: block;
                }
            }
            &.mobile {
                display: none;
                >p {
                    margin: 0;
                    padding: 10px 20px;
                    font-size: 20px;
                    color: #fff;
                    text-transform: uppercase;
                    display: inline-block;
                    @media (max-width: 390px){
                        display: none;
                        

                    }
                }
                ul {
                    display: inline-block;
                   
                }
                >ul {
                    //background-color: #fff;
                    >li {
                        border-bottom: 2px solid rgba(255, 255, 255, 1);
                        position: relative;
                        text-align: left;
                        padding: 10px 0px 10px 20px;
                        list-style-type: none;
                        text-decoration: none;
                            min-width: 225px;
                        
                        &:before {
                            font-family: FontAwesome;
                            position: absolute;
                            content: '\f107';
                            color: #fff;
                            font-size: 30px;
                            right: 10px;
                            line-height: 1;
                        }
                        >a {
                            width: 100%;
                            display: block;
                            text-decoration: none;
                            font-size: 20px;
                            padding-right: 25px;
                            position: relative;
                            z-index: 1;
                            color: #fff;
                            text-transform: uppercase;
                        }
                        @media (max-width: 500px) {
                            padding: 10px 0px 10px 10px;
                            &:before {
                                right: 5px;
                                width: 15px;
                                height: 12px;
                            }
                            >a {
                                font-size: 14px;
                            }
                        }
                    }
                }
                @media (max-width: 767px){
                    display: flex;

                }
                   @media (max-width: 390px){
                   
                    justify-content: center;
                   }
            }


            .resource-categories__list {
                z-index: 999;
                display: none;
                margin-top: 0;
                top: calc(100% + 2px);
                width: 100%;
                right: 0;
                position: absolute;
                box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
                
                .resource-categories__element {
                    border-radius: 0;
                    margin: 0;
                    padding: 0;
                    text-align: left;
                    white-space: normal;
                    word-wrap: break-word;
                    @media (max-width: 500px) {
                        padding-left: 10px;
                        padding-right: 10px;
                    }

                    a {
                        display: block;
                        padding: 10px 25px;
                    }

                    &.active {
                        background-color: #fff;
                        a {
                            color: hubl("$first_color");
                        }
                    }
                }
            }


        }


    }
}

.portfolio-menu-wraper{
    background: hubl("$first_color");
    min-height: 85px;
    @media only screen and (max-width : 1055px) {
            
            height: 100%;
        }


    ul.multi-blog{
        display: flex;
        list-style: none;
        justify-content: center;
        align-items: flex-end;
        flex-wrap: wrap;
        min-height: 85px;
        // background-color: pink;
        @media only screen and (max-width : 1024px) {
            flex-wrap: wrap;  
            height: 100%;
        }
        @media only screen and (max-width : 486px) {
            align-items: center;
            flex-direction: column; 
            height: 100%;
        }
        li{
            display: table;
            margin-left: 10px;
            height: 70px;
            background-repeat: no-repeat;
            background-image: none;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            transition: all 0.5s ease;
            // cursor: pointer;
            @media only screen and (max-width : 1024px) {
                margin: 10px 10px; 
                border-radius: 5px;   
            }
            @media only screen and (max-width : 486px) {
                margin: 10px 0px;    
            }
            &:first-child{
               
                a{
                display: table-cell;
                vertical-align: middle;
                padding: 0 55px;
                margin:0;
                &:before{
                    content: ""; 
                    display: none;  
                }
                }
               
            }
            &.content {
                a {
                    &:before {
                        top:8px;
                    }
                }
            }
            a{
                color: #fff;
                vertical-align: middle;
                display: table-cell;
                position: relative;
                padding-left: 70px;
                font-size: 14px;
                &:before{
                    content: "";
                    display: inline-block; 
                    width: 45px;
                    height: 45px;
                    background-repeat: no-repeat;
                    background-position: top;
                    position: absolute;
                    top: 15px;
                    left: 15px;
                                    }
              
                @media only screen and (max-width : 494px) {
                     //padding: 0 10px;
                }
            }
            &:hover{
                background-color: #fff;
                box-shadow: 2px 0px 0px 0px rgba(0,0,0,0.1);
                a{
                color: hubl("$cta_hover_color"); 
                     &:before{
                        background-position: bottom;
                        }
                }
            }
        }
        .active{
            color: hubl("$cta_background"); 
            background-color: #fff;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            box-shadow: 2px 0px 0px 0px rgba(0,0,0,0.1);
            a{
                color: hubl("$cta_hover_color"); 
                &:before{
                    background-position: bottom;
                }
                
            } 
        }
    }
}
// // BLOG POST LISTING
// .multi-blog-wraper{
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: center;
//     padding: 78px 0px 15px 0px;
//         .multi-blog{
//             transition: all 0.5s ease;
//             margin: 0px;
//             &:nth-child(3n+2){
//                 margin: 0px 30px;
//                 @media only screen and (max-width : 1169px) {
//                     margin: 0px 15px;
//                 }
//             }
//             @media only screen and (max-width : 1169px) {
//                 margin: 0px 15px;
//             }

            
//             .content{
//                 height: 372px;
//                 width: 360px;
//                 position: relative;
//                 overflow: hidden;
//                 background-size: cover!important;
//                 background-position: center center;
//                 background-repeat: no-repeat;
//                 border-radius:5px;
//                 box-shadow: 4px 3px 5px 0px rgba(0,0,0,0.1);
//                 margin-bottom: 37px;
//                 &:hover{
//                     .desc{
//                         height: 175px;
//                         @media only screen and (max-width : 400px) {
//                              height: 200px;
//                         }
//                     }
//                 }
//                 @media only screen and (max-width : 400px) {
//                     width: 340px;
//                 }
//                 @media only screen and (max-width : 360px) {
//                     width: 280px;
//                 }
//                 .category{
//                     width: 68px;
//                     height: 68px;
//                     background-color: hubl_rgba("$first_color", 0.8 ); 
//                     position: absolute;
//                     top: 0;
//                     left: 0;
//                     background-repeat: no-repeat;
//                     background-position: center 15px;
//                     &:before{
//                         content: "";
//                         display: block;
//                         width: 45px;
//                         height: 45px;
//                         background-position: top;
//                         margin: 11px auto;
//                     }

//                 }
//                 .desc{
//                     background: hubl("$first_color");
//                     padding: 13px 25px;
//                     position: absolute;
//                     bottom: 0px;
//                     height: 100px;
//                     transition: height 0.5s ease;
//                     @media only screen and (max-width : 400px) {
//                          height: 120px;
//                     }
//                     small{
//                         font-size: 13px;
//                         color:#fff;
//                         margin: 0;
//                     }
//                     h4{
//                         font-size: 18px;
//                         color: #fff;
//                         font-weight: 500;
//                         margin: 10px 0px;
//                     }
//                     p{
//                         font-size: 16px;
//                         color: #fff;
//                         font-weight: 400;
//                         margin: 0;
//                     }
//                     span{
//                         display: block;
//                         width: 11px;
//                         height: 18px;
//                         background: url('//cdn2.hubspot.net/hubfs/685080/IMG-TurboSodium/Sodium%20v2/read-more-white.png');
//                         background-position: right;
//                         padding-left: 100px;
//                         background-repeat: no-repeat;
//                         float: right;

//                     }
//                     &:hover{
//                         height: 175px;
//                         @media only screen and (max-width : 400px) {
//                              height: 200px;
//                         }
//                     }
//                 }

//             }
//         }
//    }

// pagination
.multi-blog{
 .pagination {
        width: 100%;
        padding-left: 0px;
        cursor: auto;
        .disabled {
            display: none;
        }
        li {
            display: inline-block;
            background-color: #fff;
            border-radius: 4px;
            a {
                border-radius: 4px;
                overflow: hidden;
                color: hubl("$main_font_color");
                display: block;
                line-height: 22px;
                border: solid 1px #ebebeb;
                height: 27px;
                width: 24px;
                text-align: center;
                font-size: 16px;
                overflow: hidden;
                &:hover {
                    background-color: hubl("$cta_background");
                    border: solid 1px hubl("$cta_background");
                    color: #fff;
                }
            }
            &.active {
                a {
                    background-color: hubl("$cta_background");
                    border: solid 1px hubl("$cta_background");
                    color: #fff;
                }
            }
        }
    }
    .clearfix {
        width: 100%;
        margin-top: 0px;
        margin-bottom: 38px;
    }
}
    



.blog {

    h2{
        span{
            font-size:30px;
        }
    }
      h3{
        span{
             font-size:24px;
        }
    }
    .h3{
             font-size:24px!important;
    }
      h4{
        span{
             font-size:20px;
        }
    }
    h4, .h4{
           font-size:20px!important;
    }
    .multi-blog-body{
        margin-bottom:50px;
    }
    .cta-primary {
        border-width: 1px;
    }
    .hero-banner-stl {
        &.single-post {
            .content {
                h1, h2 {

                    span {
                        color:inherit;
                        font-size: 58px;
                    }
                }
                .post-info {
                    img {
                        border-radius: 50%;
                        height: 80px;
                        margin-right: 10px;
                    }
                    span {
                        line-height: 80px;
                        i {
                            margin-right: 5px;
                        }
                    }
                    .author-name {
                        margin-right: 10px;
                    }
                    .author-name a{
                        color: #fff;
                    }
                    date {
                        margin-right: 10px;
                        i {
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }
    .blog-content {
        margin: 50px 0 0 0;
        padding-right: 30px;
        @media (max-width: 768px) {
            padding-right: 0;
        }
        .multi-blog-wraper {
            .multi-blog {
                margin-bottom:70px;
                display: flex;
                @media(max-width:992px) {
                    flex-wrap: wrap;
                }
                
                figure {
                    position:relative;
                    margin:0 15px 0 0;
                    width: 45%;
                    background-size: cover;
                    background-repeat: no-repeat;
                    @media (max-width: 992px) {
                        padding-bottom:50%;
                        margin-right:0;
                        margin-bottom:15px;
                        width: 100%;
                    }
                    @media (max-width: 767px) {
                        display: none;
                    }
                    .category{
                        width: 68px;
                        height: 68px;
                        background-color: hubl_rgba("$first_color", 0.8 ); 
                        position: absolute;
                        top: 0;
                        left: 0;
                        background-repeat: no-repeat;
                        background-position: center 15px;
                        &:before{
                            content: "";
                            display: block;
                            width: 45px;
                            height: 45px;
                            background-position: top;
                            background-repeat: no-repeat;
                            margin: 11px auto;
                        }
                        &.content {
                            margin-left:0;
                        }

                    }
                }
                .content {
                    margin-left:15px;
                    width: 55%;
                    @media (max-width: 992px) {
                        margin-left:0;
                        width: 100%;
                    }
                    h2 {
                        margin: 0 0 20px 0;
                        color: hubl("$cta_hover_color");
                        font-size: 22px;
                        text-align: left;
                        text-transform: none;
                    }
                    .post-info, .post-info a {
                        color: hubl("$main_font_color");
                        font-size: 11px;
                        i {
                            color: hubl("$cta_hover_color");
                        }
                        date, .read-time,a {
                            padding-left: 10px;
                        }
                    }
                    p {
                        font-size: 16px;
                    }
                    a {

                    }
                }
            }
        }
        .single-post {
            h1 {
                margin-top:0;
                font-size: 28px;
                text-align: left;
                text-transform: none;
                font-weight: normal;
                color: hubl("$main_font_color");
                span {
                    color:inherit;
                }
            }
            .post-info {
                font-size: 16px;
                .author-name, .author-name a{
                    font-size: 16px;
                    color:hubl("$first_color");
                    font-weight: 600;
                }
            }
            .social-sharing {
                .fb_iframe_widget {
                    > span {
                        vertical-align: top !important;
                    }
                }
                .IN-widget {
                    > span {
                        &:nth-child(2) {
                            transform: translateY(-5px);
                        }
                    }
                }
            }
            .post-content {
                margin:15px 0;
                .hs_cos_wrapper_type_rich_text {
                    strong {
                        font-weight: bold;
                    }
                    h4 {
                        font-size: 24px;
                    }
                    blockquote {
                        padding: 25px 0 25px 150px;
                        text-transform: uppercase;
                        text-align: left;
                        font-size: 26px;
                        line-height: 1.1;
                        position:relative;
                        width:100%;
                        @media (max-width:992px) {
                            padding-left:60px;
                        }
                        &:before {
                            position: absolute;
                            display: block;
                            content: '\f10d';
                            font-family: fontAwesome;
                            font-size: 100px;
                            top:50px;
                            left:40px;
                            @media (max-width:992px) {
                                left:5px;
                                font-size: 50px;
                            }
                        }
                        &:after {
                            content:'';
                        }
                    }
                }
            }  
            .conclusion {
                margin:45px 0;
                padding: 40px 20px;
                border: 1px solid #ddd;
                h3 {
                    margin-top: 0;
                }
                ul {
                    margin-top:15px;
                    li {
                        display:inline-block;
                        margin-right: 10px;
                        a {
                            i {
                                color: hubl("$first_color");
                            }
                        }
                    }
                }
            }
            .related-posts {
                margin:30px 0;
                display: flex;
                justify-content: flex-start;
                @media (max-width: 992px) {
                    flex-wrap: wrap;
                }
                .related-post {
                    margin:0 1%;
                    background-color: hubl("$first_color");
                    display: block;
                    width:32%;
                    &:first-child {
                        margin-left: 0;
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                    @media (max-width: 992px) {
                        width: 100%;
                        margin-bottom:15px;
                    }
                    .image {
                        width:100%;
                        padding-bottom:50%;
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                    .post-info {
                        padding: 15px 15px 30px 15px;    
                        color:white;
                        p {
                            margin:0;
                            padding:10px 0;
                            font-size: 12px;
                        }
                        h4 {
                            margin:0;
                            font-size: 15px;
                            color:white;
                        }
                    }
                }
            }
        }
    }
    .sidebar {
        padding-top:30px;
        .h3 {
            font-size: 21px;
            text-transform: uppercase;
            font-weight: 600;
            display: block;
            margin-bottom: 25px;
        }
        .about, .subscription, .cta-box, .popular-posts {
             border-bottom: 1px solid #e5e4e4;
        }
        .subscription {
            padding-bottom: 30px;
        }
        .cta-box {
            height:auto;
            padding:0;
            padding-bottom:20px;
        }
        .popular-posts {
            .posts {
                padding-bottom: 10px;
                .post {
                    position:relative;
                    margin-left:20px;
                    display: block;
                    margin-bottom:20px;
                    font-size: 16px;
                    color: hubl("$main_font_color");
                    &:before {
                        position:absolute;
                        left: -17px;
                        content:'\f101';
                        font-family: fontAwesome;
                    }
                    &:hover {
                        color: hubl("$cta_hover_color");
                    }
                }
            }
        }
        .socials {
            display: flex;
            flex-wrap: wrap;
            padding: 0;
            list-style-type: none;
            li {
                margin-right: 20px;
                margin-bottom: 20px;
                .circle {
                    width: 40px;
                    height: 40px;
                    border: 1px solid hubl("$first_color");
                    position: relative;
                    transition: .3s all linear;
                    border-radius: 3px;
                    i {
                        position: absolute;
                        transition: inherit;
                        color: hubl("$first_color");
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
                &:hover {
                    .circle {
                        background-color: hubl("$first_color");
                        i {
                            color: white;
                        }
                    }
                }
            }
        }
        .subscribe-popup-wrapper {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(hubl("$footerBlack"), 0.9);
            display: none;
            z-index: 100000;
            overflow: auto;
            .content-wrapper {
                padding: 15px;
                width: 100%;
                max-width: 530px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            .exit {
                position: absolute;
                right: 50px;
                top: 50px;
                width: 20px;
                height: 20px;
                color: #fff;
                font-size: 40px;
                background-image: url(https://www.storylead.com/hubfs/STORYLEAD%202017/Icons/exit-btn-diamond.png);
                background-size: cover;
                background-repeat: no-repeat;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    .subscribe-popup-wrapper {

        .h3 {
            color: white;
        }
    }

    form {
        color: white;
        .multi-blog-body {
            > div {
                &:first-child {
                    > label {
                        display: block;
                        padding-bottom:25px;
                    }
                }
            }
        }
            .hs-form-required {
                display: none;
            }
            .hs-form-field {
                margin-bottom: 40px;
                &.hs_blog_spitzenruf_blog_subscription, &.hs_anrede {
                    margin-bottom: 20px;
                }
                .input {
                    .inputs-list.multi-container {
                        display: flex;
                        >li {
                            width: 50%;
                            font-size: 16px;
                            line-height: 24px;
                        }
                    }
                    input,
                    textarea {
                        background-color: transparent;
                        color: #fff;
                        border: none;
                        border-bottom: 1px solid #fff;
                        font-size: 16px;
                        line-height: 1.5;
                        letter-spacing: .4px;
                        padding: 0 2px;
                        border-radius: 0px;
                        -webkit-appearance: none;
                    }
                    textarea {
                        resize: horizontal;
                        min-height: 100px;
                    }
                }
                &.hs_message {
                    margin-bottom: 20px;
                }
            }
            ul {
                &.hs-error-msgs {
                    li {
                        font-size: 16px;
                        line-height: 24px;
                        margin-top: 5px;
                    }
                }
            }
            .hs_submit {
                input {
                    @extend .cta--white;
                }
            }
            select {
                display: none;
            }
            .dropdown-header,
            .dropdown-list {
                background-color: transparent;
                color: #fff;
                border: none;
                border-bottom: 1px solid #fff;
                font-size: 16px;
                line-height: 1.5;
                letter-spacing: .4px;
                padding: 0 2px;
            }
            .dropdown-header {
                padding-right: 40px;
                position: relative;
                transition: .2s linear all;
                &:after,
                &:before {
                    transition: inherit;
                    font-family: FontAwesome;
                    position: absolute;
                    bottom: 15px;
                    right: 10px;
                    width: 20px;
                    height: 20px;
                }
                &:before {
                    content: '\f106';
                    opacity: 0;
                }
                &:after {
                    content: '\f107';
                    opacity: 1;
                }
                &.slide-down {
                    &:after {
                        opacity: 0;
                    }
                    &:before {
                        opacity: 1;
                    }
                }
            }
            .dropdown-list {
                list-style-type: none;
                li {
                    display: block;
                    border-bottom: 1px solid rgba(#fff, .4);
                    &:last-of-type {
                        border-bottom: 0px;
                    }
                    &:before {
                        content: '»';
                        margin-right: .2em;
                        font-size: 1.2em;
                    }
                }
            }
             ::-webkit-input-placeholder {
                /* Chrome/Opera/Safari */
                color: #fff;
            }
             ::-moz-placeholder {
                /* Firefox 19+ */
                color: #fff;
            }
             :-ms-input-placeholder {
                /* IE 10+ */
                color: #fff;
            }
             :-moz-placeholder {
                /* Firefox 18- */
                color: #fff;
            }
        } 
}
