.product-page-listing-v2.hs-blog-listing {
        background-color: #fafafa;
    .hs-breadcrumb-menu-divider:before {
        content: "/";
    }
    .hs-breadcrumb-menu-item {
        padding: 0px 0px 0px 10px;
        a {
            color: hubl("$main_font_color");
            font-weight: 400;
        }
        &.last-crumb {
            font-weight: 600;
        }
    }
    .hs-breadcrumb-menu-wrapper {
        float: right;
        @media (max-width: 767px) {
            float: left;
        }
    }
    .hs-breadcrumb-menu {
        margin: 2px 0 0 -11px;
    }
    .container {
        max-width: 1200px;
        &.blog-content-section {
            @media (max-width: 767px) {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
    .blog-content-section .row-fluid-wrapper > .row-fluid {
        display: flex;
        @media(max-width: 767px) {
            display: block;
        }
    }
    .hs-error-msgs a {
        font-size: 18px;
    }
    .listing-header {
        margin: 28px 0 -38px 26px;
        @media(max-width: 767px) {
            margin: 28px 0 0px 0px;
        }
    }
    .view {
        ul {
            list-style-type: none;
            li {
                opacity: 0.5;
                float: left;
                margin-right: 8px;
                cursor: pointer;
                margin-bottom: 15px;
                &.active {
                    opacity: 1;
                }
            }
        }
    }
    .post-header {
        margin: 50px 0 30px;
    }
    hr {
        clear: both;
        border-bottom: 1px solid #f6f6f6;
        border-top: 0;
    }
    .widget-type-cta {
        margin: 50px 0 40px 30px;
        @media (max-width: 767px) {
            margin: 50px 0 40px 0;
        }
    }
    .pagination {
        width: 100%;
        padding-left: 30px;
        margin-bottom: 32px;
        cursor: auto;
        @media (max-width: 767px) {
            padding-left: 0;
        }
        .disabled {
            display: none;
        }
        li {
            display: inline-block;
            background-color: #fff;
            border-radius: 4px;
            margin-right: 4px;
            a {
                border-radius: 4px;
                overflow: hidden;
                color: hubl("$main_font_color");
                display: block;
                line-height: 22px;
                border: solid 1px #ebebeb;
                height: 27px;
                width: 24px;
                text-align: center;
                font-size: 16px;
                overflow: hidden;
                &:hover {
                    background-color: hubl("$cta_background");
                    border: solid 1px hubl("$cta_background");
                    color: #fff;
                }
            }
            &.active {
                a {
                    background-color: hubl("$cta_background");
                    border: solid 1px hubl("$cta_background");
                    color: #fff;
                }
            }
        }
    }
    .listing-wrapper {
        margin-left: 10px;
        padding-right: 20px;
        @media(max-width: 767px) {
            margin-left: 0px;
            padding-left: 15px;
            padding-right: 15px;
        }
        .listing-blog {
            transition: opacity 0.3s ease-in-out;
            opacity: 1;
            .single-post {
                position: relative;
                margin-top: 60px;
            }
            .featured-image {
                text-align: center;
                @media (max-width: 767px) {
                    text-align: left;
                }
                .image-wrapper {
                    position: relative;
                    max-width: 281px;
                    display: inline-block;
                }
            }
            img {
                width: 100%;
                max-width: 281px;
            }
            h3 {
                font-size: 40px;
                color: hubl("$main_font_color");
                font-weight: 400;
                margin-top: -8px;
                margin-bottom: 25px;
                @media(max-width: 767px) {
                    margin-top: 5px;
                }
            }
            .ribbon {
                position: absolute;
                right: -5px;
                top: -5px;
                z-index: 1;
                overflow: hidden;
                width: 130px;
                height: 130px;
                text-align: right;
                span {
                    font-size: 14px;
                    font-weight: bold;
                    color: #FFF;
                    text-transform: uppercase;
                    text-align: center;
                    line-height: 24px;
                    transform: rotate(45deg);
                    -webkit-transform: rotate(45deg);
                    width: 145px;
                    display: block;
                    background: #79A70A;
                    background: linear-gradient(hubl("$cta_background")0%, hubl("$cta_background") 100%);
                    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
                    position: absolute;
                    top: 31px;
                    right: -31px;
                    &:before {
                        content: "";
                        position: absolute;
                        left: 0px;
                        top: 100%;
                        z-index: -1;
                        border-left: 3px solid hubl("$cta_background");
                        border-right: 3px solid transparent;
                        border-bottom: 3px solid transparent;
                        border-top: 3px solid hubl("$cta_background");
                    }
                    &:after {
                        content: "";
                        position: absolute;
                        right: 3px;
                        top: 100%;
                        z-index: -1;
                        border-left: 3px solid transparent;
                        border-right: 3px solid hubl("$cta_background");
                        border-bottom: 3px solid transparent;
                        border-top: 3px solid hubl("$cta_background");
                    }
                }
            }
            .content {
                font-size: 16px;
                color: hubl("$main_font_color");
                font-weight: normal;
                text-align: justify;
            }
            .hover {
                display: none;
            }
            .button-inner {
                display: none;
            }
            a.button {
                margin-top: 25px;
                background-color: hubl("$cta_background");
                border-color: hubl("$cta_background");
                color: hubl("$cta_color");
                display: inline-block;
                padding: 12px 35px;
                position: absolute;
                bottom: 38px;
                right: 0;
                font-size: 16px;
                &:hover {
                    background-color: hubl("$cta_color");
                    color: hubl("$cta_background");
                }
                @media (max-width: 1099px) {
                    position: static;
                }
            }
            &:first-child {
                padding-top: 0;
            }
            &:last-child {
                padding-bottom: 0;
                a.button {
                    bottom: 0;
                }
            }
        }
        &.tiles {
            .listing-header {
                margin: 28px 0 -37px 26px;
                @media(max-width: 767px) {
                    margin: 28px 0 -37px 0px;
                }
            }
            .single-post {
                max-width: 384px;
                float: left;
                margin-left: 25px;
                padding-bottom: 0;
                margin-bottom: -17px;
                @media (max-width: 767px) {
                    margin-left: 0;
                }
                &:nth-child(even) {
                    margin-left: 35px;
                    @media (max-width: 767px) {
                        margin-left: 0;
                    }
                }
                .button {
                    display: none;
                }
                .content {
                    display: none;
                }
                >.span7 {
                    clear: both;
                    margin-left: 0;
                    h3 {
                        font-size: 30px;
                        margin-top: 15px;
                        margin-left: 3px;
                    }
                }
                .featured-image {
                    width: 100%;
                }
                .image-wrapper {
                    margin: 0 auto;
                    width: 100%;
                    max-width: 379px;
                    max-height: 379px;
                    img {
                        max-width: 379px;
                    }
                    &:hover .hover {
                        clip: rect(0px, 379px, 379px, 0px);
                    }
                }
                .hover {
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 0;
                    background-color: hubl_rgba("$first_color", 0.61);
                    height: 100%;
                    width: 100%;
                    clip: rect(379px, 379px, 379px, 0px);
                    transition: 0.5s;
                    .button-inner {
                        display: inline-block;
                        background-color: #fff;
                        color: hubl("$first_color");
                        transform: translate(-50%, -50%);
                        top: 50%;
                        left: 50%;
                        padding: 12px 37px;
                        position: absolute;
                        white-space: nowrap;
                        border-radius: 4px;
                    }
                }
                a.button {
                    display: none;
                }
            }
        }
    }

    .right-sidebar {
        background-color: #fff;
        min-height: 545px;
        width: 100%;
        max-width: 311px;
        @media (max-width: 992px) and (min-width: 768px) {
            max-width: 220px;
        }
        @media (max-width: 767px) {
            min-height: 0px;
            width: 100%;
            max-width: none;
            height: 100%;
        }
        h4 {
            margin-left: 20px;
            color: hubl("$main_font_color");
            font-size: 20px;
            font-weight: 600;
            @media (max-width: 767px) {
                margin-bottom: -10px;
            }
        }
    }
    .sidebar-submenu {
        border: none;
        ul li a.active-child {
            background-color: hubl("$first_color");
            color: #FFF;
        }
        ul li.hs-item-has-children > ul.hs-menu-children-wrapper li a.active:before {
            content: "";
            display: block;
            background: hubl("$cta_background");
            width: 7px;
            height: 7px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            position: absolute;
            left: -4px;
            top: 18px;
        }
    }
}
