.header-with-search{
    background-size:cover;
    height: 500px;
    width: 100%;
    margin-top:70px;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .mask{
        top:0;
        left:0;
        width:100%;
        height:100%;
        position:absolute;
        background-color:#000;

    }

    .description-header{
        position: relative;
        z-index: 3;
        text-align: center;
        width: 90%;
        h1{
            font-weight:300!important;
            z-index:2;
            font-size: 58px;
            width:100%;
            font-weight:normal;
            margin:0;
            color: #fff;
            word-wrap: break-word;
            @media only screen and (max-width : 480px){
                font-size: 40px;
            }
            span{
                font-weight:600!important;
                @media only screen and (max-width : 480px){
                    font-size: 40px;
                }
            }
        }
        p{
            color: #fff;
            font-size: 23px;
            padding-top: 13px;
            @media only screen and (max-width : 480px){
                padding-top: 0px;
            }
        }
        .search-wrap{
            display: flex;
            justify-content: center;
            margin-top: 56px;
            @media only screen and (max-width : 767px){
                flex-direction: column;
                align-items:center;
            }
            @media only screen and (max-width : 480px){
                margin-top: 36px;
            }
            .input-wrap{
                width: 626px;
                margin-right: 20px;
                display: flex;
                @media only screen and (max-width : 767px){
                    margin-right: 0px;
                    margin-bottom: 20px;
                    width: 95%;
                }
                input[type="text"]{
                    display: inline-block;
                    max-width: 626px;
                    height: 46px;
                    border-radius: 5px;
                    border:none;
                    padding-left: 20px;
                    @media only screen and (max-width : 767px){
                        width: 100%;
                    }
                    &:focus span{
                        
                            &:after{
                                color: red;
                            }
                        
                    }
                }
                span{
                    width: 0px;
                    &:after{
                    font-family: FontAwesome;
                    content: "\f002";
                    color: hubl("$cta_background");
                    position: relative;
                    right: 50px;
                    top:10px;
                    }
                }
            }
            input[type="submit"]{
                @extend .cta-primary;
                padding: 0;
                display: block;
                width: 145px;
                height: 46px;
                border-radius: 5px;
            }
        }

    }
}
