.hero-banner-landing {
    min-height: 695px;
    margin-top: 70px;
    position: relative;
    background-size: cover!important;
    .opacity-bg {
        background: hubl_rgba("$first_color", 0.55);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    .container {
        position: relative;
        padding-top: 50px;
        padding-bottom: 50px;
        display: flex;
        flex-wrap: nowrap;
        .hero-banner-wrap {
            z-index: 1;
            text-align: left;
            flex-grow: 1.2;
            max-width: 570px; //width: 60%;
            margin-right: 20px;
            h1 {
                text-transform: none;
                text-align: left;
                font-weight: 400;
                color: #fff;
                font-size: 50px;
                span {
                    letter-spacing: 3px;
                }
                @media (max-width: 500px){
                    word-break: normal;
                    hyphens: auto;
                    font-size:40px;
                }
            }
            h2 {
                font-size: 30px;
                line-height: 125%;
                padding: 15px 0;
                font-weight: 200;
                color: #fff;
                text-transform: none;
                text-align: left;
            }
            p {
                font-size: 18px;
                line-height: 24px;
                font-weight: 200;
                max-width: 600px;
                color: #fff;
                margin-bottom: 40px;
            }
            &__rich-text {
                color: #fff;
                p {
                    margin-bottom: 20px;
                }
            }
            ul {
                list-style: none;
                    padding-left: 40px;
    margin-bottom: 20px;

                li {
                    float: none;
                    text-align: left;
                    position: relative;
                    margin-right: 0px;
                    margin-bottom: 6px;
                    &:before {
                        content: "\f00c";
                        font-family: FontAwesome;
                        color: #005171;
                        position: absolute;
                        width: 16px;
                        height: 20px;
                        line-height: 20px;
                        left: -30px;
                        // top: 50%;
                        // transform: translateY(-50%);
                    }
                }
            }
        }
    }
    .form-placeholder {
        margin-left: auto;
        flex-grow: 0.8;
        max-width: 430px;
        .hero-banner-form {
            z-index: 1; //max-width: 430px;
            border-radius: 5px;
            background-color: rgba(255, 255, 255, 0.8);
            padding: 0 30px; //margin-left: auto;
            //flex-grow: 0.8;
            .hs_submit {
                input {
                    white-space: normal;
                    word-break: break-word;
                }
            }
            ul {
                list-style: none!important;
            }
            .inputs-list {
                li {
                    label {
                        position: relative;
                    }
                }
            }
            .hs-error-msgs {
                list-style-type: none;
                margin-top: 5px;
                label {
                    font-size: 14px;
                    color: #fff;
                }
            }
            h3 {
                font-family: hubl("$font");
                font-weight: 600;
                font-size: 30px;
                line-height: 40px;
                color: hubl("$main_font_color");
                text-align: center;
                padding-top: 20px;
                position: relative;
                span {
                    color: hubl("$cta_background");
                    margin-left: 2px;
                    position: relative;
                    letter-spacing: 3px;
                }
            }
            .hs-form-field {
                margin-bottom: 20px;
                box-shadow: none;
                color: hubl("$main_font_color");
                .hs-form-required { display: none; }
                    input {
                        border: none;
                        border-radius: 4px;
                        background-color: #ffffff;
                    }    
                    .hs-input {
                        font-size: 18px;
                        font-family: hubl("$font");
                        font-weight: 200;
                        height: 55px;
                        border: none;
                        padding-left: 13px;
                    }  
                    input[type="checkbox"].hs-input{
                        height:25px;
                    }
                    input[type="radio"].hs-input{
                        height:25px;
                    }
                    input[type="checkbox"].hs-input + span{
                        padding-left: 9px;
                    }  
                    textarea{
                            border-radius: 4px;
                    }   
                    select {
                            background-color: #fff;
                            outline: 0;
                            font-size: 16px;
                            font-weight: 400;
                            border: solid 1px  #d3d3d3;
                            color: hubl("$main_font_color"); 
                            font-family: Palanquin, sans-serif;
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            appearance: none;
                            margin-top: 0px;
                            background-image: url('//cdn2.hubspot.net/hubfs/685080/IMG-TurboSodium/Sodium%20v2/angle-down-gray.png');
                            background-repeat: no-repeat;
                            background-position-x: 98%;
                            background-position-y: 56%;
                            width: 100%;
                            height: 55px;
                    }        
              
            }
            //                 .hs_dropdown_example {
            //     background: white;
            //     border-radius: 4px;
            //     position: relative;
            //     &:after {
            //         position: absolute;
            //         font-size: 22px;
            //         content: "\f105";
            //         font-family: "FontAwesome";
            //         color: hubl("$cta_background");
            //         right: 25px;
            //         top: 12px;
            //         width: 7px;
            //         height: 12px;
            //     }
            //     select {
            //         color: rgba(98, 98, 98, 0.6);
            //         background-color: #fff;
            //         outline: none;
            //         appearance: none;
            //     }
            // }
            .hs-button.primary.large {
                @extend .cta-primary;
                min-height: 27px;
                min-width: 134px;
                padding: 20px 10px;
                font: 400 22px / 22px hubl("$font");
                margin-bottom: 20px;
                width: 100%;
            }
        }
    }
}

@media (max-width: 767px) {
    .hero-banner-landing {
        .container {
            flex-wrap: wrap;
            .hero-banner-form {
                margin: 50px auto;
            }
            .hero-banner-wrap {
                width: 100%;
                margin: 0 20px;
            }
        }
    }
}

.ios,
.safari {
    .hero-banner-landing {
        .container {
            .hero-banner-wrap {
                h1,
                h2,
                p {
                    font-weight: 400;
                }
            }
        }
        .hero-banner-form {
            .hs_submit {
                input {
                    font-weight: 400;
                }
            }
        }
    }
}