.homeslider {
	.mask {
		background-color: rgba(0, 0, 0, 0.36);
		height: 100%;
	}

	.slick-dots {
		bottom: 30px;
		width: 100%;
		list-style: none;
		text-align: center;

		li {
			button:before {
				font-size: 26px;
			}

			&.slick-active {
				button:before {
					color: #fff;
				}
			}
		}
	}

	.slick-arrow {
		position: absolute;
		top: 50%;
		width: auto;
		height: auto;
		transform: translateY(-50%);
		z-index: 1;

		&.slick-prev {
			left: 48px;

			&:before {
				content: '';
				background-image: url('//cdn2.hubspot.net/hubfs/685080/HubSpot_Template_Marketplace/Turbo_Sodium/assets/arrow-left.png');
				background-repeat: no-repeat;
				background-size: cover;
				width: 30px;
				height: 58px;
				display: block;
			}
		}

		&.slick-next {
			right: 48px;

			&:before {
				content: '';
				background-image: url('//cdn2.hubspot.net/hubfs/685080/HubSpot_Template_Marketplace/Turbo_Sodium/assets/arrow-left.png');
				background-repeat: no-repeat;
				background-size: cover;
				transform: scaleX(-1);
				width: 30px;
				height: 58px;
				display: block;
			}
		}
	}

	.slide {
		position: relative;
		height: 100vh;
		min-height: 400px;
		background-position: center;
		background-size: cover;

		.content {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			min-width: 80%;

			h1 {
				width: 80%;
				display: block;
				margin: 0 auto;
				color: #fff;
				font-weight: 400;
				// word-break: break-all;
				span {
					font-weight: 700;
				}
			}

			.h1, .h2 {
				font-size: 58px;
				color: #fff;
				text-transform: uppercase;
				text-align: center;
				width: 100%;
				display: block;
				margin: 10px auto 0px auto;
				font-weight: 400;
				@media (max-width: 768px) {
					font-size: 33px;
				}
				@media (max-width: 450px) {
					font-size: 25px;
				}
			}

			h2,
			h3,
			h4,
			h5,
			h6 {
				color: #fff;
			}

			p, h3 {
				@media (max-width: 768px) {
					line-height: 0.9;
				}

				span {
					@media (max-width: 768px) {
						color: #fff;
						font-size: 20px;
						font-weight: 400;
						text-align: center;
					}
				}
			}

			p:last-of-type {
				text-align: center;
				margin-top: 40px;

				a.cta_button {
					position: relative;
					margin-bottom: 20px;
					margin-left: 10px;
					margin-right: 10px;
				}

				> .hs-cta-wrapper:first-of-type {
					a.cta_button {
						position: relative;
					}
				}
			}
		}
	}
}

@media (max-width: 767px) {
	.homeslider {
		.slide {
			.content {
				p {
					font-size: 15px;
				}
			}
		}
	}
}

@media (max-width: 480px) {
	.homeslider {
		.slide {
			.content {
				h1 {
					width: 100%;
					font-size: 40px;
				}
			}
		}
	}
}