.introduction-text {
    margin: 70px 0px 25px 0px;
    .header-wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 10px 0px;

        h2 {
            margin: 10px 0px;
            &:first-child {
                margin-right: 10px;
            }
        }
        .h2 {
            margin: 10px 0;
            font-size: 36px;
            @media (max-width: 450px) {
                font-size: 28px;
            }
		}
		@media (max-width: 767px) {
			flex-direction: column;
			.h2 {
				margin-top: 0;
			}
        }
    }
    ul{
        padding-left: 20px;
    }
    
}