.pricing-box {
	margin: 0 15px;
	flex-basis: 265px;
	//min-width: 190px;
	border: 2px solid hubl("$first_color");
	border-radius: 2px;
	text-align: center;
	color: hubl("$main_font_color");
	@media screen and (max-width: 767px) {
		//width: 300px;
		flex-basis: auto;
		min-width: 245px;
	}

	@media screen and (max-width: 400px) {
		width: 260px;
	}
	&__container {
		.widget-span {
			.hs_cos_wrapper_widget_container {
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 150px 0 375px 0;
				@media screen and (max-width: 767px) {
					flex-flow: column nowrap;
					align-items: center;
					padding: 75px 0 200px 0;
				}
				.hs_cos_wrapper {
					flex-basis: 265px;
					@media screen and (max-width: 767px) {
						margin-bottom: 50px;
						flex-basis: auto;
						min-width: 245px;
					}
				}
			}
		}		
	}

	&__starting-at {
		text-align: center;
	}
	
	&__price {
		display: block;
		font-size: 51px;
		color: hubl("$first_color");
		margin-top: -15px;
		font-weight: bold;
		i {
			font-size: 41px;
		}
	}
	&__features {
		text-align: center;
	}

	&__order {
		text-align: center;
	}

	&__title {
		margin-top: 0;
		padding: 20px 20px;
		font-size: 31px;
		font-weight: 400;
		color: hubl("$first_color");
		width: 100%;
		display: block;
		border-bottom: 1px solid hubl("$first_color");
	}
	
	&__starting-at {
		color: hubl("$main_font_color");
		font-size: 16px;
		padding-bottom: 10px;
	}
	&__feature-text {
		border-bottom: 1px solid hubl("$first_color");
		padding-bottom: 10px;
		width: 80%;
		margin: 15px auto;
		display: block;

	}
	&__feature-text--bold {
		color: hubl("$first_color");
		font-weight: bold;
		display: inline-block;
		margin-right: 5px;
	}

	&__order {
		@extend .cta-primary;
		margin-bottom: 15px;
		background-color: hubl("$cta_background");
		border: 2px solid hubl("$cta_background");
		color: hubl("$cta_color");
		&:hover {
			background-color: hubl("$cta_hover_background");
			border: 2px solid hubl("$cta_background");
			color: hubl("$cta_hover_color");
		}
	}
	&.highlight {                
		transform:scale(1.13);
	    transition:0.3s linear all;
	    background-color: hubl("$first_color");
	    @media (max-width: 767px) {
	    	//margin-bottom: 50px;
	    }
	    .pricing-box__title{
	        color:#fff;
	        border-bottom-color:#fff; 
	        transition:0.3s linear all;
	    }
	    .pricing-box__starting-at{
	        color:#fff;
	        transition:0.3s linear all;
	    }
	    .pricing-box__price{
	        color:#fff;
	        transition:0.3s linear all;
	    }
	    .pricing-box__features{
	        .pricing-box__feature-text{
	            border-bottom-color:#fff;
	            color:#fff;
	            transition:0.3s linear all;
	            .pricing-box__feature-text--bold{
	                color:#fff;
	                transition:0.3s linear all;
	            }
	        }
	    }
	    a{
	        &.pricing-box__order{
	            background-color: hubl("$cta_hover_background");
	            color: hubl("$cta_hover_color");
	            border: 2px solid hubl("$cta_hover_background");
	            &:hover{
	                color: hubl("$cta_color");
	                background-color: hubl("$cta_background");
	                border: 2px solid hubl("$cta_hover_background");
	            }
	        }
	    }
	}
}	

              