//--------------RESOURCES CATEGORY STYLES-------------
.resource-categories__list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-top: 100px;
    white-space: nowrap;
    flex-wrap: wrap;
    /*@media screen and (max-width: 1000px) {
	flex-wrap: wrap;  	
  }*/
    @media screen and (max-width: 500px) {
        flex-direction: column;
        margin-top: 30px;
    }
}

.resource-categories__element {
    cursor: pointer;
    padding: 10px 25px;
    text-transform: uppercase;
    -webkit-transition: all .3s;
    transition: all .3s;
    border-radius: 5px;
    font-size: 1.1em;
    background: hubl("$cta_background");
    color: white;
    margin: 10px;
    text-align: center;
    @media screen and (max-width: 1000px) {
        text-align: center;
    }
    &--active {
        background-color: #fff; // border-bottom: 2px solid hubl("$cta_background");
        color: hubl("$cta_hover_color");
    }
    &:last-of-type {
        border: 0;
    }
    @media (max-width: 500px) {
        padding: 10px;
        font-size: 14px;
    }
}

.resource-categories__element:hover {
    background-color: #fff; // border-bottom: 2px solid hubl("$cta_background");
    color: hubl("$cta_hover_color");
}

.stl {
    .resource-categories__list {
        flex-wrap: nowrap;
        flex-direction: column;
        border-radius: 4px; // border: 2px solid hubl("$cta_background");
    }
    .resource-categories__element {
        margin: 0;
        border-radius: 0;
        &:first-of-type {
            border-top-right-radius: 4px;
            border-top-left-radius: 4px;
        }
        &:last-of-type {
            border-bottom-right-radius: 4px;
            border-bottom-left-radius: 4px;
        }
    }
}