.resource__container {
    // background-color: red;
    padding: 50px 0px;
    min-height: 400px;
}

.resource {
    display: flex;
    margin-top: 50px;
    width: 50%; //  background-color: blue;
    padding: 7.5px;

    .resource-image {
        position: absolute;
        z-index: 10;
        width: 125px;
        height: 125px;
        transform: translate(-4px, -4px);

        &--right {
            right: 0;
            transform: rotate(90deg) translate(-4px, 3px);
        }
    }

    .title-on-image {
        position: absolute;
        z-index: 10;
        width: 125px;
        height: 25px;
        transform: rotate(-45deg) translate(-35px, -32px);

        &--right {
            right: 0;
            transform: rotate(45deg) translate(15px, -10px);
        }

        .title {
            &--grey {
                div {
                    color: hubl('$font_d_grey');
                }
            }

            &--blue {
                div {
                    color: hubl('$white');
                }
            }

            &--dark-blue {
                div {
                    color: hubl('$white');
                }
            }

            div {
                text-align: center;
                font-size: 14px;
                font-weight: bold;
            }
        }
    }

    .resource-new-container {
        display: flex;
        width:100%;
        padding: 20px;

        @media(max-width: 620px) {
            flex-direction: column;
        }

        &.label {
            border: 2px dashed hubl('$white');

            &--grey {
                border: 2px dashed hubl('$d_grey');
            }

            &--blue {
                border: 2px dashed hubl('$d_blue');
            }

            &--dark-blue {
                border: 2px dashed hubl('$d_grey');
            }
        }
    }

    @media screen and (max-width: 1024px) {
        width: 100%;
    }

    @media screen and (max-width: 620px) {
        flex-direction: column;
        margin: 0;
    }

    &--vertical {
        flex-direction: column; // width: 285px; 
        justify-content: flex-start;
        text-align: center;
        margin: 50px auto 50px;
        width: 25%;

        @media screen and (max-width: 1170px) {
            width: 33.3%;
        }

        @media screen and (max-width: 767px) {
            width: 50%;
        }

        @media screen and (max-width: 620px) {
            width: 100%;
        }
    }

    &__container {
        padding-top: 50px;
        padding-bottom: 50px;
        min-height: 400px; // display: flex;

        // justify-content: center;
        // //margin: 0 auto;
        // flex-wrap: wrap;
        &--vertical {
            max-width: 1170px; //  justify-content: flex-start;
            padding-bottom: 100px;
            width: 100%;
            margin: 50px auto;
            padding: 0px; //  background-color: pink;
        }
    }

    &__image-container {
        flex-basis: auto; //40%;

        .resource--vertical & {
            flex-basis: auto;
            margin-bottom: 28px;

            @media screen and (max-width: 400px) {
                margin-bottom: 5px;
            }
        }
    }

    &__image {
        width: 100%;
        height: 100%;
        transition: transform .3s, opacity .3s;

        &:hover {
            transform: scale(1.2);
            opacity: .9;
            cursor: pointer;
        }
    }

    &__description {
        // display: none;
        //  -webkit-box-flex: 1;
        //  -ms-flex-positive: 1;
        // flex-grow: 1;
        margin-top: 30px;
        width: 100%;

        .resource--vertical & {
            margin-top: 10px;
            padding-right: 0;
        }
    }

    &__details {
        // margin-left: 10px;
        padding-left: 15px;
        flex-basis: auto; //50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        flex: 1 0;
        text-align: left;

        @media screen and (max-width: 620px) {
            padding-left: 0px;
            margin-left: 0px;
        }

        .resource--vertical & {
            margin-left: 0;
            flex-basis: auto;
            text-align: center;
        }
    }

    &__title {
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 24px;
        font-weight: normal;
        color: hubl("$first_color") !important;

        .resource--vertical & {
            width: 100%;
            padding: 0 5px;
        }
    }

    &__button {
        background: hubl("$cta_background");
        color: hubl("$cta_color");
        padding: 13px 45px;
        border-radius: 5px;
        font-weight: 400;
        text-transform: uppercase;
        border: 2px solid hubl("$cta_background");
        transition: all .2s linear;

        .resource--vertical & {
            display: block;
            margin: 0 auto;
        }

        &:hover {
            background: hubl("$cta_hover_background");
            color: hubl("$cta_hover_color");
            border: 2px solid hubl("$cta_background");
            cursor: pointer;
        }
    }

    &__effects-wrapper {
        height: 300px;
        width: 200px; // box-shadow: 6px 6px 0 hubl("$cta_background"), 2px 1px 5px rgba(black, .3);
        box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.4);
        overflow: hidden;
        background: black;

        @media screen and (max-width: 1170px) {
            margin: 20px auto;
        }
        @media (max-width: 620px) {
            margin: 20px 0;
        }
        &--changes{
            @media(max-width:1170px){
                margin-top:0px;
            }
        }

        .resource--vertical & {
            margin: 0 auto;
        }
    }

    &.videoModule,
    &.videoOverlay {
        .resource__video-popup {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(hubl("$first_color"), .9);
            z-index: 99999;
            overflow: hidden;

            .video-wrapper {
                position: relative;
                overflow: hidden;
                width: 100%;
                height: 100%;

                iframe,
                video {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 100%;
                    height: 100%;

                    @media (min-width: 1050px) {
                        width: 1024px;
                        height: 576px;
                    }

                    @media (min-width: 768px) and (max-width: 1023px) {
                        width: 740px;
                        height: 416px;
                    }

                    @media (min-width: 450px) and (max-width: 767px) {
                        width: 420px;
                        height: 236px;
                    }

                    @media (max-width: 449px) {
                        width: 280px;
                        height: 158px;
                    }
                }
            }

            .exit {
                position: absolute;
                right: 20px;
                top: 20px;
                width: 20px;
                height: 20px;
                color: #fff;
                font-size: 40px;
                background-image: url(https://www.storylead.com/hubfs/STORYLEAD%202017/Icons/exit-btn-diamond.png);
                background-size: cover;
                background-repeat: no-repeat;
                z-index: 88;

                &:hover {
                    cursor: pointer;
                }

                @media (max-width: 580px) {
                    right: 10px;
                    top: 10px;
                }

                @media (max-width: 450px) {
                    width: 15px;
                    height: 15px;
                    right: 5px;
                    top: 5px;
                }
            }
        }

        .resource__effects-wrapper {

            a {
                position: relative;
                display: block;
                width: 100%;
                height: 100%;

                .video-hover-effect {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(hubl("$first_color"), .84);

                    img {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        opacity: .7;
                        transition: .3s linear opacity;
                    }
                }

                &:hover {
                    .video-hover-effect {
                        img {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}

.safari {
    .resource__button {
        font-weight: 400;
    }
}

@media screen and (max-width: 600px) {
    .resource {
        // flex-direction: column;
        // &__description {
        //   padding-right: 35px;
        // }
    }

    .resource__image-container {
        // flex-basis: 50%;
    }

    .resource__details {
        margin-left: 0;
    }

    .resource__title {
        margin-top: 20px;
    }

    .resource__container {
        min-height: 300px;
    }
}

@media screen and (max-width: 500px) {
    .resource__container {
        padding-top: 0;
    }

    .resource {
        //  width: 100%;
    }
}