.small-header-for-products {
    overflow: hidden;
    background-size: cover;
    height: 500px;
    margin-top: 70px;
    position: relative;
    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }
    .mask {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.30);
    }
    h1 {
        max-width: 1170px;
        padding: 0 15px;
        font-weight: 200!important;
        z-index: 2;
        font-size: 58px;
        width: 100%;
        font-weight: normal;
        margin: 0;
        color: #fff;
        line-height: 1.2;
        span {
            color: hubl("$cta_background");
            font-weight: 600;
        }
        @media (max-width: 767px) {
            font-size: 30px;
        }
    }
    h2 {
        font-size: 20px;
        color: #FFF;
        letter-spacing: 0.04em;
        text-transform: none;
        text-align: center;
        font-weight: 400;
        margin-top: 25px;
    }
}


