.stl-header-phone {
	position: absolute;
	top: 0;
	right: 50px;
	z-index: 9999;

	@media (min-width: 576px) {
		right: 60px;
	}

	@media (min-width: 1124px) {
		right: 15px;
	}

	&__button {
		display: flex;
		align-items: center;
		background-color: hubl("$cta_background");
		border: 2px solid hubl("$cta_background");
		border-top: none;
		color: hubl("$cta_color");
		font-size: 12px;
		line-height: 1;
		font-weight: 900;
		text-transform: uppercase;
		text-align: center;
		text-decoration: none;
		padding: 5px 10px;
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;
		cursor: pointer;
		-webkit-appearance: none;
		transition: all .3s ease;

		svg {
			margin-right: 5px;

			path {
				transition: all .3s ease;
			}
		}

		&:hover {
			background-color: hubl("$cta_hover_background");
			border-color: hubl("$cta_background");
			color: hubl("$cta_hover_color");

			svg {
				path {
					fill: hubl("$cta_hover_color");
				}
			}
		}

		@media (min-width: 576px) {
			padding: 11px 18px;
		}
	}
}