.stl-survey-hero-banner {
	height: 580px;
	position: relative;
	width: 100%;
	float: left;
	overflow: hidden;

	.container {
		height: inherit;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.mask {
		z-index: 1;
	}

	&__header {
		position: relative;
		z-index: 2;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;

		h1 {
			margin-left: 20px;
			margin-right: 20px;
			@media (max-width: 767px) {
				font-size: 44px;
			}
		}

		.cta_button {
			margin-left: 20px;
			margin-right: 20px;
		}
	}

	&__icons-wrapper {
		position: relative;
		z-index: 2;
		display: flex;
		margin-bottom: 100px;
		width: 100%;

			@media (max-width: 767px) {
				text-align: center;
				margin-bottom: 0;
			}

		.rect-mask {
			position: absolute;
			height: 130px;
			width: 75%;
			opacity: .4;
			background-color: #fff;
			box-shadow: 0px 8px 24.5px 2.4px rgba(0, 0, 0, 0.15);
			z-index: 1;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			@media (max-width: 767px) {
				display: none;
			}

		}
	}

		&__icon-box {
			position: relative;
			z-index: 2;
			flex-basis: 25%;
			height: 200px;
			text-align: center;

			@media (max-width: 767px) {
				display: none;
				margin: auto;
			}

			&:after, &:before {
				display: block;
				content: "";
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				z-index: 1;
				color: #fff;
				opacity: .6;
				transition: all .5s ease-in-out;
			}

			&:after {
				bottom: -49px;
				height: 100px;
				width: 2px;
				background-image: url('https://www.storylead.com/hubfs/STL%20WEBSITE%202017/LANDINGS/BUSINESS%20CHECK%20SURVEY/dotted-line.png');
			}

			&:before {
				content: "●";
				bottom: -65px;
			}

			.inner-rect-mask {
				position: absolute;
				height: 130px;
				width: 100%;
				opacity: 0;
				background-color: #fff;
				z-index: 1;
				top: 50%;
				left: 50%;
				transform: translateY(-50%);
				z-index: 1;

				&--active {
					opacity: .6;
				}
			}

			&--active {

				@media (max-width: 767px) {
					display: block;
					flex-basis: 100%;
					margin-bottom: 100px;
				}

				.stl-survey-hero-banner__icon-image, .stl-survey-hero-banner__icon-title {
					opacity: 1;
				}

				&:after, &:before {
					opacity: 1 !important;
				}
			}
		}

			&__icon-image-background {
				width: 160px;
				height: 160px;
				background: #fff;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				border-radius: 50%;
				box-shadow: 0px 8px 16px 1.6px rgba(0, 0, 0, 0.05);
				z-index: 2;
			}

				&__icon-image {
					position: relative;
					z-index: 2;
					top: 50%;
					transform: translateY(-50%);
					opacity: .4;
					transition: all .5s ease-in-out;
				}

			&__icon-title {
				position: absolute;
				width: 100%;
				bottom: -95px;
				left: 50%;
				transform: translateX(-50%);
				color: #fff;
				text-transform: uppercase;
				opacity: .4;
				transition: all .5s ease-in-out;
			}
}